In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
!pip install pyspark

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

Requirement already satisfied: pyspark in /opt/anaconda/envs/Python3/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /opt/anaconda/envs/Python3/lib/python3.8/site-packages (from pyspark) (0.10.9.3)

In [3]:
!bash install_spark.sh

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

bash: install_spark.sh: No such file or directory

In [4]:
# Import needed packages 

import pandas as pd
from bs4 import BeautifulSoup
import requests
from requests import get
import json
from io import StringIO
import re
import os
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np
from datetime import datetime
import csv

In [5]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/project/spark-3.2.1-bin-hadoop3.2"

In [6]:
spark = SparkSession \
    .builder \
    .appName("PySpark App") \
    .config("spark.jars", "postgresql-42.3.2.jar") \
    .getOrCreate()

I noticed that there is a "download" button right above the data table, so those data can be accessed through the API.

In [7]:
header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.84 Safari/537.36'}

In [8]:
def get_response(stock):
    
    '''
    Use the API to get the content of html based on time series
    '''

    stock_url = "https://query1.finance.yahoo.com/v7/finance/download/{}?"
    
    params ={ 
    'period1' : '1334707200',
    'period2' : '1650240000',
    'interval':  '1wk',
    'events': 'history'}
    
    response = requests.get(stock_url.format(stock), params= params, headers=header)
    
    return response

uga = get_response("UGA")
shell = get_response("SHEL.L")

In [9]:
def collect_data(response):
    file = StringIO(response.text)
    reader = csv.reader(file)
    data = list(reader)
    return data

uga_info = collect_data(uga)
shell_info = collect_data(shell)

In [10]:
len(uga_info)
len(shell_info)

523

524

In [11]:
uga_info[:3]
shell_info[:3]

[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
 ['2012-04-16',
  '55.930000',
  '56.150002',
  '54.439999',
  '54.849998',
  '54.849998',
  '517500'],
 ['2012-04-23',
  '54.200001',
  '55.360001',
  '54.080002',
  '55.119999',
  '55.119999',
  '412200']]

[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
 ['2012-04-16',
  '2158.000000',
  '2167.000000',
  '2082.500000',
  '2136.500000',
  '1212.857422',
  '9858753'],
 ['2012-04-23',
  '2121.000000',
  '2202.000000',
  '2085.500000',
  '2188.000000',
  '1242.093140',
  '20392958']]

In [12]:
def new_fun(values):
    dic = dict(zip(uga_info[0], values))
    return dic

uga_values = [uga_info[1:][i] for i in range(522)]
rename = map(new_fun, uga_values)
uga_stockprice = pd.DataFrame(rename)
uga_stockprice.rename(columns = {'Adj Close':'Adj_Close'}, inplace=True)
uga_stockprice.head()

         Date       Open       High        Low      Close  Adj_Close  Volume
0  2012-04-16  55.930000  56.150002  54.439999  54.849998  54.849998  517500
1  2012-04-23  54.200001  55.360001  54.080002  55.119999  55.119999  412200
2  2012-04-30  55.020000  55.160000  51.770000  52.259998  52.259998  694200
3  2012-05-07  52.080002  53.139999  51.570000  52.750000  52.750000  533400
4  2012-05-14  51.970001  52.200001  50.419998  50.549999  50.549999  231800

In [13]:
def new_fun(values):
    dic = dict(zip(shell_info[0], values))
    return dic
shell_values = [shell_info[1:][i] for i in range(522)]
rename = map(new_fun, shell_values)
shell_stockprice = pd.DataFrame(rename)
shell_stockprice.rename(columns = {'Adj Close':'Adj_Close'}, inplace=True)
shell_stockprice

,Date,Open,High,Low,Close,Adj_Close,Volume
0,2012-04-16,2158.000000,2167.000000,2082.500000,2136.500000,1212.857422,9858753
1,2012-04-23,2121.000000,2202.000000,2085.500000,2188.000000,1242.093140,20392958
2,2012-04-30,2186.000000,2220.214111,2132.000000,2142.000000,1215.979736,13495471
3,2012-05-07,2142.000000,2152.500000,2018.500000,2067.000000,1173.403320,15040906
4,2012-05-14,2051.500000,2051.500000,1956.500000,1982.000000,1140.421631,18347443
...,...,...,...,...,...,...,...
517,2022-03-14,1955.400024,1965.599976,1871.199951,1941.800049,1941.800049,146845246
518,2022-03-21,1959.599976,2122.500000,1954.199951,2110.500000,2110.500000,152968051
519,2022-03-28,2079.000000,2121.500000,2009.000000,2119.500000,2119.500000,121966684
520,2022-04-04,2120.000000,2168.500000,2078.000000,2168.000000,2168.000000,144486519
521,2022-04-11,2154.000000,2203.500000,2120.000000,2192.000000,2192.000000,89730982

In [14]:
# convert the data frame into spark data frame
uga_stockprice = spark.createDataFrame(uga_stockprice)
shell_stockprice = spark.createDataFrame(shell_stockprice)

In [15]:
uga_stockprice.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Adj_Close: string (nullable = true)
 |-- Volume: string (nullable = true)

In [16]:
shell_stockprice.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Adj_Close: string (nullable = true)
 |-- Volume: string (nullable = true)

In [17]:
uga_stockprice.write.parquet("/project/DataEngineering/parquet_files/uga_info.parquet", mode = 'overwrite')
shell_stockprice.write.parquet("/project/DataEngineering/parquet_files/shell_info.parquet", mode = 'overwrite')

Now look at the fuel price in the US by web scraping from website.

In [18]:
us_url = 'https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0U_PTE_NUS_DPG&f=W'
r = requests.get(us_url)
r.status_code
soup= BeautifulSoup(r.text, 'lxml')
r.text

200

"<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>\r <html>\r <head>\r <meta http-equiv='X-UA-Compatible' content='IE=9' />\r <script src='../includes/TableFloaterTitle.js'></script>\r <title>Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)</title>\r <link rel='StyleSheet' href='../Styles/Pet_wrapper3.css' TYPE='text/css'>\r <link rel='StyleSheet' href='../Styles/leaf_new2.css' TYPE='text/css'>\r <link rel='StyleSheet' href='/styles/Eia_sitewideF.css' type='text/css' />\r <!-- Header Script -->\r <script language='JavaScript' src='/styles/eia_header.js' type='text/javascript'></script>\r <!--/ Header Script -->\r <script src='/global/includes/dnavs/leaf_handler.cfm' type='text/javascript'></script>\r <!-- Footer Script -->\r <script language='JavaScript' src='/styles/eia_footer.js' type='text/javascript'></script>\r <!--/ Footer Script -->\r </head>\r <body>\r <script language='JavaScript' type='text/javascript'>InsertEIAHeaderCode();</script>\r <table width='675' border='0' cellspacing='0' cellpadding='0'>\r <tr>\r <td class ='K'>\r </td>\r </tr>\r <tr>\r <td height='12'></td>\r </tr>\r <tr>\r <td>\r <table width='675' border='0' cellspacing='0' cellpadding='0'>\r <tr>\r <td width='400'>\r <table border='2' cellspacing='0' cellpadding='0' bordercolorlight='#6699cc' bordercolordark='#6699cc' style='border: thin;'>\r <tr>\r <td>\r <table border='0' cellspacing='0' cellpadding='0'>\r <tr>\r <td class='J'>&nbsp;View History:&nbsp;&nbsp;</td> <td><a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=w><img src='../img/RadioL_A.jpg' width='12' height='13' alt='' border='0'></a></td> <td class='F'>&nbsp;<a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=w class='NavChunk'>Weekly</a>&nbsp;&nbsp;&nbsp;</td> <td><a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=m><img src='../img/RadioL_I.jpg' width='12' height='13' alt='' border='0'></a></td> <td class='F'>&nbsp;<a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=m class='NavChunk'>Monthly</a>&nbsp;&nbsp;&nbsp;</td> <td><a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=a><img src='../img/RadioL_I.jpg' width='12' height='13' alt='' border='0'></a></td> <td class='F'>&nbsp;<a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=a class='NavChunk'>Annual</a>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r </table>\r </td>\r </tr>\r </table>\r </td>\r <td width='375' align='right' class='F'>\r <a href='../hist_xls/EMM_EPM0U_PTE_NUS_DPGw.xls'  class='crumb'>Download Data (XLS File)</a>\r </td>\r </tr>\r </table>\r </td>\r </tr>\r <tr>\r <td height='15'></td>\r </tr>\r <tr>\r <td><img src='../hist_chart/EMM_EPM0U_PTE_NUS_DPGw.jpg'  width='675' height='275' alt='Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)'></td>\r </tr>\r <tr>\r <td height='12'></td>\r </tr>\r </td>\r </tr>\r <tr>\r <td height='5'></td>\r </tr>\r <!--\r <tr>\r <td nowrap class='E'>&nbsp;use back button to return to prior data&nbsp;</td>\r <td width='95%'></td>\r </tr>\r -->\r <tr>\r <td align='center' bgcolor='#ffffff' class='Title1'>Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)</td>\r </tr>\r <tr>\r <td height='2'></td>\r </tr>\r </table>\r <table SUMMARY=Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon) width='600' border='0' cellspacing='0' cellpadding='2'>\r <table class='FloatTitle' width='675' border='0' cellspacing='1' cellpadding='0'>\r <thead>\r <tr bgcolor='#993333'>\r <th width='80' rowspan='2' class='G2'>Year-Month</th>\r <th colspan='2' class='G2'>Week 1</th>\r <th colspan='2' class='G2'>Week 2</th>\r <th colspan='2' class='G2'>Week 3</th>\r <th colspan='2' class='G2'>Week 4</th>\r <th colspan='2' class='G2'>Week 5</th>\r </tr>\r <tr bgcolor='#993333'>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r </tr>\r </thead>\r <tbody>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1994-Nov</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/28&nbsp;</td>\r <td class='B3'>1.175&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1994-Dec</td>\r <td class='B5'>12/05&nbsp;</td>\r <td class='B3'>1.143&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/12&nbsp;</td>\r <td class='B3'>1.118&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/19&nbsp;</td>\r <td class='B3'>1.099&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/26&nbsp;</td>\r <td class='B3'>1.088&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td height='5' colspan='13'></td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Jan</td>\r <td class='B5'>01/02&nbsp;</td>\r <td class='B3'>1.104&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/09&nbsp;</td>\r <td class='B3'>1.111&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/16&nbsp;</td>\r <td class='B3'>1.102&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/23&nbsp;</td>\r <td class='B3'>1.110&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/30&nbsp;</td>\r <td class='B3'>1.109&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Feb</td>\r <td class='B5'>02/06&nbsp;</td>\r <td class='B3'>1.103&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/13&nbsp;</td>\r <td class='B3'>1.099&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/20&nbsp;</td>\r <td class='B3'>1.093&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/27&nbsp;</td>\r <td class='B3'>1.101&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Mar</td>\r <td class='B5'>03/06&nbsp;</td>\r <td class='B3'>1.103&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/13&nbsp;</td>\r <td class='B3'>1.096&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/20&nbsp;</td>\r <td class='B3'>1.095&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/27&nbsp;</td>\r <td class='B3'>1.102&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Apr</td>\r <td class='B5'>04/03&nbsp;</td>\r <td class='B3'>1.116&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/10&nbsp;</td>\r <td class='B3'>1.134&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/17&nbsp;</td>\r <td class='B3'>1.149&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/24&nbsp;</td>\r <td class='B3'>1.173&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-May</td>\r <td class='B5'>05/01&nbsp;</td>\r <td class='B3'>1.181&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/08&nbsp;</td>\r <td class='B3'>1.204&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/15&nbsp;</td>\r <td class='B3'>1.213&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/22&nbsp;</td>\r <td class='B3'>1.232&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/29&nbsp;</td>\r <td class='B3'>1.234&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Jun</td>\r <td class='B5'>06/05&nbsp;</td>\r <td class='B3'>1.234&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/12&nbsp;</td>\r <td class='B3'>1.230&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/19&nbsp;</td>\r <td class='B3'>1.224&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/26&nbsp;</td>\r <td class='B3'>1.217&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Jul</td>\r <td class='B5'>07/03&nbsp;</td>\r <td class='B3'>1.209&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/10&nbsp;</td>\r <td class='B3'>1.200&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/17&nbsp;</td>\r <td class='B3'>1.189&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/24&nbsp;</td>\r <td class='B3'>1.179&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/31&nbsp;</td>\r <td class='B3'>1.166&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Aug</td>\r <td class='B5'>08/07&nbsp;</td>\r <td class='B3'>1.164&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/14&nbsp;</td>\r <td class='B3'>1.162&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/21&nbsp;</td>\r <td class='B3'>1.163&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/28&nbsp;</td>\r <td class='B3'>1.154&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Sep</td>\r <td class='B5'>09/04&nbsp;</td>\r <td class='B3'>1.151&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/11&nbsp;</td>\r <td class='B3'>1.148&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/18&nbsp;</td>\r <td class='B3'>1.147&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/25&nbsp;</td>\r <td class='B3'>1.146&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Oct</td>\r <td class='B5'>10/02&nbsp;</td>\r <td class='B3'>1.140&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/09&nbsp;</td>\r <td class='B3'>1.132&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/16&nbsp;</td>\r <td class='B3'>1.121&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/23&nbsp;</td>\r <td class='B3'>1.113&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/30&nbsp;</td>\r <td class='B3'>1.102&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Nov</td>\r <td class='B5'>11/06&nbsp;</td>\r <td class='B3'>1.100&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/13&nbsp;</td>\r <td class='B3'>1.099&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/20&nbsp;</td>\r <td class='B3'>1.095&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/27&nbsp;</td>\r <td class='B3'>1.096&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Dec</td>\r <td class='B5'>12/04&nbsp;</td>\r <td class='B3'>1.097&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/11&nbsp;</td>\r <td class='B3'>1.097&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/18&nbsp;</td>\r <td class='B3'>1.111&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/25&nbsp;</td>\r <td class='B3'>1.114&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td height='5' colspan='13'></td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Jan</td>\r <td class='B5'>01/01&nbsp;</td>\r <td class='B3'>1.116&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/08&nbsp;</td>\r <td class='B3'>1.125&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/15&nbsp;</td>\r <td class='B3'>1.131&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/22&nbsp;</td>\r <td class='B3'>1.124&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/29&nbsp;</td>\r <td class='B3'>1.118&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Feb</td>\r <td class='B5'>02/05&nbsp;</td>\r <td class='B3'>1.115&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/12&nbsp;</td>\r <td class='B3'>1.112&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/19&nbsp;</td>\r <td class='B3'>1.118&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/26&nbsp;</td>\r <td class='B3'>1.138&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Mar</td>\r <td class='B5'>03/04&nbsp;</td>\r <td class='B3'>1.155&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/11&nbsp;</td>\r <td class='B3'>1.156&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/18&nbsp;</td>\r <td class='B3'>1.167&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/25&nbsp;</td>\r <td class='B3'>1.196&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Apr</td>\r <td class='B5'>04/01&nbsp;</td>\r <td class='B3'>1.210&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/08&nbsp;</td>\r <td class='B3'>1.233&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/15&nbsp;</td>\r <td class='B3'>1.272&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/22&nbsp;</td>\r <td class='B3'>1.282&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/29&nbsp;</td>\r <td class='B3'>1.296&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-May</td>\r <td class='B5'>05/06&nbsp;</td>\r <td class='B3'>1.298&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/13&nbsp;</td>\r <td class='B3'>1.301&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/20&nbsp;</td>\r <td class='B3'>1.308&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/27&nbsp;</td>\r <td class='B3'>1.299&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Jun</td>\r <td class='B5'>06/03&nbsp;</td>\r <td class='B3'>1.292&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/10&nbsp;</td>\r <td class='B3'>1.286&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/17&nbsp;</td>\r <td class='B3'>1.280&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/24&nbsp;</td>\r <td class='B3'>1.268&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Jul</td>\r <td class='B5'>07/01&nbsp;</td>\r <td class='B3'>1.258&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/08&nbsp;</td>\r <td class='B3'>1.256&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/15&nbsp;</td>\r <td class='B3'>1.254&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/22&nbsp;</td>\r <td class='B3'>1.254&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/29&nbsp;</td>\r <td class='B3'>1.247&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Aug</td>\r <td class='B5'>08/05&nbsp;</td>\r <td class='B3'>1.239&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/12&nbsp;</td>\r <td class='B3'>1.235&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/19&nbsp;</td>\r <td class='B3'>1.238&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/26&nbsp;</td>\r <td class='B3'>1.240&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Sep</td>\r <td class='B5'>09/02&nbsp;</td>\r <td class='B3'>1.232&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/09&nbsp;</td>\r <td class='B3'>1.239&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/16&nbsp;</td>\r <td class='B3'>1.241&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/23&nbsp;</td>\r <td class='B3'>1.241&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/30&nbsp;</td>\r <td class='B3'>1.237&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Oct</td>\r <td class='B5'>10/07&nbsp;</td>\r <td class='B3'>1.230&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/14&nbsp;</td>\r <td class='B3'>1.241&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/21&nbsp;</td>\r <td class='B3'>1.244&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/28&nbsp;</td>\r <td class='B3'>1.256&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Nov</td>\r <td class='B5'>11/04&nbsp;</td>\r <td class='B3'>1.264&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/11&nbsp;</td>\r <td class='B3'>1.268&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/18&nbsp;</td>\r <td class='B3'>1.277&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/25&nbsp;</td>\r <td class='B3'>1.284&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Dec</td>\r <td class='B5'>12/02&nbsp;</td>\r <td class='B3'>1.281&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/09&nbsp;</td>\r <td class='B3'>1.280&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/16&nbsp;</td>\r <td class='B3'>1.272&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/23&nbsp;</td>\r <td class='B3'>1.267&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/30&nbsp;</td>\r <td class='B3'>1.263&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td height='5' colspan='13'></td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Jan</td>\r <td class='B5'>01/06&nbsp;</td>\r <td class='B3'>1.260&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/13&nbsp;</td>\r <td class='B3'>1.275&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/20&nbsp;</td>\r <td class='B3'>1.275&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/27&nbsp;</td>\r <td class='B3'>1.271&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Feb</td>\r <td class='B5'>02/03&nbsp;</td>\r <td class='B3'>1.270&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/10&nbsp;</td>\r <td class='B3'>1.266&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/17&nbsp;</td>\r <td class='B3'>1.260&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/24&nbsp;</td>\r <td class='B3'>1.257&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Mar</td>\r <td class='B5'>03/03&nbsp;</td>\r <td class='B3'>1.248&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/10&nbsp;</td>\r <td class='B3'>1.240&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/17&nbsp;</td>\r <td class='B3'>1.231&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/24&nbsp;</td>\r <td class='B3'>1.235&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/31&nbsp;</td>\r <td class='B3'>1.231&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Apr</td>\r <td class='B5'>04/07&nbsp;</td>\r <td class='B3'>1.232&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/14&nbsp;</td>\r <td class='B3'>1.227&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/21&nbsp;</td>\r <td class='B3'>1.228&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/28&nbsp;</td>\r <td class='B3'>1.224&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-May</td>\r <td class='B5'>05/05&nbsp;</td>\r <td class='B3'>1.221&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/12&nbsp;</td>\r <td class='B3'>1.221&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/19&nbsp;</td>\r <td class='B3'>1.233&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/26&nbsp;</td>\r <td class='B3'>1.241&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Jun</td>\r <td class='B5'>06/02&nbsp;</td>\r <td class='B3'>1.243&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/09&nbsp;</td>\r <td class='B3'>1.236&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/16&nbsp;</td>\r <td class='B3'>1.227&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/23&nbsp;</td>\r <td class='B3'>1.217&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/30&nbsp;</td>\r <td class='B3'>1.210&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Jul</td>\r <td class='B5'>07/07&nbsp;</td>\r <td class='B3'>1.208&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/14&nbsp;</td>\r <td class='B3'>1.203&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/21&nbsp;</td>\r <td class='B3'>1.209&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/28&nbsp;</td>\r <td class='B3'>1.203&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Aug</td>\r <td class='B5'>08/04&nbsp;</td>\r <td class='B3'>1.222&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/11&nbsp;</td>\r <td class='B3'>1.256&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/18&nbsp;</td>\r <td class='B3'>1.255&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/25&nbsp;</td>\r <td class='B3'>1.268&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Sep</td>\r <td class='B5'>09/01&nbsp;</td>\r <td class='B3'>1.267&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/08&nbsp;</td>\r <td class='B3'>1.266&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/15&nbsp;</td>\r <td class='B3'>1.258&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/22&nbsp;</td>\r <td class='B3'>1.247&nbsp;&nbsp;&nbsp

In [19]:
table = soup.find('table', {'class' : "FloatTitle"})

row_data=[]
for row in table.find('tbody').find_all('tr')[1:]:
    data = row.find_all('td')
    col = [td.text.strip() for td in data]
    row_data.append(col)

row_data

[['1994-Dec',
  '12/05',
  '1.143',
  '12/12',
  '1.118',
  '12/19',
  '1.099',
  '12/26',
  '1.088',
  '',
  ''],
 [''],
 ['1995-Jan',
  '01/02',
  '1.104',
  '01/09',
  '1.111',
  '01/16',
  '1.102',
  '01/23',
  '1.110',
  '01/30',
  '1.109'],
 ['1995-Feb',
  '02/06',
  '1.103',
  '02/13',
  '1.099',
  '02/20',
  '1.093',
  '02/27',
  '1.101',
  '',
  ''],
 ['1995-Mar',
  '03/06',
  '1.103',
  '03/13',
  '1.096',
  '03/20',
  '1.095',
  '03/27',
  '1.102',
  '',
  ''],
 ['1995-Apr',
  '04/03',
  '1.116',
  '04/10',
  '1.134',
  '04/17',
  '1.149',
  '04/24',
  '1.173',
  '',
  ''],
 ['1995-May',
  '05/01',
  '1.181',
  '05/08',
  '1.204',
  '05/15',
  '1.213',
  '05/22',
  '1.232',
  '05/29',
  '1.234'],
 ['1995-Jun',
  '06/05',
  '1.234',
  '06/12',
  '1.230',
  '06/19',
  '1.224',
  '06/26',
  '1.217',
  '',
  ''],
 ['1995-Jul',
  '07/03',
  '1.209',
  '07/10',
  '1.200',
  '07/17',
  '1.189',
  '07/24',
  '1.179',
  '07/31',
  '1.166'],
 ['1995-Aug',
  '08/07',
  '1.164',
  '08/14',
  '1.162',
  '08/21',
  '1.163',
  '08/28',
  '1.154',
  '',
  ''],
 ['1995-Sep',
  '09/04',
  '1.151',
  '09/11',
  '1.148',
  '09/18',
  '1.147',
  '09/25',
  '1.146',
  '',
  ''],
 ['1995-Oct',
  '10/02',
  '1.140',
  '10/09',
  '1.132',
  '10/16',
  '1.121',
  '10/23',
  '1.113',
  '10/30',
  '1.102'],
 ['1995-Nov',
  '11/06',
  '1.100',
  '11/13',
  '1.099',
  '11/20',
  '1.095',
  '11/27',
  '1.096',
  '',
  ''],
 ['1995-Dec',
  '12/04',
  '1.097',
  '12/11',
  '1.097',
  '12/18',
  '1.111',
  '12/25',
  '1.114',
  '',
  ''],
 [''],
 ['1996-Jan',
  '01/01',
  '1.116',
  '01/08',
  '1.125',
  '01/15',
  '1.131',
  '01/22',
  '1.124',
  '01/29',
  '1.118'],
 ['1996-Feb',
  '02/05',
  '1.115',
  '02/12',
  '1.112',
  '02/19',
  '1.118',
  '02/26',
  '1.138',
  '',
  ''],
 ['1996-Mar',
  '03/04',
  '1.155',
  '03/11',
  '1.156',
  '03/18',
  '1.167',
  '03/25',
  '1.196',
  '',
  ''],
 ['1996-Apr',
  '04/01',
  '1.210',
  '04/08',
  '1.233',
  '04/15',
  '1.272',
  '04/22',
  '1.282',
  '04/29',
  '1.296'],
 ['1996-May',
  '05/06',
  '1.298',
  '05/13',
  '1.301',
  '05/20',
  '1.308',
  '05/27',
  '1.299',
  '',
  ''],
 ['1996-Jun',
  '06/03',
  '1.292',
  '06/10',
  '1.286',
  '06/17',
  '1.280',
  '06/24',
  '1.268',
  '',
  ''],
 ['1996-Jul',
  '07/01',
  '1.258',
  '07/08',
  '1.256',
  '07/15',
  '1.254',
  '07/22',
  '1.254',
  '07/29',
  '1.247'],
 ['1996-Aug',
  '08/05',
  '1.239',
  '08/12',
  '1.235',
  '08/19',
  '1.238',
  '08/26',
  '1.240',
  '',
  ''],
 ['1996-Sep',
  '09/02',
  '1.232',
  '09/09',
  '1.239',
  '09/16',
  '1.241',
  '09/23',
  '1.241',
  '09/30',
  '1.237'],
 ['1996-Oct',
  '10/07',
  '1.230',
  '10/14',
  '1.241',
  '10/21',
  '1.244',
  '10/28',
  '1.256',
  '',
  ''],
 ['1996-Nov',
  '11/04',
  '1.264',
  '11/11',
  '1.268',
  '11/18',
  '1.277',
  '11/25',
  '1.284',
  '',
  ''],
 ['1996-Dec',
  '12/02',
  '1.281',
  '12/09',
  '1.280',
  '12/16',
  '1.272',
  '12/23',
  '1.267',
  '12/30',
  '1.263'],
 [''],
 ['1997-Jan',
  '01/06',
  '1.260',
  '01/13',
  '1.275',
  '01/20',
  '1.275',
  '01/27',
  '1.271',
  '',
  ''],
 ['1997-Feb',
  '02/03',
  '1.270',
  '02/10',
  '1.266',
  '02/17',
  '1.260',
  '02/24',
  '1.257',
  '',
  ''],
 ['1997-Mar',
  '03/03',
  '1.248',
  '03/10',
  '1.240',
  '03/17',
  '1.231',
  '03/24',
  '1.235',
  '03/31',
  '1.231'],
 ['1997-Apr',
  '04/07',
  '1.232',
  '04/14',
  '1.227',
  '04/21',
  '1.228',
  '04/28',
  '1.224',
  '',
  ''],
 ['1997-May',
  '05/05',
  '1.221',
  '05/12',
  '1.221',
  '05/19',
  '1.233',
  '05/26',
  '1.241',
  '',
  ''],
 ['1997-Jun',
  '06/02',
  '1.243',
  '06/09',
  '1.236',
  '06/16',
  '1.227',
  '06/23',
  '1.217',
  '06/30',
  '1.210'],
 ['1997-Jul',
  '07/07',
  '1.208',
  '07/14',
  '1.203',
  '07/21',
  '1.209',
  '07/28',
  '1.203',
  '',
  ''],
 ['1997-Aug',
  '08/04',
  '1.222',
  '08/11',
  '1.256',
  '08/18',
  '1.255',
  '08/25',
  '1.268',
  '',
  ''],
 ['1997-Sep',
  '09/01',
  '1.267',
  '09/08',
  '1.266',
  '09/15',
  '1.258',
  '09/22',
  '1.247',
  '09/29',
  '1.233'],
 ['1997-Oct',
  '10/06',
  '1.234',
  '10/13',
  '1.227',
  '10/20',
  '1.218',
  '10/27',
  '1.208',
  '',
  ''],
 ['1997-Nov',
  '11/03',
  '1.202',
  '11/10',
  '1.204',
  '11/17',
  '1.195',
  '11/24',
  '1.190',
  '',
  ''],
 ['1997-Dec',
  '12/01',
  '1.180',
  '12/08',
  '1.168',
  '12/15',
  '1.158',
  '12/22',
  '1.148',
  '12/29',
  '1.139'],
 [''],
 ['1998-Jan',
  '01/05',
  '1.130',
  '01/12',
  '1.123',
  '01/19',
  '1.112',
  '01/26',
  '1.095',
  '',
  ''],
 ['1998-Feb',
  '02/02',
  '1.092',
  '02/09',
  '1.086',
  '02/16',
  '1.072',
  '02/23',
  '1.078',
  '',
  ''],
 ['1998-Mar',
  '03/02',
  '1.065',
  '03/09',
  '1.057',
  '03/16',
  '1.047',
  '03/23',
  '1.038',
  '03/30',
  '1.066'],
 ['1998-Apr',
  '04/06',
  '1.063',
  '04/13',
  '1.058',
  '04/20',
  '1.062',
  '04/27',
  '1.073',
  '',
  ''],
 ['1998-May',
  '05/04',
  '1.079',
  '05/11',
  '1.092',
  '05/18',
  '1.092',
  '05/25',
  '1.090',
  '',
  ''],
 ['1998-Jun',
  '06/01',
  '1.086',
  '06/08',
  '1.097',
  '06/15',
  '1.087',
  '06/22',
  '1.079',
  '06/29',
  '1.081'],
 ['1998-Jul',
  '07/06',
  '1.080',
  '07/13',
  '1.076',
  '07/20',
  '1.082',
  '07/27',
  '1.073',
  '',
  ''],
 ['1998-Aug',
  '08/03',
  '1.061',
  '08/10',
  '1.056',
  '08/17',
  '1.049',
  '08/24',
  '1.042',
  '08/31',
  '1.037'],
 ['1998-Sep',
  '09/07',
  '1.030',
  '09/14',
  '1.026',
  '09/21',
  '1.038',
  '09/28',
  '1.037',
  '',
  ''],
 ['1998-Oct',
  '10/05',
  '1.045',
  '10/12',
  '1.050',
  '10/19',
  '1.046',
  '10/26',
  '1.040',
  '',
  ''],
 ['1998-Nov',
  '11/02',
  '1.037',
  '11/09',
  '1.034',
  '11/16',
  '1.022',
  '11/23',
  '1.012',
  '11/30',
  '0.995'],
 ['1998-Dec',
  '12/07',
  '0.974',
  '12/14',
  '0.964',
  '12/21',
  '0.962',
  '12/28',
  '0.955',
  '',
  ''],
 [''],
 ['1999-Jan',
  '01/04',
  '0.953',
  '01/11',
  '0.960',
  '01/18',
  '0.961',
  '01/25',
  '0.954',
  '',
  ''],
 ['1999-Feb',
  '02/01',
  '0.948',
  '02/08',
  '0.947',
  '02/15',
  '0.939',
  '02/22',
  '0.926',
  '',
  ''],
 ['1999-Mar',
  '03/01',
  '0.932',
  '03/08',
  '0.941',
  '03/15',
  '0.997',
  '03/22',
  '1.038',
  '03/29',
  '1.093'],
 ['1999-Apr',
  '04/05',
  '1.125',
  '04/12',
  '1.144',
  '04/19',
  '1.140',
  '04/26',
  '1.137',
  '',
  ''],
 ['1999-May',
  '05/03',
  '1.145',
  '05/10',
  '1.149',
  '05/17',
  '1.151',
  '05/24',
  '1.140',
  '05/31',
  '1.128'],
 ['1999-Jun',
  '06/07',
  '1.132',
  '06/14',
  '1.127',
  '06/21',
  '1.144',
  '06/28',
  '1.134',
  '',
  ''],
 ['1999-Jul',
  '07/05',
  '1.149',
  '07/12',
  '1.161',
  '07/19',
  '1.187',
  '07/26',
  '1.211',
  '',
  ''],
 ['1999-Aug',
  '08/02',
  '1.211',
  '08/09',
  '1.222',
  '08/16',
  '1.251',
  '08/23',
  '1.250',
  '08/30',
  '1.253'],
 ['1999-Sep',
  '09/06',
  '1.262',
  '09/13',
  '1.274',
  '09/20',
  '1.292',
  '09/27',
  '1.288',
  '',
  ''],
 ['1999-Oct',
  '10/04',
  '1.282',
  '10/11',
  '1.275',
  '10/18',
  '1.261',
  '10/25',
  '1.265',
  '',
  ''],
 ['1999-Nov',
  '11/01',
  '1.258',
  '11/08',
  '1.262',
  '11/15',
  '1.281',
  '11/22',
  '1.298',
  '11/29',
  '1.303'],
 ['1999-Dec',
  '12/06',
  '1.301',
  '12/13',
  '1.303',
  '12/20',
  '1.298',
  '12/27',
  '1.304',
  '',
  ''],
 [''],
 ['2000-Jan',
  '01/03',
  '1.301',
  '01/10',
  '1.292',
  '01/17',
  '1.308',
  '01/24',
  '1.346',
  '01/31',
  '1.346'],
 ['2000-Feb',
  '02/07',
  '1.358',
  '02/14',
  '1.389',
  '02/21',
  '1.438',
  '02/28',
  '1.450',
  '',
  ''],
 ['2000-Mar',
  '03/06',
  '1.528',
  '03/13',
  '1.550',
  '03/20',
  '1.548',
  '03/27',
  '1.524',
  '',
  ''],
 ['2000-Apr',
  '04/03',
  '1.518',
  '04/10',
  '1.487',
  '04/17',
  '1.455',
  '04/24',
  '1.445',
  '',
  ''],
 ['2000-May',
  '05/01',
  '1.426',
  '05/08',
  '1.467',
  '05/15',
  '1.505',
  '05/22',
  '1.533',
  '05/29',
  '1.547'],
 ['2000-Jun',
  '06/05',
  '1.571',
  '06/12',
  '1.640',
  '06/19',
  '1.695',
  '06/26',
  '1.674',
  '',
  ''],
 ['2000-Jul',
  '07/03',
  '1.642',
  '07/10',
  '1.608',
  '07/17',
  '1.561',
  '07/24',
  '1.539',
  '07/31',
  '1.489'],
 ['2000-Aug',
  '08/07',
  '1.479',
  '08/14',
  '1.460',
  '08/21',
  '1.484',
  '08/28',
  '1.495',
  '',
  ''],
 ['2000-Sep',
  '09/04',
  '1.539',
  '09/11',
  '1.571',
  '09/18',
  '1.575',
  '09/25',
  '1.562',
  '',
  ''],
 ['2000-Oct',
  '10/02',
  '1.536',
  '10/09',
  '1.511',
  '10/16',
  '1.554',
  '10/23',
  '1.568',
  '10/30',
  '1.561'],
 ['2000-Nov',
  '11/06',
  '1.540',
  '11/13',
  '1.539',
  '11/20',
  '1.525',
  '11/27',
  '1.527',
  '',
  ''],
 ['2000-Dec',
  '12/04',
  '1.503',
  '12/11',
  '1.465',
  '12/18',
  '1.436',
  '12/25',
  '1.426',
  '',
  ''],
 [''],
 ['2001-Jan',
  '01/01',
  '1.416',
  '01/08',
  '1.439',
  '01/15',
  '1.497',
  '01/22',
  '1.496',
  '01/29',
  '1.486'],
 ['2001-Feb',
  '02/05',
  '1.466',
  '02/12',
  '1.499',
  '02/19',
  '1.468',
  '02/26',
  '1.450',
  '',
  ''],
 ['2001-Mar',
  '03/05',
  '1.433',
  '03/12',
  '1.426',
  '03/19',
  '1.416',
  '03/26',
  '1.418',
  '',
  ''],
 ['2001-Apr',
  '04/02',
  '1.451',
  '04/09',
  '1.509',
  '04/16',
  '1.575',
  '04/23',
  '1.625',
  '04/30',
  '1.624'],
 ['2001-May',
  '05/07',
  '1.695',
  '05/14',
  '1.697',
  '05/21',
  '1.673',
  '05/28',
  '1.691',
  '',
  ''],
 ['2001-Jun',
  '06/04',
  '1.665',
  '06/11',
  '1.617',
  '06/18',
  '1.566',
  '06/25',
  '1.495',
  '',
  ''],
 ['2001-Jul',
  '07/02',
  '1.427',
  '07/09',
  '1.392',
  '07/16',
  '1.372',
  '07/23',
  '1.358',
  '07/30',
  '1.358'],
 ['2001-Aug',
  '08/06',
  '1.358',
  '08/13',
  '1.385',
  '08/20',
  '1.435',
  '08/27',
  '1.510',
  '',
  ''],
 ['2001-Sep',
  '09/03',
  '1.568',
  '09/10',
  '1.543',
  '09/17',
  '1.548',
  '09/24',
  '1.495',
  '',
  ''],
 ['2001-Oct',
  '10/01',
  '1.417',
  '10/08',
  '1.347',
  '10/15',
  '1.303',
  '10/22',
  '1.260',
  '10/29',
  '1.233'],
 ['2001-Nov',
  '11/05',
  '1.209',
  '11/12',
  '1.186',
  '11/19',
  '1.178',
  '11/26',
  '1.136',
  '',
  ''],
 ['2001-Dec',
  '12/03',
  '1.122',
  '12/10',
  '1.114',
  '12/17',
  '1.082',
  '12/24',
  '1.103',
  '12/31',
  '1.135'],
 [''],
 ['2002-Jan',
  '01/07',
  '1.148',
  '01/14',
  '1.139',
  '01/21',
  '1.127',
  '01/28',
  '1.120',
  '',
  ''],
 ['2002-Feb',
  '02/04',
  '1.137',
  '02/11',
  '1.125',
  '02/18',
  '1.129',
  '02/25',
  '1.126',
  '',
  ''],
 ['2002-Mar',
  '03/04',
  '1.157',
  '03/11',
  '1.232',
  '03/18',
  '1.300',
  '03/25',
  '1.346',
  '',
  ''],
 ['2002-Apr',
  '04/01',
  '1.379',
  '04/08',
  '1.422',
  '04/15',
  '1.408',
  '04/22',
  '1.407',
  '04/29',
  '1.393'],
 ['2002-May',
  '05/06',
  '1.396',
  '05/13',
  '1.389',
  '05/20',
  '1.400',
  '05/27',
  '1.389',
  '',
  ''],
 ['2002-Jun',
  '06/03',
  '1.393',
  '06/10',
  '1.372',
  '06/17',
  '1.375',
  '06/24',
  '1.381',
  '',
  ''],
 ['2002-Jul',
  '07/01',
  '1.396',
  '07/08',
  '1.384',
  '07/15',
  '1.399',
  '07/22',
  '1.419',
  '07/29',
  '1.414'],
 ['2002-Aug',
  '08/05',
  '1.395',
  '08/12',
  '1.395',
  '08/19',
  '1.397',
  '08/26',
  '1.404',
  '',
  ''],
 ['2002-Sep',
  '09/02',
  '1.393',
  '09/09',
  '1.395',
  '09/16',
  '1.406',
  '09/23',
  '1.396',
  '09/30',
  '1.424'],
 ['2002-Oct',
  '10/07',
  '1.456',
  '10/14',
  '1.461',
  '10/21',
  '1.482',
  '10/28',
  '1.466',
  '',
  ''],
 ['2002-Nov',
  '11/04',
  '1.466',
  '11/11',
  '1.445',
  '11/18',
  '1.410',
  '11/25',
  '1.376',
  '',
  ''],
 ['2002-Dec',
  '12/02',
  '1.358',
  '12/09',
  '1.357',
  '12/16',
  '1.363',
  '12/23',
  '1.411',
  '12/30',
  '1.457'],
 [''],
 ['2003-Jan',
  '01/06',
  '1.453',
  '01/13',
  '1.463',
  '01/20',
  '1.463',
  '01/27',
  '1.478',
  '',
  ''],
 ['2003-Feb',
  '02/03',
  '1.539',
  '02/10',
  '1.623',
  '02/17',
  '1.668',
  '02/24',
  '1.656',
  '',
  ''],
 ['2003-Mar',
  '03/03',
  '1.679',
  '03/10',
  '1.701',
  '03/17',
  '1.712',
  '03/24',
  '1.665',
  '03/31',
  '1.618'],
 ['2003-Apr',
  '04/07',
  '1.597',
  '04/14',
  '1.561',
  '04/21',
  '1.544',
  '04/28',
  '1.526',
  '',
  ''],
 ['2003-May',
  '05/05',
  '1.482',
  '05/12',
  '1.467',
  '05/19',
  '1.482',
  '05/26',
  '1.477',
  '',
  ''],
 ['2003-Jun',
  '06/02',
  '1.466',
  '06/09',
  '1.492',
  '06/16',
  '1.517',
  '06/23',
  '1.489',
  '06/30',
  '1.481'],
 ['2003-Jul',
  '07/07',
  '1.485',
  '07/14',
  '1.528',
  '07/21',
  '1.534',
  '07/28',
  '1.527',
  '',
  ''],
 ['2003-Aug',
  '08/04',
  '1.553',
  '08/11',
  '1.587',
  '08/18',
  '1.631',
  '08/25',
  '1.730',
  '',
  ''],
 ['2003-Sep',
  '09/01',
  '1.724',
  '09/08',
  '1.690',
  '09/15',
  '1.674',
  '09/22',
  '1.618',
  '09/29',
  '1.564'],
 ['2003-Oct',
  '10/06',
  '1.551',
  '10/13',
  '1.553',
  '10/20',
  '1.564',
  '10/27',
  '1.536',
  '',
  ''],
 ['2003-Nov',
  '11/03',
  '1.532',
  '11/10',
  '1.502',
  '11/17',
  '1.498',
  '11/24',
  '1.517',
  '',
  ''],
 ['2003-Dec',
  '12/01',
  '1.493',
  '12/08',
  '1.481',
  '12/15',
  '1.473',
  '12/22',
  '1.499',
  '12/29',
  '1.495'],
 [''],
 ['2004-Jan',
  '01/05',
  '1.532',
  '01/12',
  '1.585',
  '01/19',
  '1.619',
  '01/26',
  '1.644',
  '',
  ''],
 ['2004-Feb',
  '02/02',
  '1.632',
  '02/09',
  '1.649',
  '02/16',
  '1.656',
  '02/23',
  '1.680',
  '',
  ''],
 ['2004-Mar',
  '03/01',
  '1.703',
  '03/08',
  '1.729',
  '03/15',
  '1.714',
  '03/22',
  '1.737',
  '03/29',
  '1.755'],
 ['2004-Apr',
  '04/05',
  '1.776',
  '04/12',
  '1.778',
  '04/19',
  '1.810',
  '04/26',
  '1.812',
  '',
  ''],
 ['2004-May',
  '05/03',
  '1.848',
  '05/10',
  '1.939',
  '05/17',
  '2.015',
  '05/24',
  '2.063',
  '05/31',
  '2.041'],
 ['2004-Jun',
  '06/07',
  '2.021',
  '06/14',
  '1.966',
  '06/21',
  '1.914',
  '06/28',
  '1.900',
  '',
  ''],
 ['2004-Jul',
  '07/05',
  '1.875',
  '07/12',
  '1.907',
  '07/19',
  '1.926',
  '07/26',
  '1.901',
  '',
  ''],
 ['2004-Aug',
  '08/02',
  '1.885',
  '08/09',
  '1.878',
  '08/16',
  '1.881',
  '08/23',
  '1.892',
  '08/30',
  '1.866'],
 ['2004-Sep',
  '09/06',
  '1.854',
  '09/13',
  '1.852',
  '09/20',
  '1.878',
  '09/27',
  '1.934',
  '',
  ''],
 ['2004-Oct',
  '10/04',
  '1.941',
  '10/11',
  '1.988',
  '10/18',
  '2.024',
  '10/25',
  '2.020',
  '',
  ''],
 ['2004-Nov',
  '11/01',
  '2.026',
  '11/08',
  '1.992',
  '11/15',
  '1.960',
  '11/22',
  '1.943',
  '11/29',
  '1.945'],
 ['2004-Dec',
  '12/06',
  '1.910',
  '12/13',
  '1.842',
  '12/20',
  '1.820',
  '12/27',
  '1.798',
  '',
  ''],
 [''],
 ['2005-Jan',
  '01/03',
  '1.788',
  '01/10',
  '1.813',
  '01/17',
  '1.843',
  '01/24',
  '1.880',
  '01/31',
  '1.936'],
 ['2005-Feb',
  '02/07',
  '1.930',
  '02/14',
  '1.914',
  '02/21',
  '1.919',
  '02/28',
  '1.943',
  '',
  ''],
 ['2005-Mar',
  '03/07',
  '2.018',
  '03/14',
  '2.078',
  '03/21',
  '2.134',
  '03/28',
  '2.177',
  '',
  ''],
 ['2005-Apr',
  '04/04',
  '2.236',
  '04/11',
  '2.290',
  '04/18',
  '2.239',
  '04/25',
  '2.237',
  '',
  ''],
 ['2005-May',
  '05/02',
  '2.231',
  '05/09',
  '2.179',
  '05/16',
  '2.156',
  '05/23',
  '2.118',
  '05/30',
  '2.092'],
 ['2005-Jun',
  '06/06',
  '2.118',
  '06/13',
  '2.139',
  '06/20',
  '2.167',
  '06/27',
  '2.224',
  '',
  ''],
 ['2005-Jul',
  '07/04',
  '2.228',
  '07/11',
  '2.331',
  '07/18',
  '2.312',
  '07/25',
  '2.276',
  '',
  ''],
 ['2005-Aug',
  '08/01',
  '2.279',
  '08/08',
  '2.363',
  '08/15',
  '2.560',
  '08/22',
  '2.622',
  '08/29',
  '2.621'],
 ['2005-Sep',
  '09/05',
  '3.083',
  '09/12',
  '2.956',
  '09/19',
  '2.776',
  '09/26',
  '2.812',
  '',
  ''],
 ['2005-Oct',
  '10/03',
  '2.968',
  '10/10',
  '2.875',
  '10/17',
  '2.741',
  '10/24',
  '2.612',
  '10/31',
  '2.485'],
 ['2005-Nov',
  '11/07',
  '2.382',
  '11/14',
  '2.302',
  '11/21',
  '2.211',
  '11/28',
  '2.166',
  '',
  ''],
 ['2005-Dec',
  '12/05',
  '2.168',
  '12/12',
  '2.217',
  '12/19',
  '2.247',
  '12/26',
  '2.230',
  '',
  ''],
 [''],
 ['2006-Jan',
  '01/02',
  '2.277',
  '01/09',
  '2.363',
  '01/16',
  '2.342',
  '01/23',
  '2.359',
  '01/30',
  '2.375'],
 ['2006-Feb',
  '02/06',
  '2.354',
  '02/13',
  '2.290',
  '02/20',
  '2.249',
  '02/27',
  '2.277',
  '',
  ''],
 ['2006-Mar',
  '03/06',
  '2.360',
  '03/13',
  '2.395',
  '03/20',
  '2.537',
  '03/27',
  '2.522',
  '',
  ''],
 ['2006-Apr',
  '04/03',
  '2.609',
  '04/10',
  '2.706',
  '04/17',
  '2.807',
  '04/24',
  '2.924',
  '',
  ''],
 ['2006-May',
  '05/01',
  '2.910',
  '05/08',
  '2.876',
  '05/15',
  '2.911',
  '05/22',
  '2.842',
  '05/29',
  '2.824'],
 ['2006-Jun',
  '06/05',
  '2.852',
  '06/12',
  '2.874',
  '06/19',
  '2.834',
  '06/26',
  '2.837',
  '',
  ''],
 ['2006-Jul',
  '07/03',
  '2.914',
  '07/10',
  '2.949',
  '07/17',
  '2.968',
  '07/24',
  '2.992',
  '07/31',
  '2.997'],
 ['2006-Aug',
  '08/07',
  '3.045',
  '08/14',
  '3.000',
  '08/21',
  '2.919',
  '08/28',
  '2.843',
  '',
  ''],
 ['2006-Sep',
  '09/04',
  '2.725',
  '09/11',
  '2.611',
  '09/18',
  '2.489',
  '09/25',
  '2.368',
  '',
  ''],
 ['2006-Oct',
  '10/02',
  '2.309',
  '10/09',
  '2.266',
  '10/16',
  '2.239',
  '10/23',
  '2.229',
  '10/30',
  '2.247'],
 ['2006-Nov',
  '11/06',
  '2.232',
  '11/13',
  '2.259',
  '11/20',
  '2.261',
  '11/27',
  '2.264',
  '',
  ''],
 ['2006-Dec',
  '12/04',
  '2.320',
  '12/11',
  '2.311',
  '12/18',
  '2.333',
  '12/25',
  '2.346',
  '',
  ''],
 [''],
 ['2007-Jan',
  '01/01',
  '2.340',
  '01/08',
  '2.304',
  '01/15',
  '2.220',
  '01/22',
  '2.155',
  '01/29',
  '2.164'],
 ['2007-Feb',
  '02/05',
  '2.194',
  '02/12',
  '2.240',
  '02/19',
  '2.292',
  '02/26',
  '2.379',
  '',
  ''],
 ['2007-Mar',
  '03/05',
  '2.504',
  '03/12',
  '2.542',
  '03/19',
  '2.554',
  '03/26',
  '2.582',
  '',
  ''],
 ['2007-Apr',
  '04/02',
  '2.678',
  '04/09',
  '2.790',
  '04/16',
  '2.866',
  '04/23',
  '2.857',
  '04/30',
  '2.966'],
 ['2007-May',
  '05/07',
  '3.043',
  '05/14',
  '3.106',
  '05/21',
  '3.247',
  '05/28',
  '3.233',
  '',
  ''],
 ['2007-Jun',
  '06/04',
  '3.172',
  '06/11',
  '3.083',
  '06/18',
  '3.018',
  '06/25',
  '2.995',
  '',
  ''],
 ['2007-Jul',
  '07/02',
  '2.976',
  '07/09',
  '3.010',
  '07/16',
  '3.084',
  '07/23',
  '2.980',
  '07/30',
  '2.894'],
 ['2007-Aug',
  '08/06',
  '2.861',
  '08/13',
  '2.797',
  '08/20',
  '2.825',
  '08/27',
  '2.799',
  '',
  ''],
 ['2007-Sep',
  '09/03',
  '2.857',
  '09/10',
  '2.879',
  '09/17',
  '2.836',
  '09/24',
  '2.861',
  '',
  ''],
 ['2007-Oct',
  '10/01',
  '2.832',
  '10/08',
  '2.809',
  '10/15',
  '2.793',
  '10/22',
  '2.853',
  '10/29',
  '2.905'],
 ['2007-Nov',
  '11/05',
  '3.051',
  '11/12',
  '3.146',
  '11/19',
  '3.123',
  '11/26',
  '3.118',
  '',
  ''],
 ['2007-Dec',
  '12/03',
  '3.077',
  '12/10',
  '3.007',
  '12/17',
  '3.011',
  '12/24',
  '2.991',
  '12/31',
  '3.076'],
 [''],
 ['2008-Jan',
  '01/07',
  '3.135',
  '01/14',
  '3.090',
  '01/21',
  '3.041',
  '01/28',
  '3.004',
  '',
  ''],
 ['2008-Feb',
  '02/04',
  '3.014',
  '02/11',
  '2.995',
  '02/18',
  '3.082',
  '02/25',
  '3.163',
  '',
  ''],
 ['2008-Mar',
  '03/03',
  '3.185',
  '03/10',
  '3.246',
  '03/17',
  '3.303',
  '03/24',
  '3.273',
  '03/31',
  '3.306'],
 ['2008-Apr',
  '04/07',
  '3.346',
  '04/14',
  '3.397',
  '04/21',
  '3.515',
  '04/28',
  '3.615',
  '',
  ''],
 ['2008-May',
  '05/05',
  '3.620',
  '05/12',
  '3.741',
  '05/19',
  '3.810',
  '05/26',
  '3.960',
  '',
  ''],
 ['2008-Jun',
  '06/02',
  '3.980',
  '06/09',
  '4.027',
  '06/16',
  '4.056',
  '06/23',
  '4.051',
  '06/30',
  '4.075'],
 ['2008-Jul',
  '07/07',
  '4.099',
  '07/14',
  '4.102',
  '07/21',
  '4.054',
  '07/28',
  '3.948',
  '',
  ''],
 ['2008-Aug',
  '08/04',
  '3.880',
  '08/11',
  '3.815',
  '08/18',
  '3.754',
  '08/25',
  '3.707',
  '',
  ''],
 ['2008-Sep',
  '09/01',
  '3.715',
  '09/08',
  '3.686',
  '09/15',
  '3.919',
  '09/22',
  '3.785',
  '09/29',
  '3.697'],
 ['2008-Oct',
  '10/06',
  '3.541',
  '10/13',
  '3.166',
  '10/20',
  '2.909',
  '10/27',
  '2.644',
  '',
  ''],
 ['2008-Nov',
  '11/03',
  '2.395',
  '11/10',
  '2.224',
  '11/17',
  '2.081',
  '11/24',
  '1.912',
  '',
  ''],

In [20]:
len(row_data)

357

In [21]:
for i in row_data:
    if len(i) < 10:
        row_data.remove(i)
len(row_data)

329

In [22]:
for i in row_data:
    i[1] = i[0][:4]+ '/' + i[1]
    i[3] = i[0][:4]+ '/' + i[3]
    i[5] = i[0][:4]+ '/' + i[5]
    i[7] = i[0][:4]+ '/' + i[7]
    i[9] = i[0][:4]+ '/' + i[9] 
df = pd.DataFrame(row_data)

In [23]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,1994-Dec,1994/12/05,1.143,1994/12/12,1.118,1994/12/19,1.099,1994/12/26,1.088,1994/,
1,1995-Jan,1995/01/02,1.104,1995/01/09,1.111,1995/01/16,1.102,1995/01/23,1.110,1995/01/30,1.109
2,1995-Feb,1995/02/06,1.103,1995/02/13,1.099,1995/02/20,1.093,1995/02/27,1.101,1995/,
3,1995-Mar,1995/03/06,1.103,1995/03/13,1.096,1995/03/20,1.095,1995/03/27,1.102,1995/,
4,1995-Apr,1995/04/03,1.116,1995/04/10,1.134,1995/04/17,1.149,1995/04/24,1.173,1995/,
...,...,...,...,...,...,...,...,...,...,...,...
324,2021-Dec,2021/12/06,3.279,2021/12/13,3.252,2021/12/20,3.229,2021/12/27,3.211,2021/,
325,2022-Jan,2022/01/03,3.216,2022/01/10,3.238,2022/01/17,3.255,2022/01/24,3.271,2022/01/31,3.321
326,2022-Feb,2022/02/07,3.401,2022/02/14,3.441,2022/02/21,3.480,2022/02/28,3.554,2022/,
327,2022-Mar,2022/03/07,4.031,2022/03/14,4.252,2022/03/21,4.165,2022/03/28,4.152,2022/,
328,2022-Apr,2022/04/04,4.096,2022/04/11,4.019,2022/04/18,3.992,2022/,,2022/,

In [24]:
dictionary = dict(zip(df[1], df[2]))
i=3

while i <=9:
    diction = dict(zip(df[i], df[i+1]))
    dictionary.update(diction)
    i+=2

In [25]:
us_fuelprice = pd.DataFrame(list(dictionary.items()),columns = ['Date','Price'] )

In [26]:
us_fuelprice
us_fuelprice.drop( (us_fuelprice[us_fuelprice['Price'].map(len) < 1]).index, inplace=True)

# Sort the dataframe by time
us_fuelprice.sort_values(by='Date', inplace= True)

            Date  Price
0     1994/12/05  1.143
1     1995/01/02  1.104
2     1995/02/06  1.103
3     1995/03/06  1.103
4     1995/04/03  1.116
...          ...    ...
1453  2021/03/29  2.839
1454  2021/05/31  2.997
1455  2021/08/30  3.118
1456  2021/11/29  3.326
1457  2022/01/31  3.321

[1458 rows x 2 columns]

In [27]:
us_fuelprice

            Date  Price
0     1994/12/05  1.143
329   1994/12/12  1.118
658   1994/12/19  1.099
987   1994/12/26  1.088
1     1995/01/02  1.104
...          ...    ...
985   2022/03/21  4.165
1314  2022/03/28  4.152
328   2022/04/04  4.096
657   2022/04/11  4.019
986   2022/04/18  3.992

[1429 rows x 2 columns]

In [28]:
# Deal with missing values
for i in us_fuelprice['Price']:
    if len(i) <1:
        us_fuelprice = us_fuelprice.dropna(axis=0)

In [29]:
us_fuelprice.reset_index(drop = True, inplace = True)

In [30]:
us_fuelprice_df = spark.createDataFrame(us_fuelprice)
us_fuelprice_df.write.parquet("/project/DataEngineering/parquet_files/us_fuelprice.parquet", mode = 'overwrite')
us_fuelprice_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Price: string (nullable = true)

In [31]:
us_fuelprice

            Date  Price
0     1994/12/05  1.143
1     1994/12/12  1.118
2     1994/12/19  1.099
3     1994/12/26  1.088
4     1995/01/02  1.104
...          ...    ...
1424  2022/03/21  4.165
1425  2022/03/28  4.152
1426  2022/04/04  4.096
1427  2022/04/11  4.019
1428  2022/04/18  3.992

[1429 rows x 2 columns]

Since avaiable dataset can be downloaded through gov.uk, the excel file has be uploaded.

In [32]:
#import excel file about the fuel price in UK
file = pd.read_excel(r'/project/UK_Weekly_Fuel_Prices.xlsx', sheet_name = 'All years')

In [33]:
file.head(10)

,Weekly Prices time series (from 2003),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,ULSP = Ultra low sulphur unleaded petrol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ULSD = Ultra low sulphur diesel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Duty rates over time can be found in the duty ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Empty cells represent weeks where differences ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Freeze panes are turned on. To turn off freeze...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,ULSP: Pump price (p/litre),ULSP: Diff on previous WEEK (p/litre),ULSP: Diff on previous YEAR (p/litre),Duty rate ULSP (p/litre),VAT (% rate) ULSP,ULSD: Pump price (p/litre),ULSD: Diff on previous WEEK (p/litre),ULSD: Diff on previous YEAR (p/litre),Duty rate ULSD (p/litre),VAT (% rate) ULSD,NaN,NaN,NaN,NaN,NaN,NaN
6,2003-06-09 00:00:00,74.590284,NaN,NaN,45.82,17.5,76.773394,NaN,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
7,2003-06-16 00:00:00,74.469143,-0.121141,NaN,45.82,17.5,76.689054,-0.08434,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
8,2003-06-23 00:00:00,74.423566,-0.045577,NaN,45.82,17.5,76.620546,-0.068508,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
9,2003-06-30 00:00:00,74.352421,-0.071145,NaN,45.82,17.5,76.50526,-0.115286,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
file.columns =file.iloc[5]
file = file.iloc[6: , :]

In [35]:
file

5,Date,ULSP: Pump price (p/litre),ULSP: Diff on previous WEEK (p/litre),ULSP: Diff on previous YEAR (p/litre),Duty rate ULSP (p/litre),VAT (% rate) ULSP,ULSD: Pump price (p/litre),ULSD: Diff on previous WEEK (p/litre),ULSD: Diff on previous YEAR (p/litre),Duty rate ULSD (p/litre),VAT (% rate) ULSD,NaN,NaN,NaN,NaN,NaN,NaN
6,2003-06-09 00:00:00,74.590284,NaN,NaN,45.82,17.5,76.773394,NaN,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
7,2003-06-16 00:00:00,74.469143,-0.121141,NaN,45.82,17.5,76.689054,-0.08434,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
8,2003-06-23 00:00:00,74.423566,-0.045577,NaN,45.82,17.5,76.620546,-0.068508,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
9,2003-06-30 00:00:00,74.352421,-0.071145,NaN,45.82,17.5,76.50526,-0.115286,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
10,2003-07-07 00:00:00,74.283737,-0.068684,NaN,45.82,17.5,76.457376,-0.047884,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,2022-03-14 00:00:00,159.96,7.01,36.059117,57.95,20,169.48,10.92,41.236275,57.95,20,NaN,NaN,NaN,NaN,NaN,NaN
986,2022-03-21 00:00:00,165.37,5.41,40.801753,57.95,20,177.47,7.99,48.450879,57.95,20,NaN,NaN,NaN,NaN,NaN,NaN
987,2022-03-28 00:00:00,162.651769,-2.718231,37.524793,52.95,20,176.442403,-1.027597,47.127295,52.95,20,NaN,NaN,NaN,NaN,NaN,NaN
988,2022-04-04 00:00:00,161.91,-0.741769,36.669577,52.95,20,176,-0.442403,46.649255,52.95,20,NaN,NaN,NaN,NaN,NaN,NaN
989,2022-04-11 00:00:00,161.78,-0.13,36.381801,52.95,20,176.22,0.22,46.832594,52.95,20,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
from datetime import datetime

file['Date'] = [i.date() for i in file['Date']]

In [37]:
uk_fuelprice = file.iloc[: ,  :3]
uk_fuelprice.columns = ["Date", 'uk_price', 'uk_diff']

In [38]:
uk_fuelprice['uk_diff'] =[float(i) for i in uk_fuelprice['uk_diff'] ]
uk_fuelprice['uk_diff'].round(decimals = 3)

6        NaN
7     -0.121
8     -0.046
9     -0.071
10    -0.069
       ...
985    7.010
986    5.410
987   -2.718
988   -0.742
989   -0.130
Name: uk_diff, Length: 984, dtype: float64

In [39]:
uk_fuelprice_df = spark.createDataFrame(uk_fuelprice)
uk_fuelprice_df.printSchema()
uk_fuelprice_df.write.parquet("/project/DataEngineering/parquet_files/uk_fuelprice.parquet", mode= 'overwrite')

root
 |-- Date: date (nullable = true)
 |-- uk_price: double (nullable = true)
 |-- uk_diff: double (nullable = true)

In [40]:
uga = spark.read.parquet("/project/DataEngineering/parquet_files/uga_info.parquet").toPandas()

In [41]:
uga.dtypes

Date         object
Open         object
High         object
Low          object
Close        object
Adj_Close    object
Volume       object
dtype: object

In [42]:
uga['High']= uga['High'].astype(float)
uga['Low']= uga['Low'].astype(float)
uga['Close']= uga['Close'].astype(float)
uga['Volume']= uga['Volume'].astype(float)

In [43]:
uga['uga_Difference'] = (uga['High'] - uga['Low'])/uga['Close']*100
uga.drop(labels= ['High', 'Low', 'Open', 'Adj_Close'], axis=1, inplace=True)

In [44]:
uga = uga.rename(columns={"Close":"uga_Close", "Volume":"uga_Volume"})
uga

           Date  uga_Close  uga_Volume  uga_Difference
0    2019-10-07  30.459999     37400.0        5.712410
1    2019-10-14  30.000000     31500.0        2.100003
2    2019-10-21  31.139999     37400.0        5.780350
3    2019-10-28  31.540001     50700.0        5.009512
4    2019-11-04  31.170000     49200.0        5.646458
..          ...        ...         ...             ...
517  2019-09-02  28.820000     76200.0        8.501037
518  2019-09-09  28.510000     41200.0        6.453879
519  2019-09-16  30.670000    151100.0        8.444734
520  2019-09-23  29.790001     53200.0        4.867402
521  2019-09-30  29.180000     31000.0        5.277584

[522 rows x 4 columns]

In [45]:
shell = spark.read.parquet("/project/DataEngineering/parquet_files/shell_info.parquet").toPandas()
shell

,Date,Open,High,Low,Close,Adj_Close,Volume
0,2019-10-07,2317.500000,2347.000000,2278.500000,2290.500000,2046.361816,43462714
1,2019-10-14,2299.000000,2333.489990,2235.500000,2240.000000,2001.244629,40636681
2,2019-10-21,2235.000000,2332.500000,26.087999,2325.500000,2077.630859,28698016
3,2019-10-28,2330.500000,2345.000000,2233.000000,2260.500000,2019.559204,40717990
4,2019-11-04,2269.500000,2356.000000,3.045000,2341.000000,2091.479248,59819909
...,...,...,...,...,...,...,...
517,2019-09-02,2281.500000,2308.500000,2246.000000,2259.500000,2018.665649,32084357
518,2019-09-09,2279.000000,2331.500000,2261.000000,2282.500000,2039.214111,32091732
519,2019-09-16,2356.000000,2373.000000,2310.500000,2343.500000,2093.712402,53935799
520,2019-09-23,2353.500000,2414.500000,2311.500000,2408.500000,2151.784424,45485098
521,2019-09-30,2409.000000,2417.000000,2263.500000,2319.000000,2071.823975,35640122

In [46]:
shell.dtypes

Date         object
Open         object
High         object
Low          object
Close        object
Adj_Close    object
Volume       object
dtype: object

In [47]:
shell['High']= shell['High'].astype(float)
shell['Low']= shell['Low'].astype(float)
shell['Close']= shell['Close'].astype(float)
shell['Volume']= shell['Volume'].astype(float)

In [48]:
shell['shell_Difference'] = (shell['High'] - shell['Low'])/shell['Close']*100
shell.drop(labels= ['High', 'Low', 'Open', 'Adj_Close'], axis=1, inplace=True)
shell = shell.rename(columns={"Close":"shell_Close", "Volume":"shell_Volume"})

In [49]:
shell.head()

         Date  shell_Close  shell_Volume  shell_Difference
0  2019-10-07       2290.5    43462714.0          2.990613
1  2019-10-14       2240.0    40636681.0          4.374553
2  2019-10-21       2325.5    28698016.0         99.179187
3  2019-10-28       2260.5    40717990.0          4.954656
4  2019-11-04       2341.0    59819909.0        100.510679

In [50]:
stock_price = pd.merge(uga, shell, on='Date')

In [51]:
stock_price

,Date,uga_Close,uga_Volume,uga_Difference,shell_Close,shell_Volume,shell_Difference
0,2019-10-07,30.459999,37400.0,5.712410,2290.5,43462714.0,2.990613
1,2019-10-14,30.000000,31500.0,2.100003,2240.0,40636681.0,4.374553
2,2019-10-21,31.139999,37400.0,5.780350,2325.5,28698016.0,99.179187
3,2019-10-28,31.540001,50700.0,5.009512,2260.5,40717990.0,4.954656
4,2019-11-04,31.170000,49200.0,5.646458,2341.0,59819909.0,100.510679
...,...,...,...,...,...,...,...
517,2019-09-02,28.820000,76200.0,8.501037,2259.5,32084357.0,2.766099
518,2019-09-09,28.510000,41200.0,6.453879,2282.5,32091732.0,3.088719
519,2019-09-16,30.670000,151100.0,8.444734,2343.5,53935799.0,2.666951
520,2019-09-23,29.790001,53200.0,4.867402,2408.5,45485098.0,4.276521
521,2019-09-30,29.180000,31000.0,5.277584,2319.0,35640122.0,6.619232

In [52]:
stock_price = spark.createDataFrame(stock_price)
stock_price.printSchema()
stock_price.write.parquet("/project/DataEngineering/parquet_files/stock_price.parquet", mode ='overwrite')

root
 |-- Date: string (nullable = true)
 |-- uga_Close: double (nullable = true)
 |-- uga_Volume: double (nullable = true)
 |-- uga_Difference: double (nullable = true)
 |-- shell_Close: double (nullable = true)
 |-- shell_Volume: double (nullable = true)
 |-- shell_Difference: double (nullable = true)

We already have the stock price related data of UGA and Shell, the prices of fuel in the UK and America are supposed to be taken account it. Consequently, the price will be web scraped from govenment websites.

Since we want to compare the fuel price and stock price later, the date range should be uniformed. In this case, a part of data will be selected as a new data table.

In [53]:
us_fuelprice.sort_values(by='Date', inplace= True)
us_fuelprice.reset_index(drop = True, inplace=True)

# Get the position of where we should start
us_fuelprice.loc[us_fuelprice['Date'] == "2012/04/16"]

           Date  Price
906  2012/04/16  3.923

In [54]:
us_price= us_fuelprice[906:-1]
us_price.reset_index( drop = True, inplace=True)
us_price['Price'] = pd.to_numeric(us_price['Price'])
us_price

<ipython-input-54-3355b2f5798a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_price['Price'] = pd.to_numeric(us_price['Price'])

           Date  Price
0    2012/04/16  3.923
1    2012/04/23  3.861
2    2012/04/30  3.821
3    2012/05/07  3.773
4    2012/05/14  3.713
..          ...    ...
517  2022/03/14  4.252
518  2022/03/21  4.165
519  2022/03/28  4.152
520  2022/04/04  4.096
521  2022/04/11  4.019

[522 rows x 2 columns]

In [55]:
difference = []

i=520
while i >= 0:
    diff = us_price['Price'].iloc[i+1] -us_price['Price'].iloc[i]
    difference.append(diff)
    i -= 1

difference = difference[ : : -1]    
difference.append(-0.027)

In [56]:
us_price['us_price_diff'] = difference
us_price['us_price_diff'].round(decimals = 3)
us_price.columns = ['Date', 'us_price', 'us_price_diff']

<ipython-input-56-2fafb38ac925>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_price['us_price_diff'] = difference

0     -0.062
1     -0.040
2     -0.048
3     -0.060
4     -0.037
       ...
517   -0.087
518   -0.013
519   -0.056
520   -0.077
521   -0.027
Name: us_price_diff, Length: 522, dtype: float64

In [57]:
us_price

           Date  us_price  us_price_diff
0    2012/04/16     3.923         -0.062
1    2012/04/23     3.861         -0.040
2    2012/04/30     3.821         -0.048
3    2012/05/07     3.773         -0.060
4    2012/05/14     3.713         -0.037
..          ...       ...            ...
517  2022/03/14     4.252         -0.087
518  2022/03/21     4.165         -0.013
519  2022/03/28     4.152         -0.056
520  2022/04/04     4.096         -0.077
521  2022/04/11     4.019         -0.027

[522 rows x 3 columns]

In [58]:
us_price['Date'] = [i.replace("/", '-') for i in us_price['Date']]
us_price

<ipython-input-58-b5ff215a1cd3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_price['Date'] = [i.replace("/", '-') for i in us_price['Date']]

           Date  us_price  us_price_diff
0    2012-04-16     3.923         -0.062
1    2012-04-23     3.861         -0.040
2    2012-04-30     3.821         -0.048
3    2012-05-07     3.773         -0.060
4    2012-05-14     3.713         -0.037
..          ...       ...            ...
517  2022-03-14     4.252         -0.087
518  2022-03-21     4.165         -0.013
519  2022-03-28     4.152         -0.056
520  2022-04-04     4.096         -0.077
521  2022-04-11     4.019         -0.027

[522 rows x 3 columns]

In [59]:
uk_fuelprice=spark.read.parquet("/project/DataEngineering/parquet_files/uk_fuelprice.parquet").toPandas()
uk_fuelprice

           Date    uk_price   uk_diff
0    2008-02-25  104.648274  0.952977
1    2008-03-03  105.238253  0.589979
2    2008-03-10  105.957288  0.719035
3    2008-03-17  106.414532  0.457244
4    2008-03-24  106.904702  0.490170
..          ...         ...       ...
979  2022-03-14  159.960000  7.010000
980  2022-03-21  165.370000  5.410000
981  2022-03-28  162.651769 -2.718231
982  2022-04-04  161.910000 -0.741769
983  2022-04-11  161.780000 -0.130000

[984 rows x 3 columns]

In [60]:
# Sort the dataframe by time
uk_fuelprice.sort_values(by='Date', inplace= True)
uk_fuelprice.reset_index(drop = True, inplace= True)

In [61]:
timestampStr = [i.strftime("%Y/%m/%d") for i in uk_fuelprice['Date']]

In [62]:
uk_fuelprice['Date'] = timestampStr

uk_fuelprice[uk_fuelprice['Date'] == '2012/04/16']

uk_price = uk_fuelprice[462:].reset_index( drop=True)
uk_price['uk_diff'] = uk_price['uk_diff'].round(decimals = 3)
uk_price['Date'] = [i.replace("/", '-') for i in uk_price['Date']]
uk_price

           Date    uk_price  uk_diff
462  2012/04/16  142.172754  0.20121

           Date    uk_price  uk_diff
0    2012-04-16  142.172754    0.201
1    2012-04-23  141.759020   -0.414
2    2012-04-30  141.004212   -0.755
3    2012-05-07  140.136502   -0.868
4    2012-05-14  138.286574   -1.850
..          ...         ...      ...
517  2022-03-14  159.960000    7.010
518  2022-03-21  165.370000    5.410
519  2022-03-28  162.651769   -2.718
520  2022-04-04  161.910000   -0.742
521  2022-04-11  161.780000   -0.130

[522 rows x 3 columns]

In [63]:
fuel_price = pd.merge(us_price, uk_price, on='Date')

In [64]:
fuel_price = spark.createDataFrame(fuel_price)
fuel_price.printSchema()
fuel_price.write.parquet("/project/DataEngineering/parquet_files/fuel_price.parquet", mode = "overwrite")

root
 |-- Date: string (nullable = true)
 |-- us_price: double (nullable = true)
 |-- us_price_diff: double (nullable = true)
 |-- uk_price: double (nullable = true)
 |-- uk_diff: double (nullable = true)

In [65]:
new= pd.merge(us_price, uga, on='Date')
us_diff = new[['Date', 'us_price_diff', 'uga_Difference']]
us_diff = spark.createDataFrame(us_diff)
us_diff.printSchema()
us_diff.write.parquet("/project/DataEngineering/parquet_files/us_diff.parquet", mode='overwrite')

root
 |-- Date: string (nullable = true)
 |-- us_price_diff: double (nullable = true)
 |-- uga_Difference: double (nullable = true)

In [66]:
us_info = new[['Date', 'uga_Close', 'uga_Volume', 'uga_Difference', 'us_price']]
us_info =  spark.createDataFrame(us_info)
us_info.printSchema()
us_info.write.parquet("/project/DataEngineering/parquet_files/us_info.parquet", mode='overwrite')

root
 |-- Date: string (nullable = true)
 |-- uga_Close: double (nullable = true)
 |-- uga_Volume: double (nullable = true)
 |-- uga_Difference: double (nullable = true)
 |-- us_price: double (nullable = true)

In [67]:
new2= pd.merge(uk_price, shell, on='Date')
uk_diff = new2[['Date', 'uk_diff', 'shell_Difference']]
uk_diff = spark.createDataFrame(uk_diff)
uk_diff.printSchema()
uk_diff.write.parquet("/project/DataEngineering/parquet_files/uk_diff.parquet", mode='overwrite')

root
 |-- Date: string (nullable = true)
 |-- uk_diff: double (nullable = true)
 |-- shell_Difference: double (nullable = true)

In [68]:
uk_info = new2[['Date', 'shell_Close', 'shell_Volume', 'shell_Difference', 'uk_price']]
uk_info = spark.createDataFrame(uk_info)
uk_info.printSchema()
uk_info.write.parquet("/project/DataEngineering/parquet_files/uk_info.parquet", mode='overwrite')

root
 |-- Date: string (nullable = true)
 |-- shell_Close: double (nullable = true)
 |-- shell_Volume: double (nullable = true)
 |-- shell_Difference: double (nullable = true)
 |-- uk_price: double (nullable = true)

In [72]:
!PGPASSWORD=qwerty123 psql -h depgdb.crhso94tou3n.eu-west-2.rds.amazonaws.com -d huizihu21 -U huizihu21 -c '\i Schema.sql'

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

DROP SCHEMA
CREATE SCHEMA
psql:Schema.sql:6: NOTICE:  table "stock_price" does not exist, skipping
DROP TABLE
psql:Schema.sql:7: NOTICE:  table "fuel_price" does not exist, skipping
DROP TABLE
psql:Schema.sql:8: NOTICE:  table "us_info" does not exist, skipping
DROP TABLE
psql:Schema.sql:9: NOTICE:  table "uk_info" does not exist, skipping
DROP TABLE
psql:Schema.sql:10: NOTICE:  table "us_diff" does not exist, skipping
DROP TABLE
psql:Schema.sql:11: NOTICE:  table "uk_diff" does not exist, skipping
DROP TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE

In [70]:
postgres_uri = "jdbc:postgresql://depgdb.crhso94tou3n.eu-west-2.rds.amazonaws.com:5432/huizihu21"
user = "huizihu21"
password = "qwerty123"

In [71]:
stock_price.write.jdbc(url=postgres_uri, table="fuel_and_stock_price.stock_price", mode="append", properties={"user":user, "password": password, "driver": "org.postgresql.Driver" })

fuel_price.write.jdbc(url=postgres_uri, table="fuel_and_stock_price.fuel_price", mode="append", properties={"user":user, "password": password, "driver": "org.postgresql.Driver" })

us_info.write.jdbc(url=postgres_uri, table="fuel_and_stock_price.us_info", mode="append", properties={"user":user, "password": password, "driver": "org.postgresql.Driver" })

uk_info.write.jdbc(url=postgres_uri, table="fuel_and_stock_price.uk_info", mode="append", properties={"user":user, "password": password, "driver": "org.postgresql.Driver" })

us_diff.write.jdbc(url=postgres_uri, table="fuel_and_stock_price.us_diff", mode="append", properties={"user":user, "password": password, "driver": "org.postgresql.Driver" })

uk_diff.write.jdbc(url=postgres_uri, table="fuel_and_stock_price.uk_diff", mode="append", properties={"user":user, "password": password, "driver": "org.postgresql.Driver" })

Py4JJavaError: An error occurred while calling o273.jdbc.
: java.lang.ClassNotFoundException: org.postgresql.Driver
	at java.net.URLClassLoader.findClass(URLClassLoader.java:387)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:418)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:351)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:101)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:101)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:101)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:218)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:222)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:46)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:106)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:106)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:91)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:128)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:745)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)