In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
!pip install pyspark

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

Requirement already satisfied: pyspark in /opt/anaconda/envs/Python3/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /opt/anaconda/envs/Python3/lib/python3.8/site-packages (from pyspark) (0.10.9.3)

In [3]:
!bash install_spark.sh

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

Hit:1 http://eu-west-1.ec2.archive.ubuntu.com/ubuntu bionic InRelease
Get:2 http://eu-west-1.ec2.archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:3 http://eu-west-1.ec2.archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:5 https://packages.cloud.google.com/apt cloud-sdk InRelease
Fetched 252 kB in 0s (650 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following package was automatically installed and is no longer required:
  python3-crcmod
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
openjdk-8-jdk-headless is already the newest version (8u312-b07-0ubuntu1~18.04).
The following package was automatically installed and is no longer required:
  python3-crcmod
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
/project /project
spark-3.2.1-bin-hadoop3.2/
spark-3.2.1-bin-hadoop3.2/LICENSE
spark-3.2.1-bin-hadoop3.2/NOTICE
spark-3.2.1-bin-hadoop3.2/R/
spark-3.2.1-bin-hadoop3.2/R/lib/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/DESCRIPTION
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/INDEX
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/Meta/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/Meta/Rd.rds
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/Meta/features.rds
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/Meta/hsearch.rds
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/Meta/links.rds
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/Meta/nsInfo.rds
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/Meta/package.rds
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/Meta/vignette.rds
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/NAMESPACE
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/R/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/R/SparkR
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/R/SparkR.rdb
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/R/SparkR.rdx
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/doc/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/doc/index.html
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/doc/sparkr-vignettes.R
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/doc/sparkr-vignettes.Rmd
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/doc/sparkr-vignettes.html
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/help/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/help/AnIndex
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/help/SparkR.rdb
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/help/SparkR.rdx
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/help/aliases.rds
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/help/paths.rds
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/html/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/html/00Index.html
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/html/R.css
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/profile/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/profile/general.R
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/profile/shell.R
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/tests/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/tests/testthat/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/tests/testthat/test_basic.R
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/worker/
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/worker/daemon.R
spark-3.2.1-bin-hadoop3.2/R/lib/SparkR/worker/worker.R
spark-3.2.1-bin-hadoop3.2/R/lib/sparkr.zip
spark-3.2.1-bin-hadoop3.2/README.md
spark-3.2.1-bin-hadoop3.2/RELEASE
spark-3.2.1-bin-hadoop3.2/bin/
spark-3.2.1-bin-hadoop3.2/bin/beeline
spark-3.2.1-bin-hadoop3.2/bin/beeline.cmd
spark-3.2.1-bin-hadoop3.2/bin/docker-image-tool.sh
spark-3.2.1-bin-hadoop3.2/bin/find-spark-home
spark-3.2.1-bin-hadoop3.2/bin/find-spark-home.cmd
spark-3.2.1-bin-hadoop3.2/bin/load-spark-env.cmd
spark-3.2.1-bin-hadoop3.2/bin/load-spark-env.sh
spark-3.2.1-bin-hadoop3.2/bin/pyspark
spark-3.2.1-bin-hadoop3.2/bin/pyspark.cmd
spark-3.2.1-bin-hadoop3.2/bin/pyspark2.cmd
spark-3.2.1-bin-hadoop3.2/bin/run-example
spark-3.2.1-bin-hadoop3.2/bin/run-example.cmd
spark-3.2.1-bin-hadoop3.2/bin/spark-class
spark-3.2.1-bin-hadoop3.2/bin/spark-class.cmd
spark-3.2.1-bin-hadoop3.2/bin/spark-class2.cmd
spark-3.2.1-bin-hadoop3.2/bin/spark-shell
spark-3.2.1-bin-hadoop3.2/bin/spark-shell.cmd
spark-3.2.1-bin-hadoop3.2/bin/spark-shell2.cmd
spark-3.2.1-bin-hadoop3.2/bin/spark-sql
spark-3.2.1-bin-hadoop3.2/bin/spark-sql.cmd
spark-3.2.1-bin-hadoop3.2/bin/spark-sql2.cmd
spark-3.2.1-bin-hadoop3.2/bin/spark-submit
spark-3.2.1-bin-hadoop3.2/bin/spark-submit.cmd
spark-3.2.1-bin-hadoop3.2/bin/spark-submit2.cmd
spark-3.2.1-bin-hadoop3.2/bin/sparkR
spark-3.2.1-bin-hadoop3.2/bin/sparkR.cmd
spark-3.2.1-bin-hadoop3.2/bin/sparkR2.cmd
spark-3.2.1-bin-hadoop3.2/conf/
spark-3.2.1-bin-hadoop3.2/conf/fairscheduler.xml.template
spark-3.2.1-bin-hadoop3.2/conf/log4j.properties.template
spark-3.2.1-bin-hadoop3.2/conf/metrics.properties.template
spark-3.2.1-bin-hadoop3.2/conf/spark-defaults.conf.template
spark-3.2.1-bin-hadoop3.2/conf/spark-env.sh.template
spark-3.2.1-bin-hadoop3.2/conf/workers.template
spark-3.2.1-bin-hadoop3.2/data/
spark-3.2.1-bin-hadoop3.2/data/graphx/
spark-3.2.1-bin-hadoop3.2/data/graphx/followers.txt
spark-3.2.1-bin-hadoop3.2/data/graphx/users.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/
spark-3.2.1-bin-hadoop3.2/data/mllib/als/
spark-3.2.1-bin-hadoop3.2/data/mllib/als/sample_movielens_ratings.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/als/test.data
spark-3.2.1-bin-hadoop3.2/data/mllib/gmm_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/images/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/license.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/kittens/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/kittens/29.5.a_b_EGDP022204.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/kittens/54893.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/kittens/DP153539.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/kittens/DP802813.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/kittens/not-image.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/license.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/BGRA.png
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/BGRA_alpha_60.png
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/chr30.4.184.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/grayscale.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=kittens/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=kittens/date=2018-01/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=kittens/date=2018-01/29.5.a_b_EGDP022204.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=kittens/date=2018-01/not-image.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=kittens/date=2018-02/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=kittens/date=2018-02/54893.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=kittens/date=2018-02/DP153539.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=kittens/date=2018-02/DP802813.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-01/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA.png
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA_alpha_60.png

spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-02/
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-02/chr30.4.184.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-02/grayscale.jpg
spark-3.2.1-bin-hadoop3.2/data/mllib/iris_libsvm.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/kmeans_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/pagerank_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/pic_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/ridge-data/
spark-3.2.1-bin-hadoop3.2/data/mllib/ridge-data/lpsa.data
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_binary_classification_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_fpgrowth.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_isotonic_regression_libsvm_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_kmeans_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_lda_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_lda_libsvm_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_libsvm_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_linear_regression_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_movielens_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_multiclass_classification_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/sample_svm_data.txt
spark-3.2.1-bin-hadoop3.2/data/mllib/streaming_kmeans_data_test.txt
spark-3.2.1-bin-hadoop3.2/data/streaming/
spark-3.2.1-bin-hadoop3.2/data/streaming/AFINN-111.txt
spark-3.2.1-bin-hadoop3.2/examples/
spark-3.2.1-bin-hadoop3.2/examples/jars/
spark-3.2.1-bin-hadoop3.2/examples/jars/scopt_2.12-3.7.1.jar
spark-3.2.1-bin-hadoop3.2/examples/jars/spark-examples_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/examples/src/
spark-3.2.1-bin-hadoop3.2/examples/src/main/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/JavaHdfsLR.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/JavaLogQuery.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/JavaPageRank.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/JavaSparkPi.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/JavaStatusTrackerDemo.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/JavaTC.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/JavaWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaAFTSurvivalRegressionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaALSExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaBinarizerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaBisectingKMeansExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketedRandomProjectionLSHExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketizerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSqSelectorExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSquareTestExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaCorrelationExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaCountVectorizerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaDCTExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeClassificationExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeRegressionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaDocument.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaElementwiseProductExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaEstimatorTransformerParamExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaFMClassifierExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaFMRegressorExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaFPGrowthExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaFeatureHasherExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaGaussianMixtureExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaGeneralizedLinearRegressionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeClassifierExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeRegressorExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaImputerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaIndexToStringExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaInteractionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaIsotonicRegressionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaKMeansExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaLDAExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaLabeledDocument.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaLinearRegressionWithElasticNetExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaLinearSVCExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaLogisticRegressionSummaryExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaLogisticRegressionWithElasticNetExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaMaxAbsScalerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaMinHashLSHExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaMinMaxScalerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaModelSelectionViaCrossValidationExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaModelSelectionViaTrainValidationSplitExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaMulticlassLogisticRegressionWithElasticNetExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaMultilayerPerceptronClassifierExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaNGramExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaNaiveBayesExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaNormalizerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaOneHotEncoderExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaOneVsRestExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaPCAExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaPipelineExample.java

spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaPolynomialExpansionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaPowerIterationClusteringExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaPrefixSpanExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaQuantileDiscretizerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaRFormulaExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaRandomForestClassifierExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaRandomForestRegressorExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaRobustScalerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaSQLTransformerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaStandardScalerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaStopWordsRemoverExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaStringIndexerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaSummarizerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaTfIdfExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaTokenizerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaUnivariateFeatureSelectorExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaVarianceThresholdSelectorExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorAssemblerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorIndexerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorSizeHintExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorSlicerExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/ml/JavaWord2VecExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaALS.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaAssociationRulesExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaBinaryClassificationMetricsExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaBisectingKMeansExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaChiSqSelectorExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaCorrelationsExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaDecisionTreeClassificationExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaDecisionTreeRegressionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaElementwiseProductExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaGaussianMixtureExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaGradientBoostingClassificationExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaGradientBoostingRegressionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaHypothesisTestingExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaHypothesisTestingKolmogorovSmirnovTestExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaIsotonicRegressionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaKMeansExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaKernelDensityEstimationExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaLBFGSExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaLatentDirichletAllocationExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaLogisticRegressionWithLBFGSExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaMultiLabelClassificationMetricsExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaMulticlassClassificationMetricsExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaNaiveBayesExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaPCAExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaPowerIterationClusteringExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaPrefixSpanExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaRandomForestClassificationExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaRandomForestRegressionExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaRankingMetricsExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaRecommendationExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaSVDExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaSVMWithSGDExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaSimpleFPGrowth.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaStratifiedSamplingExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaStreamingTestExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/mllib/JavaSummaryStatisticsExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/JavaSQLDataSourceExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/JavaSparkSQLExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/JavaUserDefinedScalar.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/JavaUserDefinedTypedAggregation.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/JavaUserDefinedUntypedAggregation.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/hive/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/hive/JavaSparkHiveExample.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/streaming/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/streaming/JavaStructuredComplexSessionization.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/streaming/JavaStructuredKafkaWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/streaming/JavaStructuredKerberizedKafkaWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/streaming/JavaStructuredNetworkWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/streaming/JavaStructuredNetworkWordCountWindowed.java

spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/sql/streaming/JavaStructuredSessionization.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/JavaCustomReceiver.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/JavaDirectKafkaWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/JavaDirectKerberizedKafkaWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/JavaNetworkWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/JavaQueueStream.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/JavaRecord.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/JavaRecoverableNetworkWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/JavaSqlNetworkWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/java/org/apache/spark/examples/streaming/JavaStatefulNetworkWordCount.java
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/als.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/avro_inputformat.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/kmeans.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/logistic_regression.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/aft_survival_regression.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/als_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/binarizer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/bisecting_k_means_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/bucketed_random_projection_lsh_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/bucketizer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/chi_square_test_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/chisq_selector_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/correlation_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/count_vectorizer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/cross_validator.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/dataframe_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/dct_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/decision_tree_classification_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/decision_tree_regression_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/elementwise_product_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/estimator_transformer_param_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/feature_hasher_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/fm_classifier_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/fm_regressor_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/fpgrowth_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/gaussian_mixture_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/generalized_linear_regression_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/gradient_boosted_tree_classifier_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/gradient_boosted_tree_regressor_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/imputer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/index_to_string_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/interaction_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/isotonic_regression_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/kmeans_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/lda_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/linear_regression_with_elastic_net.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/linearsvc.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/logistic_regression_summary_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/logistic_regression_with_elastic_net.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/max_abs_scaler_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/min_hash_lsh_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/min_max_scaler_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/multiclass_logistic_regression_with_elastic_net.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/multilayer_perceptron_classification.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/n_gram_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/naive_bayes_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/normalizer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/one_vs_rest_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/onehot_encoder_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/pca_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/pipeline_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/polynomial_expansion_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/power_iteration_clustering_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/prefixspan_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/quantile_discretizer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/random_forest_classifier_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/random_forest_regressor_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/rformula_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/robust_scaler_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/sql_transformer.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/standard_scaler_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/stopwords_remover_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/string_indexer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/summarizer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/tf_idf_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/tokenizer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/train_validation_split.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/univariate_feature_selector_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/variance_threshold_selector_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/vector_assembler_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/vector_indexer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/vector_size_hint_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/vector_slicer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/ml/word2vec_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/binary_classification_metrics_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/bisecting_k_means_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/correlations.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/correlations_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/decision_tree_classification_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/decision_tree_regression_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/elementwise_product_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/fpgrowth_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/gaussian_mixture_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/gaussian_mixture_model.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/gradient_boosting_classification_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/gradient_boosting_regression_example.py

spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/hypothesis_testing_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/hypothesis_testing_kolmogorov_smirnov_test_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/isotonic_regression_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/k_means_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/kernel_density_estimation_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/kmeans.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/latent_dirichlet_allocation_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/linear_regression_with_sgd_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/logistic_regression.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/logistic_regression_with_lbfgs_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/multi_class_metrics_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/multi_label_metrics_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/naive_bayes_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/normalizer_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/pca_rowmatrix_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/power_iteration_clustering_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/random_forest_classification_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/random_forest_regression_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/random_rdd_generation.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/ranking_metrics_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/recommendation_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/regression_metrics_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/sampled_rdds.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/standard_scaler_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/stratified_sampling_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/streaming_k_means_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/streaming_linear_regression_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/summary_statistics_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/svd_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/svm_with_sgd_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/tf_idf_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/word2vec.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/mllib/word2vec_example.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/pagerank.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/parquet_inputformat.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/pi.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sort.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/arrow.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/basic.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/datasource.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/hive.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/streaming/
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/streaming/structured_kafka_wordcount.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/streaming/structured_network_wordcount.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/streaming/structured_network_wordcount_windowed.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/sql/streaming/structured_sessionization.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/status_api_demo.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/streaming/
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/streaming/hdfs_wordcount.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/streaming/network_wordcount.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/streaming/network_wordjoinsentiments.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/streaming/queue_stream.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/streaming/recoverable_network_wordcount.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/streaming/sql_network_wordcount.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/streaming/stateful_network_wordcount.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/transitive_closure.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/python/wordcount.py
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/RSparkSQLExample.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/data-manipulation.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/dataframe.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/als.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/bisectingKmeans.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/decisionTree.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/fmClassifier.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/fmRegressor.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/fpm.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/gaussianMixture.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/gbt.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/glm.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/isoreg.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/kmeans.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/kstest.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/lda.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/lm_with_elastic_net.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/logit.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/ml.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/mlp.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/naiveBayes.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/powerIterationClustering.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/prefixSpan.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/randomForest.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/survreg.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/ml/svmLinear.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/streaming/
spark-3.2.1-bin-hadoop3.2/examples/src/main/r/streaming/structured_network_wordcount.R
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/META-INF/
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/META-INF/services/
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/META-INF/services/org.apache.spark.sql.SparkSessionExtensionsProvider
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/META-INF/services/org.apache.spark.sql.jdbc.JdbcConnectionProvider
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/dir1/
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/dir1/dir2/
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/dir1/dir2/file2.parquet
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/dir1/file1.parquet
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/dir1/file3.json
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/employees.json
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/full_user.avsc
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/kv1.txt
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/people.csv
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/people.json
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/people.txt
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/user.avsc
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/users.avro
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/users.orc
spark-3.2.1-bin-hadoop3.2/examples/src/main/resources/users.parquet
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/AccumulatorMetricsTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/BroadcastTest.scala

spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/DFSReadWriteTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/DriverSubmissionTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ExceptionHandlingTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/GroupByTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/HdfsTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/LocalALS.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/LocalFileLR.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/LocalKMeans.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/LocalLR.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/LocalPi.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/LogQuery.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/MultiBroadcastTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SimpleSkewedGroupByTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SkewedGroupByTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SparkALS.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SparkHdfsLR.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SparkKMeans.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SparkLR.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SparkPageRank.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SparkPi.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SparkRemoteFileTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/SparkTC.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/extensions/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/extensions/AgeExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/extensions/SessionExtensionsWithLoader.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/extensions/SessionExtensionsWithoutLoader.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/extensions/SparkSessionExtensionsTest.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/AggregateMessagesExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/Analytics.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/ComprehensiveExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/ConnectedComponentsExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/LiveJournalPageRank.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/PageRankExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/SSSPExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/SynthBenchmark.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/graphx/TriangleCountingExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/AFTSurvivalRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/ALSExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/BinarizerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/BisectingKMeansExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/BucketedRandomProjectionLSHExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/BucketizerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/ChiSqSelectorExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/ChiSquareTestExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/CorrelationExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/CountVectorizerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/DCTExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/DataFrameExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/DecisionTreeClassificationExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/DecisionTreeExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/DecisionTreeRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/DeveloperApiExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/ElementwiseProductExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/EstimatorTransformerParamExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/FMClassifierExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/FMRegressorExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/FPGrowthExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/FeatureHasherExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/GBTExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/GaussianMixtureExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/GeneralizedLinearRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/GradientBoostedTreeClassifierExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/GradientBoostedTreeRegressorExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/ImputerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/IndexToStringExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/InteractionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/IsotonicRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/KMeansExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/LDAExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/LinearRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/LinearRegressionWithElasticNetExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/LinearSVCExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/LogisticRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/LogisticRegressionSummaryExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/LogisticRegressionWithElasticNetExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/MaxAbsScalerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/MinHashLSHExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/MinMaxScalerExample.scala

spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/ModelSelectionViaCrossValidationExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/ModelSelectionViaTrainValidationSplitExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/MulticlassLogisticRegressionWithElasticNetExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/MultilayerPerceptronClassifierExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/NGramExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/NaiveBayesExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/NormalizerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/OneHotEncoderExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/OneVsRestExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/PCAExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/PipelineExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/PolynomialExpansionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/PowerIterationClusteringExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/PrefixSpanExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/QuantileDiscretizerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/RFormulaExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/RandomForestClassifierExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/RandomForestExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/RandomForestRegressorExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/RobustScalerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/SQLTransformerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/StandardScalerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/StopWordsRemoverExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/StringIndexerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/SummarizerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/TfIdfExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/TokenizerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/UnaryTransformerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/UnivariateFeatureSelectorExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/VarianceThresholdSelectorExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/VectorAssemblerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/VectorIndexerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/VectorSizeHintExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/VectorSlicerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/ml/Word2VecExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/AbstractParams.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/AssociationRulesExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/BinaryClassification.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/BinaryClassificationMetricsExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/BisectingKMeansExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/ChiSqSelectorExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/Correlations.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/CorrelationsExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/CosineSimilarity.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/DecisionTreeClassificationExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/DecisionTreeRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/DecisionTreeRunner.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/DenseKMeans.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/ElementwiseProductExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/FPGrowthExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/GaussianMixtureExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/GradientBoostedTreesRunner.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/GradientBoostingClassificationExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/GradientBoostingRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/HypothesisTestingExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/HypothesisTestingKolmogorovSmirnovTestExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/IsotonicRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/KMeansExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/KernelDensityEstimationExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/LBFGSExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/LDAExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/LatentDirichletAllocationExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/LogisticRegressionWithLBFGSExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/MovieLensALS.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/MultiLabelMetricsExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/MulticlassMetricsExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/MultivariateSummarizer.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/NaiveBayesExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/NormalizerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/PCAOnRowMatrixExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/PCAOnSourceVectorExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/PMMLModelExportExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/PowerIterationClusteringExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/PrefixSpanExample.scala

spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/RandomForestClassificationExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/RandomForestRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/RandomRDDGeneration.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/RankingMetricsExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/RecommendationExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/SVDExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/SVMWithSGDExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/SampledRDDs.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/SimpleFPGrowth.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/SparseNaiveBayes.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/StandardScalerExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/StratifiedSamplingExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/StreamingKMeansExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/StreamingLinearRegressionExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/StreamingLogisticRegression.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/StreamingTestExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/SummaryStatisticsExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/TFIDFExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/TallSkinnyPCA.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/TallSkinnySVD.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/mllib/Word2VecExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/pythonconverters/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/pythonconverters/AvroConverters.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/RDDRelation.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/SQLDataSourceExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/SimpleTypedAggregator.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/SparkSQLExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/UserDefinedScalar.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/UserDefinedTypedAggregation.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/UserDefinedUntypedAggregation.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/hive/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/hive/SparkHiveExample.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/jdbc/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/jdbc/ExampleJdbcConnectionProvider.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/streaming/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/streaming/StructuredComplexSessionization.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/streaming/StructuredKafkaWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/streaming/StructuredKerberizedKafkaWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/streaming/StructuredNetworkWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/streaming/StructuredNetworkWordCountWindowed.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/sql/streaming/StructuredSessionization.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/CustomReceiver.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/DirectKafkaWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/DirectKerberizedKafkaWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/HdfsWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/NetworkWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/QueueStream.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/RawNetworkGrep.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/RecoverableNetworkWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/SqlNetworkWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/StatefulNetworkWordCount.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/StreamingExamples.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/clickstream/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/clickstream/PageViewGenerator.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scala/org/apache/spark/examples/streaming/clickstream/PageViewStream.scala
spark-3.2.1-bin-hadoop3.2/examples/src/main/scripts/
spark-3.2.1-bin-hadoop3.2/examples/src/main/scripts/getGpusResources.sh
spark-3.2.1-bin-hadoop3.2/jars/
spark-3.2.1-bin-hadoop3.2/jars/HikariCP-2.5.1.jar
spark-3.2.1-bin-hadoop3.2/jars/JLargeArrays-1.5.jar
spark-3.2.1-bin-hadoop3.2/jars/JTransforms-3.1.jar
spark-3.2.1-bin-hadoop3.2/jars/RoaringBitmap-0.9.0.jar
spark-3.2.1-bin-hadoop3.2/jars/ST4-4.0.4.jar
spark-3.2.1-bin-hadoop3.2/jars/activation-1.1.1.jar
spark-3.2.1-bin-hadoop3.2/jars/aircompressor-0.21.jar
spark-3.2.1-bin-hadoop3.2/jars/algebra_2.12-2.0.1.jar
spark-3.2.1-bin-hadoop3.2/jars/annotations-17.0.0.jar
spark-3.2.1-bin-hadoop3.2/jars/antlr-runtime-3.5.2.jar
spark-3.2.1-bin-hadoop3.2/jars/antlr4-runtime-4.8.jar
spark-3.2.1-bin-hadoop3.2/jars/aopalliance-repackaged-2.6.1.jar
spark-3.2.1-bin-hadoop3.2/jars/arpack-2.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/arpack_combined_all-0.1.jar
spark-3.2.1-bin-hadoop3.2/jars/arrow-format-2.0.0.jar
spark-3.2.1-bin-hadoop3.2/jars/arrow-memory-core-2.0.0.jar
spark-3.2.1-bin-hadoop3.2/jars/arrow-memory-netty-2.0.0.jar
spark-3.2.1-bin-hadoop3.2/jars/arrow-vector-2.0.0.jar
spark-3.2.1-bin-hadoop3.2/jars/audience-annotations-0.5.0.jar
spark-3.2.1-bin-hadoop3.2/jars/automaton-1.11-8.jar
spark-3.2.1-bin-hadoop3.2/jars/avro-1.10.2.jar
spark-3.2.1-bin-hadoop3.2/jars/avro-ipc-1.10.2.jar
spark-3.2.1-bin-hadoop3.2/jars/avro-mapred-1.10.2.jar
spark-3.2.1-bin-hadoop3.2/jars/blas-2.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/bonecp-0.8.0.RELEASE.jar
spark-3.2.1-bin-hadoop3.2/jars/breeze-macros_2.12-1.2.jar
spark-3.2.1-bin-hadoop3.2/jars/breeze_2.12-1.2.jar
spark-3.2.1-bin-hadoop3.2/jars/cats-kernel_2.12-2.1.1.jar
spark-3.2.1-bin-hadoop3.2/jars/chill-java-0.10.0.jar
spark-3.2.1-bin-hadoop3.2/jars/chill_2.12-0.10.0.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-cli-1.2.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-codec-1.15.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-collections-3.2.2.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-compiler-3.0.16.jar

spark-3.2.1-bin-hadoop3.2/jars/commons-compress-1.21.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-crypto-1.1.0.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-dbcp-1.4.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-io-2.8.0.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-lang-2.6.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-lang3-3.12.0.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-logging-1.1.3.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-math3-3.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-net-3.1.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-pool-1.5.4.jar
spark-3.2.1-bin-hadoop3.2/jars/commons-text-1.6.jar
spark-3.2.1-bin-hadoop3.2/jars/compress-lzf-1.0.3.jar
spark-3.2.1-bin-hadoop3.2/jars/core-1.1.2.jar
spark-3.2.1-bin-hadoop3.2/jars/curator-client-2.13.0.jar
spark-3.2.1-bin-hadoop3.2/jars/curator-framework-2.13.0.jar
spark-3.2.1-bin-hadoop3.2/jars/curator-recipes-2.13.0.jar
spark-3.2.1-bin-hadoop3.2/jars/datanucleus-api-jdo-4.2.4.jar
spark-3.2.1-bin-hadoop3.2/jars/datanucleus-core-4.1.17.jar
spark-3.2.1-bin-hadoop3.2/jars/datanucleus-rdbms-4.1.19.jar
spark-3.2.1-bin-hadoop3.2/jars/derby-10.14.2.0.jar
spark-3.2.1-bin-hadoop3.2/jars/dropwizard-metrics-hadoop-metrics2-reporter-0.1.2.jar
spark-3.2.1-bin-hadoop3.2/jars/flatbuffers-java-1.9.0.jar
spark-3.2.1-bin-hadoop3.2/jars/generex-1.0.2.jar
spark-3.2.1-bin-hadoop3.2/jars/gson-2.2.4.jar
spark-3.2.1-bin-hadoop3.2/jars/guava-14.0.1.jar
spark-3.2.1-bin-hadoop3.2/jars/hadoop-client-api-3.3.1.jar
spark-3.2.1-bin-hadoop3.2/jars/hadoop-client-runtime-3.3.1.jar
spark-3.2.1-bin-hadoop3.2/jars/hadoop-shaded-guava-1.1.1.jar
spark-3.2.1-bin-hadoop3.2/jars/hadoop-yarn-server-web-proxy-3.3.1.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-beeline-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-cli-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-common-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-exec-2.3.9-core.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-jdbc-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-llap-common-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-metastore-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-serde-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-service-rpc-3.1.2.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-shims-0.23-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-shims-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-shims-common-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-shims-scheduler-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-storage-api-2.7.2.jar
spark-3.2.1-bin-hadoop3.2/jars/hive-vector-code-gen-2.3.9.jar
spark-3.2.1-bin-hadoop3.2/jars/hk2-api-2.6.1.jar
spark-3.2.1-bin-hadoop3.2/jars/hk2-locator-2.6.1.jar
spark-3.2.1-bin-hadoop3.2/jars/hk2-utils-2.6.1.jar
spark-3.2.1-bin-hadoop3.2/jars/htrace-core4-4.1.0-incubating.jar
spark-3.2.1-bin-hadoop3.2/jars/httpclient-4.5.13.jar
spark-3.2.1-bin-hadoop3.2/jars/httpcore-4.4.14.jar
spark-3.2.1-bin-hadoop3.2/jars/istack-commons-runtime-3.0.8.jar
spark-3.2.1-bin-hadoop3.2/jars/ivy-2.5.0.jar
spark-3.2.1-bin-hadoop3.2/jars/jackson-annotations-2.12.3.jar
spark-3.2.1-bin-hadoop3.2/jars/jackson-core-2.12.3.jar
spark-3.2.1-bin-hadoop3.2/jars/jackson-core-asl-1.9.13.jar
spark-3.2.1-bin-hadoop3.2/jars/jackson-databind-2.12.3.jar
spark-3.2.1-bin-hadoop3.2/jars/jackson-dataformat-yaml-2.12.3.jar
spark-3.2.1-bin-hadoop3.2/jars/jackson-datatype-jsr310-2.11.2.jar
spark-3.2.1-bin-hadoop3.2/jars/jackson-mapper-asl-1.9.13.jar
spark-3.2.1-bin-hadoop3.2/jars/jackson-module-scala_2.12-2.12.3.jar
spark-3.2.1-bin-hadoop3.2/jars/jakarta.annotation-api-1.3.5.jar
spark-3.2.1-bin-hadoop3.2/jars/jakarta.inject-2.6.1.jar
spark-3.2.1-bin-hadoop3.2/jars/jakarta.servlet-api-4.0.3.jar
spark-3.2.1-bin-hadoop3.2/jars/jakarta.validation-api-2.0.2.jar
spark-3.2.1-bin-hadoop3.2/jars/jakarta.ws.rs-api-2.1.6.jar
spark-3.2.1-bin-hadoop3.2/jars/jakarta.xml.bind-api-2.3.2.jar
spark-3.2.1-bin-hadoop3.2/jars/janino-3.0.16.jar
spark-3.2.1-bin-hadoop3.2/jars/javassist-3.25.0-GA.jar
spark-3.2.1-bin-hadoop3.2/jars/javax.jdo-3.2.0-m3.jar
spark-3.2.1-bin-hadoop3.2/jars/javolution-5.5.1.jar
spark-3.2.1-bin-hadoop3.2/jars/jaxb-api-2.2.11.jar
spark-3.2.1-bin-hadoop3.2/jars/jaxb-runtime-2.3.2.jar
spark-3.2.1-bin-hadoop3.2/jars/jcl-over-slf4j-1.7.30.jar
spark-3.2.1-bin-hadoop3.2/jars/jdo-api-3.0.1.jar
spark-3.2.1-bin-hadoop3.2/jars/jersey-client-2.34.jar
spark-3.2.1-bin-hadoop3.2/jars/jersey-common-2.34.jar
spark-3.2.1-bin-hadoop3.2/jars/jersey-container-servlet-2.34.jar
spark-3.2.1-bin-hadoop3.2/jars/jersey-container-servlet-core-2.34.jar
spark-3.2.1-bin-hadoop3.2/jars/jersey-hk2-2.34.jar
spark-3.2.1-bin-hadoop3.2/jars/jersey-server-2.34.jar
spark-3.2.1-bin-hadoop3.2/jars/jline-2.14.6.jar
spark-3.2.1-bin-hadoop3.2/jars/joda-time-2.10.10.jar
spark-3.2.1-bin-hadoop3.2/jars/jodd-core-3.5.2.jar
spark-3.2.1-bin-hadoop3.2/jars/jpam-1.1.jar
spark-3.2.1-bin-hadoop3.2/jars/json-1.8.jar
spark-3.2.1-bin-hadoop3.2/jars/json4s-ast_2.12-3.7.0-M11.jar
spark-3.2.1-bin-hadoop3.2/jars/json4s-core_2.12-3.7.0-M11.jar
spark-3.2.1-bin-hadoop3.2/jars/json4s-jackson_2.12-3.7.0-M11.jar
spark-3.2.1-bin-hadoop3.2/jars/json4s-scalap_2.12-3.7.0-M11.jar
spark-3.2.1-bin-hadoop3.2/jars/jsr305-3.0.0.jar
spark-3.2.1-bin-hadoop3.2/jars/jta-1.1.jar
spark-3.2.1-bin-hadoop3.2/jars/jul-to-slf4j-1.7.30.jar
spark-3.2.1-bin-hadoop3.2/jars/kryo-shaded-4.0.2.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-client-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-admissionregistration-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-apiextensions-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-apps-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-autoscaling-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-batch-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-certificates-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-common-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-coordination-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-core-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-discovery-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-events-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-extensions-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-flowcontrol-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-metrics-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-networking-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-node-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-policy-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-rbac-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-scheduling-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/kubernetes-model-storageclass-5.4.1.jar
spark-3.2.1-bin-hadoop3.2/jars/lapack-2.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/leveldbjni-all-1.8.jar
spark-3.2.1-bin-hadoop3.2/jars/libfb303-0.9.3.jar
spark-3.2.1-bin-hadoop3.2/jars/libthrift-0.12.0.jar
spark-3.2.1-bin-hadoop3.2/jars/log4j-1.2.17.jar
spark-3.2.1-bin-hadoop3.2/jars/logging-interceptor-3.12.12.jar
spark-3.2.1-bin-hadoop3.2/jars/lz4-java-1.7.1.jar
spark-3.2.1-bin-hadoop3.2/jars/macro-compat_2.12-1.1.1.jar
spark-3.2.1-bin-hadoop3.2/jars/mesos-1.4.0-shaded-protobuf.jar
spark-3.2.1-bin-hadoop3.2/jars/metrics-core-4.2.0.jar
spark-3.2.1-bin-hadoop3.2/jars/metrics-graphite-4.2.0.jar
spark-3.2.1-bin-hadoop3.2/jars/metrics-jmx-4.2.0.jar
spark-3.2.1-bin-hadoop3.2/jars/metrics-json-4.2.0.jar
spark-3.2.1-bin-hadoop3.2/jars/metrics-jvm-4.2.0.jar
spark-3.2.1-bin-hadoop3.2/jars/minlog-1.3.0.jar
spark-3.2.1-bin-hadoop3.2/jars/netty-all-4.1.68.Final.jar
spark-3.2.1-bin-hadoop3.2/jars/objenesis-2.6.jar
spark-3.2.1-bin-hadoop3.2/jars/okhttp-3.12.12.jar
spark-3.2.1-bin-hadoop3.2/jars/okio-1.14.0.jar
spark-3.2.1-bin-hadoop3.2/jars/opencsv-2.3.jar
spark-3.2.1-bin-hadoop3.2/jars/orc-core-1.6.12.jar
spark-3.2.1-bin-hadoop3.2/jars/orc-mapreduce-1.6.12.jar
spark-3.2.1-bin-hadoop3.2/jars/orc-shims-1.6.12.jar
spark-3.2.1-bin-hadoop3.2/jars/oro-2.0.8.jar
spark-3.2.1-bin-hadoop3.2/jars/osgi-resource-locator-1.0.3.jar
spark-3.2.1-bin-hadoop3.2/jars/paranamer-2.8.jar
spark-3.2.1-bin-hadoop3.2/jars/parquet-column-1.12.2.jar
spark-3.2.1-bin-hadoop3.2/jars/parquet-common-1.12.2.jar
spark-3.2.1-bin-hadoop3.2/jars/parquet-encoding-1.12.2.jar

spark-3.2.1-bin-hadoop3.2/jars/parquet-format-structures-1.12.2.jar
spark-3.2.1-bin-hadoop3.2/jars/parquet-hadoop-1.12.2.jar
spark-3.2.1-bin-hadoop3.2/jars/parquet-jackson-1.12.2.jar
spark-3.2.1-bin-hadoop3.2/jars/protobuf-java-2.5.0.jar
spark-3.2.1-bin-hadoop3.2/jars/py4j-0.10.9.3.jar
spark-3.2.1-bin-hadoop3.2/jars/pyrolite-4.30.jar
spark-3.2.1-bin-hadoop3.2/jars/rocksdbjni-6.20.3.jar
spark-3.2.1-bin-hadoop3.2/jars/scala-collection-compat_2.12-2.1.1.jar
spark-3.2.1-bin-hadoop3.2/jars/scala-compiler-2.12.15.jar
spark-3.2.1-bin-hadoop3.2/jars/scala-library-2.12.15.jar
spark-3.2.1-bin-hadoop3.2/jars/scala-parser-combinators_2.12-1.1.2.jar
spark-3.2.1-bin-hadoop3.2/jars/scala-reflect-2.12.15.jar
spark-3.2.1-bin-hadoop3.2/jars/scala-xml_2.12-1.2.0.jar
spark-3.2.1-bin-hadoop3.2/jars/shapeless_2.12-2.3.3.jar
spark-3.2.1-bin-hadoop3.2/jars/shims-0.9.0.jar
spark-3.2.1-bin-hadoop3.2/jars/slf4j-api-1.7.30.jar
spark-3.2.1-bin-hadoop3.2/jars/slf4j-log4j12-1.7.30.jar
spark-3.2.1-bin-hadoop3.2/jars/snakeyaml-1.27.jar
spark-3.2.1-bin-hadoop3.2/jars/snappy-java-1.1.8.4.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-catalyst_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-core_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-graphx_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-hive-thriftserver_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-hive_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-kubernetes_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-kvstore_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-launcher_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-mesos_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-mllib-local_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-mllib_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-network-common_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-network-shuffle_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-repl_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-sketch_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-sql_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-streaming_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-tags_2.12-3.2.1-tests.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-tags_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spark-yarn_2.12-3.2.1.jar
spark-3.2.1-bin-hadoop3.2/jars/spire-macros_2.12-0.17.0.jar
spark-3.2.1-bin-hadoop3.2/jars/spire-platform_2.12-0.17.0.jar
spark-3.2.1-bin-hadoop3.2/jars/spire-util_2.12-0.17.0.jar
spark-3.2.1-bin-hadoop3.2/jars/spire_2.12-0.17.0.jar
spark-3.2.1-bin-hadoop3.2/jars/stax-api-1.0.1.jar
spark-3.2.1-bin-hadoop3.2/jars/stream-2.9.6.jar
spark-3.2.1-bin-hadoop3.2/jars/super-csv-2.2.0.jar
spark-3.2.1-bin-hadoop3.2/jars/threeten-extra-1.5.0.jar
spark-3.2.1-bin-hadoop3.2/jars/tink-1.6.0.jar
spark-3.2.1-bin-hadoop3.2/jars/transaction-api-1.1.jar
spark-3.2.1-bin-hadoop3.2/jars/univocity-parsers-2.9.1.jar
spark-3.2.1-bin-hadoop3.2/jars/velocity-1.5.jar
spark-3.2.1-bin-hadoop3.2/jars/xbean-asm9-shaded-4.20.jar
spark-3.2.1-bin-hadoop3.2/jars/xz-1.8.jar
spark-3.2.1-bin-hadoop3.2/jars/zjsonpatch-0.3.0.jar
spark-3.2.1-bin-hadoop3.2/jars/zookeeper-3.6.2.jar
spark-3.2.1-bin-hadoop3.2/jars/zookeeper-jute-3.6.2.jar
spark-3.2.1-bin-hadoop3.2/jars/zstd-jni-1.5.0-4.jar
spark-3.2.1-bin-hadoop3.2/kubernetes/
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/Dockerfile
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/R/
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/R/Dockerfile
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/python/
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/python/Dockerfile
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/decom.sh
spark-3.2.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/entrypoint.sh
spark-3.2.1-bin-hadoop3.2/kubernetes/tests/
spark-3.2.1-bin-hadoop3.2/kubernetes/tests/autoscale.py
spark-3.2.1-bin-hadoop3.2/kubernetes/tests/decommissioning.py
spark-3.2.1-bin-hadoop3.2/kubernetes/tests/decommissioning_cleanup.py
spark-3.2.1-bin-hadoop3.2/kubernetes/tests/py_container_checks.py
spark-3.2.1-bin-hadoop3.2/kubernetes/tests/pyfiles.py
spark-3.2.1-bin-hadoop3.2/kubernetes/tests/python_executable_check.py
spark-3.2.1-bin-hadoop3.2/kubernetes/tests/worker_memory_check.py
spark-3.2.1-bin-hadoop3.2/licenses/
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-AnchorJS.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-CC0.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-JLargeArrays.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-JTransforms.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-antlr.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-arpack.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-automaton.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-blas.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-bootstrap.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-cloudpickle.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-d3.min.js.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-dagre-d3.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-datatables.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-dnsjava.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-f2j.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-graphlib-dot.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-istack-commons-runtime.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-jakarta-annotation-api
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-jakarta-ws-rs-api
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-jakarta.activation-api.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-jakarta.xml.bind-api.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-janino.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-javassist.html
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-javax-transaction-transaction-api.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-javolution.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-jaxb-runtime.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-jline.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-jodd.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-join.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-jquery.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-json-formatter.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-jsp-api.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-kryo.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-leveldbjni.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-machinist.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-matchMedia-polyfill.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-minlog.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-modernizr.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-mustache.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-netlib.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-paranamer.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-pmml-model.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-protobuf.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-py4j.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-pyrolite.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-re2j.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-reflectasm.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-respond.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-sbt-launch-lib.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-scala.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-scopt.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-slf4j.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-sorttable.js.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-spire.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-vis-timeline.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-xmlenc.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-zstd-jni.txt
spark-3.2.1-bin-hadoop3.2/licenses/LICENSE-zstd.txt
spark-3.2.1-bin-hadoop3.2/python/
spark-3.2.1-bin-hadoop3.2/python/.coveragerc
spark-3.2.1-bin-hadoop3.2/python/.gitignore
spark-3.2.1-bin-hadoop3.2/python/MANIFEST.in
spark-3.2.1-bin-hadoop3.2/python/README.md
spark-3.2.1-bin-hadoop3.2/python/dist/
spark-3.2.1-bin-hadoop3.2/python/docs/
spark-3.2.1-bin-hadoop3.2/python/docs/Makefile
spark-3.2.1-bin-hadoop3.2/python/docs/make.bat
spark-3.2.1-bin-hadoop3.2/python/docs/make2.bat

spark-3.2.1-bin-hadoop3.2/python/docs/source/
spark-3.2.1-bin-hadoop3.2/python/docs/source/_static/
spark-3.2.1-bin-hadoop3.2/python/docs/source/_static/copybutton.js
spark-3.2.1-bin-hadoop3.2/python/docs/source/_static/css/
spark-3.2.1-bin-hadoop3.2/python/docs/source/_static/css/pyspark.css
spark-3.2.1-bin-hadoop3.2/python/docs/source/_templates/
spark-3.2.1-bin-hadoop3.2/python/docs/source/_templates/autosummary/
spark-3.2.1-bin-hadoop3.2/python/docs/source/_templates/autosummary/class.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/_templates/autosummary/class_with_docs.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/conf.py
spark-3.2.1-bin-hadoop3.2/python/docs/source/development/
spark-3.2.1-bin-hadoop3.2/python/docs/source/development/contributing.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/development/debugging.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/development/index.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/development/setting_ide.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/development/testing.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/getting_started/
spark-3.2.1-bin-hadoop3.2/python/docs/source/getting_started/index.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/getting_started/install.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/getting_started/quickstart_df.ipynb
spark-3.2.1-bin-hadoop3.2/python/docs/source/getting_started/quickstart_ps.ipynb
spark-3.2.1-bin-hadoop3.2/python/docs/source/index.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/index.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/koalas_to_pyspark.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/pyspark_1.0_1.2_to_1.3.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/pyspark_1.4_to_1.5.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/pyspark_2.2_to_2.3.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/pyspark_2.3.0_to_2.3.1_above.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/pyspark_2.3_to_2.4.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/pyspark_2.4_to_3.0.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/migration_guide/pyspark_3.1_to_3.2.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/index.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.ml.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.mllib.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/extensions.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/frame.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/general_functions.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/groupby.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/index.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/indexing.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/io.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/ml.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/series.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.pandas/window.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.resource.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.sql.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.ss.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/reference/pyspark.streaming.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/arrow_pandas.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/index.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/best_practices.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/faq.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/from_to_dbms.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/index.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/options.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/pandas_pyspark.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/transform_apply.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/typehints.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/pandas_on_spark/types.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/python_packaging.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/sql/
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/sql/arrow_pandas.rst
spark-3.2.1-bin-hadoop3.2/python/docs/source/user_guide/sql/index.rst
spark-3.2.1-bin-hadoop3.2/python/lib/
spark-3.2.1-bin-hadoop3.2/python/lib/PY4J_LICENSE.txt
spark-3.2.1-bin-hadoop3.2/python/lib/py4j-0.10.9.3-src.zip
spark-3.2.1-bin-hadoop3.2/python/lib/pyspark.zip
spark-3.2.1-bin-hadoop3.2/python/mypy.ini
spark-3.2.1-bin-hadoop3.2/python/pylintrc
spark-3.2.1-bin-hadoop3.2/python/pyspark/
spark-3.2.1-bin-hadoop3.2/python/pyspark/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/__init__.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/__pycache__/
spark-3.2.1-bin-hadoop3.2/python/pyspark/__pycache__/install.cpython-38.pyc
spark-3.2.1-bin-hadoop3.2/python/pyspark/_globals.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/_typing.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/accumulators.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/accumulators.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/broadcast.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/broadcast.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/cloudpickle/
spark-3.2.1-bin-hadoop3.2/python/pyspark/cloudpickle/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/cloudpickle/cloudpickle.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/cloudpickle/cloudpickle_fast.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/cloudpickle/compat.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/conf.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/conf.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/context.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/context.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/daemon.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/files.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/files.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/find_spark_home.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/install.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/java_gateway.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/join.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/_typing.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/base.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/base.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/classification.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/classification.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/clustering.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/clustering.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/common.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/common.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/evaluation.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/evaluation.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/feature.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/feature.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/fpm.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/fpm.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/functions.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/functions.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/image.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/image.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/linalg/
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/linalg/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/linalg/__init__.pyi

spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/param/
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/param/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/param/__init__.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/param/_shared_params_code_gen.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/param/_shared_params_code_gen.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/param/shared.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/param/shared.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/pipeline.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/pipeline.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/recommendation.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/recommendation.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/regression.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/regression.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/stat.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/stat.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_algorithms.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_base.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_evaluation.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_feature.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_image.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_linalg.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_param.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_persistence.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_pipeline.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_stat.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_training_summary.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_tuning.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_util.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tests/test_wrapper.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tree.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tree.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tuning.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/tuning.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/util.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/util.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/wrapper.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/ml/wrapper.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/_typing.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/classification.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/classification.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/clustering.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/clustering.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/common.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/common.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/evaluation.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/evaluation.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/feature.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/feature.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/fpm.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/fpm.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/linalg/
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/linalg/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/linalg/__init__.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/linalg/distributed.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/linalg/distributed.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/random.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/random.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/recommendation.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/recommendation.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/regression.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/regression.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/KernelDensity.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/KernelDensity.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/__init__.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/_statistics.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/_statistics.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/distribution.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/distribution.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/test.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/stat/test.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tests/
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tests/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tests/test_algorithms.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tests/test_feature.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tests/test_linalg.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tests/test_stat.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tests/test_streaming_algorithms.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tests/test_util.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tree.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/tree.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/util.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/mllib/util.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/_typing.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/accessors.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/base.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/categorical.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/config.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/base.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/binary_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/boolean_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/categorical_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/complex_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/date_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/datetime_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/null_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/num_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/string_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/data_type_ops/udt_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/datetimes.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/exceptions.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/extensions.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/frame.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/generic.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/groupby.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/indexes/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/indexes/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/indexes/base.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/indexes/category.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/indexes/datetimes.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/indexes/multi.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/indexes/numeric.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/indexing.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/internal.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/missing/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/missing/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/missing/common.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/missing/frame.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/missing/groupby.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/missing/indexes.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/missing/series.py

spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/missing/window.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/ml.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/mlflow.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/namespace.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/numpy_compat.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/plot/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/plot/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/plot/core.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/plot/matplotlib.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/plot/plotly.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/series.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/spark/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/spark/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/spark/accessors.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/spark/functions.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/spark/utils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/sql_processor.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/strings.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_base.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_binary_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_boolean_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_categorical_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_complex_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_date_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_datetime_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_null_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_num_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_string_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/test_udt_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/data_type_ops/testing_utils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/indexes/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/indexes/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/indexes/test_base.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/indexes/test_category.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/indexes/test_datetime.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/plot/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/plot/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/plot/test_frame_plot.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/plot/test_frame_plot_matplotlib.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/plot/test_frame_plot_plotly.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/plot/test_series_plot.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/plot/test_series_plot_matplotlib.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/plot/test_series_plot_plotly.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_categorical.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_config.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_csv.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_dataframe.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_dataframe_conversion.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_dataframe_spark_io.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_default_index.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_expanding.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_extension.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_frame_spark.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_groupby.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_indexing.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_indexops_spark.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_internal.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_namespace.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_numpy_compat.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_ops_on_diff_frames.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_ops_on_diff_frames_groupby.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_ops_on_diff_frames_groupby_expanding.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_ops_on_diff_frames_groupby_rolling.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_repr.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_reshape.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_rolling.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_series.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_series_conversion.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_series_datetime.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_series_string.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_spark_functions.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_sql.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_stats.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_typedef.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_utils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/tests/test_window.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/typedef/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/typedef/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/typedef/string_typehints.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/typedef/typehints.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/usage_logging/
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/usage_logging/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/usage_logging/usage_logger.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/utils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/pandas/window.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/profiler.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/profiler.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/py.typed
spark-3.2.1-bin-hadoop3.2/python/pyspark/python/
spark-3.2.1-bin-hadoop3.2/python/pyspark/python/pyspark/
spark-3.2.1-bin-hadoop3.2/python/pyspark/python/pyspark/shell.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/rdd.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/rdd.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/rddsampler.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/information.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/information.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/profile.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/profile.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/requests.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/requests.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/tests/
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/tests/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/resource/tests/test_resources.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/resultiterable.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/resultiterable.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/serializers.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/shell.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/shuffle.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/__init__.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/_typing.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/avro/
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/avro/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/avro/functions.py

spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/avro/functions.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/catalog.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/catalog.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/column.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/column.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/conf.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/conf.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/context.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/context.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/dataframe.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/dataframe.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/functions.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/functions.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/group.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/group.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/_typing/
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/_typing/__init__.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/_typing/protocols/
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/_typing/protocols/__init__.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/_typing/protocols/frame.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/_typing/protocols/series.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/conversion.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/conversion.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/functions.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/functions.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/group_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/group_ops.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/map_ops.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/map_ops.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/serializers.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/typehints.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/types.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/pandas/utils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/readwriter.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/readwriter.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/session.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/session.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/streaming.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/streaming.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_arrow.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_catalog.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_column.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_conf.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_context.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_dataframe.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_datasources.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_functions.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_group.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_pandas_cogrouped_map.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_pandas_grouped_map.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_pandas_map.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_pandas_udf.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_pandas_udf_grouped_agg.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_pandas_udf_scalar.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_pandas_udf_typehints.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_pandas_udf_window.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_readwriter.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_serde.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_session.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_streaming.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_types.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_udf.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/tests/test_utils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/types.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/types.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/udf.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/udf.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/utils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/window.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/window.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/statcounter.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/statcounter.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/status.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/status.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/storagelevel.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/storagelevel.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/context.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/context.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/dstream.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/dstream.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/kinesis.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/kinesis.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/listener.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/listener.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/tests/
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/tests/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/tests/test_context.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/tests/test_dstream.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/tests/test_kinesis.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/tests/test_listener.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/streaming/util.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/taskcontext.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/taskcontext.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/testing/
spark-3.2.1-bin-hadoop3.2/python/pyspark/testing/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/testing/mllibutils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/testing/mlutils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/testing/pandasutils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/testing/sqlutils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/testing/streamingutils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/testing/utils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/__init__.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_appsubmit.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_broadcast.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_conf.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_context.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_daemon.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_install_spark.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_join.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_pin_thread.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_profiler.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_rdd.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_rddbarrier.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_readwrite.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_serializers.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_shuffle.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_taskcontext.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_util.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/tests/test_worker.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/traceback_utils.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/util.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/util.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/version.py
spark-3.2.1-bin-hadoop3.2/python/pyspark/version.pyi
spark-3.2.1-bin-hadoop3.2/python/pyspark/worker.py

spark-3.2.1-bin-hadoop3.2/python/pyspark.egg-info/
spark-3.2.1-bin-hadoop3.2/python/pyspark.egg-info/PKG-INFO
spark-3.2.1-bin-hadoop3.2/python/pyspark.egg-info/SOURCES.txt
spark-3.2.1-bin-hadoop3.2/python/pyspark.egg-info/dependency_links.txt
spark-3.2.1-bin-hadoop3.2/python/pyspark.egg-info/requires.txt
spark-3.2.1-bin-hadoop3.2/python/pyspark.egg-info/top_level.txt
spark-3.2.1-bin-hadoop3.2/python/run-tests
spark-3.2.1-bin-hadoop3.2/python/run-tests-with-coverage
spark-3.2.1-bin-hadoop3.2/python/run-tests.py
spark-3.2.1-bin-hadoop3.2/python/setup.cfg
spark-3.2.1-bin-hadoop3.2/python/setup.py
spark-3.2.1-bin-hadoop3.2/python/test_coverage/
spark-3.2.1-bin-hadoop3.2/python/test_coverage/conf/
spark-3.2.1-bin-hadoop3.2/python/test_coverage/conf/spark-defaults.conf
spark-3.2.1-bin-hadoop3.2/python/test_coverage/coverage_daemon.py
spark-3.2.1-bin-hadoop3.2/python/test_coverage/sitecustomize.py
spark-3.2.1-bin-hadoop3.2/python/test_support/
spark-3.2.1-bin-hadoop3.2/python/test_support/SimpleHTTPServer.py
spark-3.2.1-bin-hadoop3.2/python/test_support/hello/
spark-3.2.1-bin-hadoop3.2/python/test_support/hello/hello.txt
spark-3.2.1-bin-hadoop3.2/python/test_support/hello/sub_hello/
spark-3.2.1-bin-hadoop3.2/python/test_support/hello/sub_hello/sub_hello.txt
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/ages.csv
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/ages_newlines.csv
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/_SUCCESS
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/b=0/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/b=0/c=0/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/b=0/c=0/.part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc.crc
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/b=0/c=0/part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/b=1/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/b=1/c=1/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/b=1/c=1/.part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc.crc
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/orc_partitioned/b=1/c=1/part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/_SUCCESS
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/_common_metadata
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/_metadata
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2014/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2014/month=9/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2014/month=9/day=1/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2014/month=9/day=1/.part-r-00008.gz.parquet.crc
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2014/month=9/day=1/part-r-00008.gz.parquet
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=10/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/.part-r-00002.gz.parquet.crc
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/.part-r-00004.gz.parquet.crc
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/part-r-00002.gz.parquet
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/part-r-00004.gz.parquet
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=26/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=26/.part-r-00005.gz.parquet.crc
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=26/part-r-00005.gz.parquet
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=9/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=9/day=1/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=9/day=1/.part-r-00007.gz.parquet.crc
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/parquet_partitioned/year=2015/month=9/day=1/part-r-00007.gz.parquet
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/people.json
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/people1.json
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/people_array.json
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/people_array_utf16le.json
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/streaming/
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/streaming/text-test.txt
spark-3.2.1-bin-hadoop3.2/python/test_support/sql/text-test.txt
spark-3.2.1-bin-hadoop3.2/python/test_support/userlib-0.1.zip
spark-3.2.1-bin-hadoop3.2/python/test_support/userlibrary.py
spark-3.2.1-bin-hadoop3.2/sbin/
spark-3.2.1-bin-hadoop3.2/sbin/decommission-slave.sh
spark-3.2.1-bin-hadoop3.2/sbin/decommission-worker.sh
spark-3.2.1-bin-hadoop3.2/sbin/slaves.sh
spark-3.2.1-bin-hadoop3.2/sbin/spark-config.sh
spark-3.2.1-bin-hadoop3.2/sbin/spark-daemon.sh
spark-3.2.1-bin-hadoop3.2/sbin/spark-daemons.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-all.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-history-server.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-master.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-mesos-dispatcher.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-mesos-shuffle-service.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-slave.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-slaves.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-thriftserver.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-worker.sh
spark-3.2.1-bin-hadoop3.2/sbin/start-workers.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-all.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-history-server.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-master.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-mesos-dispatcher.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-mesos-shuffle-service.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-slave.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-slaves.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-thriftserver.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-worker.sh
spark-3.2.1-bin-hadoop3.2/sbin/stop-workers.sh
spark-3.2.1-bin-hadoop3.2/sbin/workers.sh
spark-3.2.1-bin-hadoop3.2/yarn/
spark-3.2.1-bin-hadoop3.2/yarn/spark-3.2.1-yarn-shuffle.jar
/project
Requirement already satisfied: pyspark in /opt/anaconda/envs/Python3/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /opt/anaconda/envs/Python3/lib/python3.8/site-packages (from pyspark) (0.10.9.3)

In [4]:
# Import needed packages 

import pandas as pd
from bs4 import BeautifulSoup
import requests
from requests import get
import json
from io import StringIO
import re
import os
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np
from datetime import datetime
import csv

In [5]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/project/spark-3.2.1-bin-hadoop3.2"

In [6]:
spark = SparkSession \
    .builder \
    .appName("PySpark App") \
    .config("spark.jars", "postgresql-42.3.2.jar") \
    .getOrCreate()

I noticed that there is a "download" button right above the data table, so those data can be accessed through the API.

In [7]:
header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.84 Safari/537.36'}

In [8]:
def get_response(stock):
    
    '''
    Use the API to get the content of html based on time series
    '''

    stock_url = "https://query1.finance.yahoo.com/v7/finance/download/{}?"
    
    params ={ 
    'period1' : '1334707200',
    'period2' : '1650240000',
    'interval':  '1wk',
    'events': 'history'}
    
    response = requests.get(stock_url.format(stock), params= params, headers=header)
    
    return response

uga = get_response("UGA")
shell = get_response("SHEL.L")

In [9]:
def collect_data(response):
    file = StringIO(response.text)
    reader = csv.reader(file)
    data = list(reader)
    return data

uga_info = collect_data(uga)
shell_info = collect_data(shell)

In [10]:
len(uga_info)
len(shell_info)

523

524

In [11]:
uga_info[:3]
shell_info[:3]

[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
 ['2012-04-16',
  '55.930000',
  '56.150002',
  '54.439999',
  '54.849998',
  '54.849998',
  '517500'],
 ['2012-04-23',
  '54.200001',
  '55.360001',
  '54.080002',
  '55.119999',
  '55.119999',
  '412200']]

[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
 ['2012-04-16',
  '2158.000000',
  '2167.000000',
  '2082.500000',
  '2136.500000',
  '1212.857178',
  '9858753'],
 ['2012-04-23',
  '2121.000000',
  '2202.000000',
  '2085.500000',
  '2188.000000',
  '1242.092896',
  '20392958']]

In [12]:
def new_fun(values):
    dic = dict(zip(uga_info[0], values))
    return dic

uga_values = [uga_info[1:][i] for i in range(522)]
rename = map(new_fun, uga_values)
uga_stockprice = pd.DataFrame(rename)
uga_stockprice.rename(columns = {'Adj Close':'Adj_Close'}, inplace=True)
uga_stockprice.head()

         Date       Open       High        Low      Close  Adj_Close  Volume
0  2012-04-16  55.930000  56.150002  54.439999  54.849998  54.849998  517500
1  2012-04-23  54.200001  55.360001  54.080002  55.119999  55.119999  412200
2  2012-04-30  55.020000  55.160000  51.770000  52.259998  52.259998  694200
3  2012-05-07  52.080002  53.139999  51.570000  52.750000  52.750000  533400
4  2012-05-14  51.970001  52.200001  50.419998  50.549999  50.549999  231800

In [13]:
def new_fun(values):
    dic = dict(zip(shell_info[0], values))
    return dic
shell_values = [shell_info[1:][i] for i in range(522)]
rename = map(new_fun, shell_values)
shell_stockprice = pd.DataFrame(rename)
shell_stockprice.rename(columns = {'Adj Close':'Adj_Close'}, inplace=True)
shell_stockprice

,Date,Open,High,Low,Close,Adj_Close,Volume
0,2012-04-16,2158.000000,2167.000000,2082.500000,2136.500000,1212.857178,9858753
1,2012-04-23,2121.000000,2202.000000,2085.500000,2188.000000,1242.092896,20392958
2,2012-04-30,2186.000000,2220.214111,2132.000000,2142.000000,1215.979126,13495471
3,2012-05-07,2142.000000,2152.500000,2018.500000,2067.000000,1173.403442,15040906
4,2012-05-14,2051.500000,2051.500000,1956.500000,1982.000000,1140.421265,18347443
...,...,...,...,...,...,...,...
517,2022-03-14,1955.400024,1965.599976,1871.199951,1941.800049,1941.800049,146845246
518,2022-03-21,1959.599976,2122.500000,1954.199951,2110.500000,2110.500000,152968051
519,2022-03-28,2079.000000,2121.500000,2009.000000,2119.500000,2119.500000,121966684
520,2022-04-04,2120.000000,2168.500000,2078.000000,2168.000000,2168.000000,144486519
521,2022-04-11,2154.000000,2203.500000,2120.000000,2192.000000,2192.000000,89730982

In [14]:
# convert the data frame into spark data frame
uga_stockprice = spark.createDataFrame(uga_stockprice)
shell_stockprice = spark.createDataFrame(shell_stockprice)

In [15]:
uga_stockprice.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Adj_Close: string (nullable = true)
 |-- Volume: string (nullable = true)

In [16]:
shell_stockprice.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Adj_Close: string (nullable = true)
 |-- Volume: string (nullable = true)

In [17]:
uga_stockprice.write.parquet("/project/DataEngineering/parquet_files/uga_info.parquet", mode = 'overwrite')
shell_stockprice.write.parquet("/project/DataEngineering/parquet_files/shell_info.parquet", mode = 'overwrite')

Now look at the fuel price in the US by web scraping from website.

In [18]:
us_url = 'https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0U_PTE_NUS_DPG&f=W'
r = requests.get(us_url)
r.status_code
soup= BeautifulSoup(r.text, 'lxml')
r.text

200

"<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>\r <html>\r <head>\r <meta http-equiv='X-UA-Compatible' content='IE=9' />\r <script src='../includes/TableFloaterTitle.js'></script>\r <title>Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)</title>\r <link rel='StyleSheet' href='../Styles/Pet_wrapper3.css' TYPE='text/css'>\r <link rel='StyleSheet' href='../Styles/leaf_new2.css' TYPE='text/css'>\r <link rel='StyleSheet' href='/styles/Eia_sitewideF.css' type='text/css' />\r <!-- Header Script -->\r <script language='JavaScript' src='/styles/eia_header.js' type='text/javascript'></script>\r <!--/ Header Script -->\r <script src='/global/includes/dnavs/leaf_handler.cfm' type='text/javascript'></script>\r <!-- Footer Script -->\r <script language='JavaScript' src='/styles/eia_footer.js' type='text/javascript'></script>\r <!--/ Footer Script -->\r </head>\r <body>\r <script language='JavaScript' type='text/javascript'>InsertEIAHeaderCode();</script>\r <table width='675' border='0' cellspacing='0' cellpadding='0'>\r <tr>\r <td class ='K'>\r </td>\r </tr>\r <tr>\r <td height='12'></td>\r </tr>\r <tr>\r <td>\r <table width='675' border='0' cellspacing='0' cellpadding='0'>\r <tr>\r <td width='400'>\r <table border='2' cellspacing='0' cellpadding='0' bordercolorlight='#6699cc' bordercolordark='#6699cc' style='border: thin;'>\r <tr>\r <td>\r <table border='0' cellspacing='0' cellpadding='0'>\r <tr>\r <td class='J'>&nbsp;View History:&nbsp;&nbsp;</td> <td><a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=w><img src='../img/RadioL_A.jpg' width='12' height='13' alt='' border='0'></a></td> <td class='F'>&nbsp;<a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=w class='NavChunk'>Weekly</a>&nbsp;&nbsp;&nbsp;</td> <td><a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=m><img src='../img/RadioL_I.jpg' width='12' height='13' alt='' border='0'></a></td> <td class='F'>&nbsp;<a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=m class='NavChunk'>Monthly</a>&nbsp;&nbsp;&nbsp;</td> <td><a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=a><img src='../img/RadioL_I.jpg' width='12' height='13' alt='' border='0'></a></td> <td class='F'>&nbsp;<a href=LeafHandler.ashx?n=pet&s=emm_epm0u_pte_nus_dpg&f=a class='NavChunk'>Annual</a>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r </table>\r </td>\r </tr>\r </table>\r </td>\r <td width='375' align='right' class='F'>\r <a href='../hist_xls/EMM_EPM0U_PTE_NUS_DPGw.xls'  class='crumb'>Download Data (XLS File)</a>\r </td>\r </tr>\r </table>\r </td>\r </tr>\r <tr>\r <td height='15'></td>\r </tr>\r <tr>\r <td><img src='../hist_chart/EMM_EPM0U_PTE_NUS_DPGw.jpg'  width='675' height='275' alt='Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)'></td>\r </tr>\r <tr>\r <td height='12'></td>\r </tr>\r </td>\r </tr>\r <tr>\r <td height='5'></td>\r </tr>\r <!--\r <tr>\r <td nowrap class='E'>&nbsp;use back button to return to prior data&nbsp;</td>\r <td width='95%'></td>\r </tr>\r -->\r <tr>\r <td align='center' bgcolor='#ffffff' class='Title1'>Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)</td>\r </tr>\r <tr>\r <td height='2'></td>\r </tr>\r </table>\r <table SUMMARY=Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon) width='600' border='0' cellspacing='0' cellpadding='2'>\r <table class='FloatTitle' width='675' border='0' cellspacing='1' cellpadding='0'>\r <thead>\r <tr bgcolor='#993333'>\r <th width='80' rowspan='2' class='G2'>Year-Month</th>\r <th colspan='2' class='G2'>Week 1</th>\r <th colspan='2' class='G2'>Week 2</th>\r <th colspan='2' class='G2'>Week 3</th>\r <th colspan='2' class='G2'>Week 4</th>\r <th colspan='2' class='G2'>Week 5</th>\r </tr>\r <tr bgcolor='#993333'>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r <th width='60' class='G2'>End Date</th>\r <th class='G2'>Value</th>\r </tr>\r </thead>\r <tbody>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1994-Nov</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/28&nbsp;</td>\r <td class='B3'>1.175&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1994-Dec</td>\r <td class='B5'>12/05&nbsp;</td>\r <td class='B3'>1.143&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/12&nbsp;</td>\r <td class='B3'>1.118&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/19&nbsp;</td>\r <td class='B3'>1.099&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/26&nbsp;</td>\r <td class='B3'>1.088&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td height='5' colspan='13'></td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Jan</td>\r <td class='B5'>01/02&nbsp;</td>\r <td class='B3'>1.104&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/09&nbsp;</td>\r <td class='B3'>1.111&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/16&nbsp;</td>\r <td class='B3'>1.102&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/23&nbsp;</td>\r <td class='B3'>1.110&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/30&nbsp;</td>\r <td class='B3'>1.109&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Feb</td>\r <td class='B5'>02/06&nbsp;</td>\r <td class='B3'>1.103&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/13&nbsp;</td>\r <td class='B3'>1.099&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/20&nbsp;</td>\r <td class='B3'>1.093&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/27&nbsp;</td>\r <td class='B3'>1.101&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Mar</td>\r <td class='B5'>03/06&nbsp;</td>\r <td class='B3'>1.103&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/13&nbsp;</td>\r <td class='B3'>1.096&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/20&nbsp;</td>\r <td class='B3'>1.095&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/27&nbsp;</td>\r <td class='B3'>1.102&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Apr</td>\r <td class='B5'>04/03&nbsp;</td>\r <td class='B3'>1.116&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/10&nbsp;</td>\r <td class='B3'>1.134&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/17&nbsp;</td>\r <td class='B3'>1.149&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/24&nbsp;</td>\r <td class='B3'>1.173&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-May</td>\r <td class='B5'>05/01&nbsp;</td>\r <td class='B3'>1.181&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/08&nbsp;</td>\r <td class='B3'>1.204&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/15&nbsp;</td>\r <td class='B3'>1.213&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/22&nbsp;</td>\r <td class='B3'>1.232&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/29&nbsp;</td>\r <td class='B3'>1.234&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Jun</td>\r <td class='B5'>06/05&nbsp;</td>\r <td class='B3'>1.234&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/12&nbsp;</td>\r <td class='B3'>1.230&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/19&nbsp;</td>\r <td class='B3'>1.224&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/26&nbsp;</td>\r <td class='B3'>1.217&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Jul</td>\r <td class='B5'>07/03&nbsp;</td>\r <td class='B3'>1.209&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/10&nbsp;</td>\r <td class='B3'>1.200&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/17&nbsp;</td>\r <td class='B3'>1.189&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/24&nbsp;</td>\r <td class='B3'>1.179&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/31&nbsp;</td>\r <td class='B3'>1.166&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Aug</td>\r <td class='B5'>08/07&nbsp;</td>\r <td class='B3'>1.164&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/14&nbsp;</td>\r <td class='B3'>1.162&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/21&nbsp;</td>\r <td class='B3'>1.163&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/28&nbsp;</td>\r <td class='B3'>1.154&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Sep</td>\r <td class='B5'>09/04&nbsp;</td>\r <td class='B3'>1.151&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/11&nbsp;</td>\r <td class='B3'>1.148&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/18&nbsp;</td>\r <td class='B3'>1.147&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/25&nbsp;</td>\r <td class='B3'>1.146&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Oct</td>\r <td class='B5'>10/02&nbsp;</td>\r <td class='B3'>1.140&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/09&nbsp;</td>\r <td class='B3'>1.132&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/16&nbsp;</td>\r <td class='B3'>1.121&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/23&nbsp;</td>\r <td class='B3'>1.113&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/30&nbsp;</td>\r <td class='B3'>1.102&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Nov</td>\r <td class='B5'>11/06&nbsp;</td>\r <td class='B3'>1.100&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/13&nbsp;</td>\r <td class='B3'>1.099&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/20&nbsp;</td>\r <td class='B3'>1.095&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/27&nbsp;</td>\r <td class='B3'>1.096&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1995-Dec</td>\r <td class='B5'>12/04&nbsp;</td>\r <td class='B3'>1.097&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/11&nbsp;</td>\r <td class='B3'>1.097&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/18&nbsp;</td>\r <td class='B3'>1.111&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/25&nbsp;</td>\r <td class='B3'>1.114&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td height='5' colspan='13'></td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Jan</td>\r <td class='B5'>01/01&nbsp;</td>\r <td class='B3'>1.116&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/08&nbsp;</td>\r <td class='B3'>1.125&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/15&nbsp;</td>\r <td class='B3'>1.131&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/22&nbsp;</td>\r <td class='B3'>1.124&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/29&nbsp;</td>\r <td class='B3'>1.118&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Feb</td>\r <td class='B5'>02/05&nbsp;</td>\r <td class='B3'>1.115&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/12&nbsp;</td>\r <td class='B3'>1.112&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/19&nbsp;</td>\r <td class='B3'>1.118&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/26&nbsp;</td>\r <td class='B3'>1.138&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Mar</td>\r <td class='B5'>03/04&nbsp;</td>\r <td class='B3'>1.155&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/11&nbsp;</td>\r <td class='B3'>1.156&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/18&nbsp;</td>\r <td class='B3'>1.167&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/25&nbsp;</td>\r <td class='B3'>1.196&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Apr</td>\r <td class='B5'>04/01&nbsp;</td>\r <td class='B3'>1.210&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/08&nbsp;</td>\r <td class='B3'>1.233&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/15&nbsp;</td>\r <td class='B3'>1.272&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/22&nbsp;</td>\r <td class='B3'>1.282&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/29&nbsp;</td>\r <td class='B3'>1.296&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-May</td>\r <td class='B5'>05/06&nbsp;</td>\r <td class='B3'>1.298&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/13&nbsp;</td>\r <td class='B3'>1.301&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/20&nbsp;</td>\r <td class='B3'>1.308&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/27&nbsp;</td>\r <td class='B3'>1.299&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Jun</td>\r <td class='B5'>06/03&nbsp;</td>\r <td class='B3'>1.292&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/10&nbsp;</td>\r <td class='B3'>1.286&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/17&nbsp;</td>\r <td class='B3'>1.280&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/24&nbsp;</td>\r <td class='B3'>1.268&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Jul</td>\r <td class='B5'>07/01&nbsp;</td>\r <td class='B3'>1.258&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/08&nbsp;</td>\r <td class='B3'>1.256&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/15&nbsp;</td>\r <td class='B3'>1.254&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/22&nbsp;</td>\r <td class='B3'>1.254&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/29&nbsp;</td>\r <td class='B3'>1.247&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Aug</td>\r <td class='B5'>08/05&nbsp;</td>\r <td class='B3'>1.239&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/12&nbsp;</td>\r <td class='B3'>1.235&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/19&nbsp;</td>\r <td class='B3'>1.238&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/26&nbsp;</td>\r <td class='B3'>1.240&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Sep</td>\r <td class='B5'>09/02&nbsp;</td>\r <td class='B3'>1.232&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/09&nbsp;</td>\r <td class='B3'>1.239&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/16&nbsp;</td>\r <td class='B3'>1.241&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/23&nbsp;</td>\r <td class='B3'>1.241&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/30&nbsp;</td>\r <td class='B3'>1.237&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Oct</td>\r <td class='B5'>10/07&nbsp;</td>\r <td class='B3'>1.230&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/14&nbsp;</td>\r <td class='B3'>1.241&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/21&nbsp;</td>\r <td class='B3'>1.244&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>10/28&nbsp;</td>\r <td class='B3'>1.256&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Nov</td>\r <td class='B5'>11/04&nbsp;</td>\r <td class='B3'>1.264&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/11&nbsp;</td>\r <td class='B3'>1.268&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/18&nbsp;</td>\r <td class='B3'>1.277&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>11/25&nbsp;</td>\r <td class='B3'>1.284&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1996-Dec</td>\r <td class='B5'>12/02&nbsp;</td>\r <td class='B3'>1.281&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/09&nbsp;</td>\r <td class='B3'>1.280&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/16&nbsp;</td>\r <td class='B3'>1.272&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/23&nbsp;</td>\r <td class='B3'>1.267&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>12/30&nbsp;</td>\r <td class='B3'>1.263&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td height='5' colspan='13'></td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Jan</td>\r <td class='B5'>01/06&nbsp;</td>\r <td class='B3'>1.260&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/13&nbsp;</td>\r <td class='B3'>1.275&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/20&nbsp;</td>\r <td class='B3'>1.275&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>01/27&nbsp;</td>\r <td class='B3'>1.271&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Feb</td>\r <td class='B5'>02/03&nbsp;</td>\r <td class='B3'>1.270&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/10&nbsp;</td>\r <td class='B3'>1.266&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/17&nbsp;</td>\r <td class='B3'>1.260&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>02/24&nbsp;</td>\r <td class='B3'>1.257&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Mar</td>\r <td class='B5'>03/03&nbsp;</td>\r <td class='B3'>1.248&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/10&nbsp;</td>\r <td class='B3'>1.240&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/17&nbsp;</td>\r <td class='B3'>1.231&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/24&nbsp;</td>\r <td class='B3'>1.235&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>03/31&nbsp;</td>\r <td class='B3'>1.231&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Apr</td>\r <td class='B5'>04/07&nbsp;</td>\r <td class='B3'>1.232&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/14&nbsp;</td>\r <td class='B3'>1.227&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/21&nbsp;</td>\r <td class='B3'>1.228&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>04/28&nbsp;</td>\r <td class='B3'>1.224&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-May</td>\r <td class='B5'>05/05&nbsp;</td>\r <td class='B3'>1.221&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/12&nbsp;</td>\r <td class='B3'>1.221&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/19&nbsp;</td>\r <td class='B3'>1.233&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>05/26&nbsp;</td>\r <td class='B3'>1.241&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Jun</td>\r <td class='B5'>06/02&nbsp;</td>\r <td class='B3'>1.243&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/09&nbsp;</td>\r <td class='B3'>1.236&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/16&nbsp;</td>\r <td class='B3'>1.227&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/23&nbsp;</td>\r <td class='B3'>1.217&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>06/30&nbsp;</td>\r <td class='B3'>1.210&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Jul</td>\r <td class='B5'>07/07&nbsp;</td>\r <td class='B3'>1.208&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/14&nbsp;</td>\r <td class='B3'>1.203&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/21&nbsp;</td>\r <td class='B3'>1.209&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>07/28&nbsp;</td>\r <td class='B3'>1.203&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Aug</td>\r <td class='B5'>08/04&nbsp;</td>\r <td class='B3'>1.222&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/11&nbsp;</td>\r <td class='B3'>1.256&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/18&nbsp;</td>\r <td class='B3'>1.255&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>08/25&nbsp;</td>\r <td class='B3'>1.268&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>&nbsp;</td>\r <td class='B3'>&nbsp;&nbsp;&nbsp;</td>\r </tr>\r <tr>\r <td class='B6'>&nbsp;&nbsp;1997-Sep</td>\r <td class='B5'>09/01&nbsp;</td>\r <td class='B3'>1.267&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/08&nbsp;</td>\r <td class='B3'>1.266&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/15&nbsp;</td>\r <td class='B3'>1.258&nbsp;&nbsp;&nbsp;</td>\r <td class='B5'>09/22&nbsp;</td>\r <td class='B3'>1.247&nbsp;&nbsp;&nbsp

In [19]:
table = soup.find('table', {'class' : "FloatTitle"})

row_data=[]
for row in table.find('tbody').find_all('tr')[1:]:
    data = row.find_all('td')
    col = [td.text.strip() for td in data]
    row_data.append(col)

row_data

[['1994-Dec',
  '12/05',
  '1.143',
  '12/12',
  '1.118',
  '12/19',
  '1.099',
  '12/26',
  '1.088',
  '',
  ''],
 [''],
 ['1995-Jan',
  '01/02',
  '1.104',
  '01/09',
  '1.111',
  '01/16',
  '1.102',
  '01/23',
  '1.110',
  '01/30',
  '1.109'],
 ['1995-Feb',
  '02/06',
  '1.103',
  '02/13',
  '1.099',
  '02/20',
  '1.093',
  '02/27',
  '1.101',
  '',
  ''],
 ['1995-Mar',
  '03/06',
  '1.103',
  '03/13',
  '1.096',
  '03/20',
  '1.095',
  '03/27',
  '1.102',
  '',
  ''],
 ['1995-Apr',
  '04/03',
  '1.116',
  '04/10',
  '1.134',
  '04/17',
  '1.149',
  '04/24',
  '1.173',
  '',
  ''],
 ['1995-May',
  '05/01',
  '1.181',
  '05/08',
  '1.204',
  '05/15',
  '1.213',
  '05/22',
  '1.232',
  '05/29',
  '1.234'],
 ['1995-Jun',
  '06/05',
  '1.234',
  '06/12',
  '1.230',
  '06/19',
  '1.224',
  '06/26',
  '1.217',
  '',
  ''],
 ['1995-Jul',
  '07/03',
  '1.209',
  '07/10',
  '1.200',
  '07/17',
  '1.189',
  '07/24',
  '1.179',
  '07/31',
  '1.166'],
 ['1995-Aug',
  '08/07',
  '1.164',
  '08/14',
  '1.162',
  '08/21',
  '1.163',
  '08/28',
  '1.154',
  '',
  ''],
 ['1995-Sep',
  '09/04',
  '1.151',
  '09/11',
  '1.148',
  '09/18',
  '1.147',
  '09/25',
  '1.146',
  '',
  ''],
 ['1995-Oct',
  '10/02',
  '1.140',
  '10/09',
  '1.132',
  '10/16',
  '1.121',
  '10/23',
  '1.113',
  '10/30',
  '1.102'],
 ['1995-Nov',
  '11/06',
  '1.100',
  '11/13',
  '1.099',
  '11/20',
  '1.095',
  '11/27',
  '1.096',
  '',
  ''],
 ['1995-Dec',
  '12/04',
  '1.097',
  '12/11',
  '1.097',
  '12/18',
  '1.111',
  '12/25',
  '1.114',
  '',
  ''],
 [''],
 ['1996-Jan',
  '01/01',
  '1.116',
  '01/08',
  '1.125',
  '01/15',
  '1.131',
  '01/22',
  '1.124',
  '01/29',
  '1.118'],
 ['1996-Feb',
  '02/05',
  '1.115',
  '02/12',
  '1.112',
  '02/19',
  '1.118',
  '02/26',
  '1.138',
  '',
  ''],
 ['1996-Mar',
  '03/04',
  '1.155',
  '03/11',
  '1.156',
  '03/18',
  '1.167',
  '03/25',
  '1.196',
  '',
  ''],
 ['1996-Apr',
  '04/01',
  '1.210',
  '04/08',
  '1.233',
  '04/15',
  '1.272',
  '04/22',
  '1.282',
  '04/29',
  '1.296'],
 ['1996-May',
  '05/06',
  '1.298',
  '05/13',
  '1.301',
  '05/20',
  '1.308',
  '05/27',
  '1.299',
  '',
  ''],
 ['1996-Jun',
  '06/03',
  '1.292',
  '06/10',
  '1.286',
  '06/17',
  '1.280',
  '06/24',
  '1.268',
  '',
  ''],
 ['1996-Jul',
  '07/01',
  '1.258',
  '07/08',
  '1.256',
  '07/15',
  '1.254',
  '07/22',
  '1.254',
  '07/29',
  '1.247'],
 ['1996-Aug',
  '08/05',
  '1.239',
  '08/12',
  '1.235',
  '08/19',
  '1.238',
  '08/26',
  '1.240',
  '',
  ''],
 ['1996-Sep',
  '09/02',
  '1.232',
  '09/09',
  '1.239',
  '09/16',
  '1.241',
  '09/23',
  '1.241',
  '09/30',
  '1.237'],
 ['1996-Oct',
  '10/07',
  '1.230',
  '10/14',
  '1.241',
  '10/21',
  '1.244',
  '10/28',
  '1.256',
  '',
  ''],
 ['1996-Nov',
  '11/04',
  '1.264',
  '11/11',
  '1.268',
  '11/18',
  '1.277',
  '11/25',
  '1.284',
  '',
  ''],
 ['1996-Dec',
  '12/02',
  '1.281',
  '12/09',
  '1.280',
  '12/16',
  '1.272',
  '12/23',
  '1.267',
  '12/30',
  '1.263'],
 [''],
 ['1997-Jan',
  '01/06',
  '1.260',
  '01/13',
  '1.275',
  '01/20',
  '1.275',
  '01/27',
  '1.271',
  '',
  ''],
 ['1997-Feb',
  '02/03',
  '1.270',
  '02/10',
  '1.266',
  '02/17',
  '1.260',
  '02/24',
  '1.257',
  '',
  ''],
 ['1997-Mar',
  '03/03',
  '1.248',
  '03/10',
  '1.240',
  '03/17',
  '1.231',
  '03/24',
  '1.235',
  '03/31',
  '1.231'],
 ['1997-Apr',
  '04/07',
  '1.232',
  '04/14',
  '1.227',
  '04/21',
  '1.228',
  '04/28',
  '1.224',
  '',
  ''],
 ['1997-May',
  '05/05',
  '1.221',
  '05/12',
  '1.221',
  '05/19',
  '1.233',
  '05/26',
  '1.241',
  '',
  ''],
 ['1997-Jun',
  '06/02',
  '1.243',
  '06/09',
  '1.236',
  '06/16',
  '1.227',
  '06/23',
  '1.217',
  '06/30',
  '1.210'],
 ['1997-Jul',
  '07/07',
  '1.208',
  '07/14',
  '1.203',
  '07/21',
  '1.209',
  '07/28',
  '1.203',
  '',
  ''],
 ['1997-Aug',
  '08/04',
  '1.222',
  '08/11',
  '1.256',
  '08/18',
  '1.255',
  '08/25',
  '1.268',
  '',
  ''],
 ['1997-Sep',
  '09/01',
  '1.267',
  '09/08',
  '1.266',
  '09/15',
  '1.258',
  '09/22',
  '1.247',
  '09/29',
  '1.233'],
 ['1997-Oct',
  '10/06',
  '1.234',
  '10/13',
  '1.227',
  '10/20',
  '1.218',
  '10/27',
  '1.208',
  '',
  ''],
 ['1997-Nov',
  '11/03',
  '1.202',
  '11/10',
  '1.204',
  '11/17',
  '1.195',
  '11/24',
  '1.190',
  '',
  ''],
 ['1997-Dec',
  '12/01',
  '1.180',
  '12/08',
  '1.168',
  '12/15',
  '1.158',
  '12/22',
  '1.148',
  '12/29',
  '1.139'],
 [''],
 ['1998-Jan',
  '01/05',
  '1.130',
  '01/12',
  '1.123',
  '01/19',
  '1.112',
  '01/26',
  '1.095',
  '',
  ''],
 ['1998-Feb',
  '02/02',
  '1.092',
  '02/09',
  '1.086',
  '02/16',
  '1.072',
  '02/23',
  '1.078',
  '',
  ''],
 ['1998-Mar',
  '03/02',
  '1.065',
  '03/09',
  '1.057',
  '03/16',
  '1.047',
  '03/23',
  '1.038',
  '03/30',
  '1.066'],
 ['1998-Apr',
  '04/06',
  '1.063',
  '04/13',
  '1.058',
  '04/20',
  '1.062',
  '04/27',
  '1.073',
  '',
  ''],
 ['1998-May',
  '05/04',
  '1.079',
  '05/11',
  '1.092',
  '05/18',
  '1.092',
  '05/25',
  '1.090',
  '',
  ''],
 ['1998-Jun',
  '06/01',
  '1.086',
  '06/08',
  '1.097',
  '06/15',
  '1.087',
  '06/22',
  '1.079',
  '06/29',
  '1.081'],
 ['1998-Jul',
  '07/06',
  '1.080',
  '07/13',
  '1.076',
  '07/20',
  '1.082',
  '07/27',
  '1.073',
  '',
  ''],
 ['1998-Aug',
  '08/03',
  '1.061',
  '08/10',
  '1.056',
  '08/17',
  '1.049',
  '08/24',
  '1.042',
  '08/31',
  '1.037'],
 ['1998-Sep',
  '09/07',
  '1.030',
  '09/14',
  '1.026',
  '09/21',
  '1.038',
  '09/28',
  '1.037',
  '',
  ''],
 ['1998-Oct',
  '10/05',
  '1.045',
  '10/12',
  '1.050',
  '10/19',
  '1.046',
  '10/26',
  '1.040',
  '',
  ''],
 ['1998-Nov',
  '11/02',
  '1.037',
  '11/09',
  '1.034',
  '11/16',
  '1.022',
  '11/23',
  '1.012',
  '11/30',
  '0.995'],
 ['1998-Dec',
  '12/07',
  '0.974',
  '12/14',
  '0.964',
  '12/21',
  '0.962',
  '12/28',
  '0.955',
  '',
  ''],
 [''],
 ['1999-Jan',
  '01/04',
  '0.953',
  '01/11',
  '0.960',
  '01/18',
  '0.961',
  '01/25',
  '0.954',
  '',
  ''],
 ['1999-Feb',
  '02/01',
  '0.948',
  '02/08',
  '0.947',
  '02/15',
  '0.939',
  '02/22',
  '0.926',
  '',
  ''],
 ['1999-Mar',
  '03/01',
  '0.932',
  '03/08',
  '0.941',
  '03/15',
  '0.997',
  '03/22',
  '1.038',
  '03/29',
  '1.093'],
 ['1999-Apr',
  '04/05',
  '1.125',
  '04/12',
  '1.144',
  '04/19',
  '1.140',
  '04/26',
  '1.137',
  '',
  ''],
 ['1999-May',
  '05/03',
  '1.145',
  '05/10',
  '1.149',
  '05/17',
  '1.151',
  '05/24',
  '1.140',
  '05/31',
  '1.128'],
 ['1999-Jun',
  '06/07',
  '1.132',
  '06/14',
  '1.127',
  '06/21',
  '1.144',
  '06/28',
  '1.134',
  '',
  ''],
 ['1999-Jul',
  '07/05',
  '1.149',
  '07/12',
  '1.161',
  '07/19',
  '1.187',
  '07/26',
  '1.211',
  '',
  ''],
 ['1999-Aug',
  '08/02',
  '1.211',
  '08/09',
  '1.222',
  '08/16',
  '1.251',
  '08/23',
  '1.250',
  '08/30',
  '1.253'],
 ['1999-Sep',
  '09/06',
  '1.262',
  '09/13',
  '1.274',
  '09/20',
  '1.292',
  '09/27',
  '1.288',
  '',
  ''],
 ['1999-Oct',
  '10/04',
  '1.282',
  '10/11',
  '1.275',
  '10/18',
  '1.261',
  '10/25',
  '1.265',
  '',
  ''],
 ['1999-Nov',
  '11/01',
  '1.258',
  '11/08',
  '1.262',
  '11/15',
  '1.281',
  '11/22',
  '1.298',
  '11/29',
  '1.303'],
 ['1999-Dec',
  '12/06',
  '1.301',
  '12/13',
  '1.303',
  '12/20',
  '1.298',
  '12/27',
  '1.304',
  '',
  ''],
 [''],
 ['2000-Jan',
  '01/03',
  '1.301',
  '01/10',
  '1.292',
  '01/17',
  '1.308',
  '01/24',
  '1.346',
  '01/31',
  '1.346'],
 ['2000-Feb',
  '02/07',
  '1.358',
  '02/14',
  '1.389',
  '02/21',
  '1.438',
  '02/28',
  '1.450',
  '',
  ''],
 ['2000-Mar',
  '03/06',
  '1.528',
  '03/13',
  '1.550',
  '03/20',
  '1.548',
  '03/27',
  '1.524',
  '',
  ''],
 ['2000-Apr',
  '04/03',
  '1.518',
  '04/10',
  '1.487',
  '04/17',
  '1.455',
  '04/24',
  '1.445',
  '',
  ''],
 ['2000-May',
  '05/01',
  '1.426',
  '05/08',
  '1.467',
  '05/15',
  '1.505',
  '05/22',
  '1.533',
  '05/29',
  '1.547'],
 ['2000-Jun',
  '06/05',
  '1.571',
  '06/12',
  '1.640',
  '06/19',
  '1.695',
  '06/26',
  '1.674',
  '',
  ''],
 ['2000-Jul',
  '07/03',
  '1.642',
  '07/10',
  '1.608',
  '07/17',
  '1.561',
  '07/24',
  '1.539',
  '07/31',
  '1.489'],
 ['2000-Aug',
  '08/07',
  '1.479',
  '08/14',
  '1.460',
  '08/21',
  '1.484',
  '08/28',
  '1.495',
  '',
  ''],
 ['2000-Sep',
  '09/04',
  '1.539',
  '09/11',
  '1.571',
  '09/18',
  '1.575',
  '09/25',
  '1.562',
  '',
  ''],
 ['2000-Oct',
  '10/02',
  '1.536',
  '10/09',
  '1.511',
  '10/16',
  '1.554',
  '10/23',
  '1.568',
  '10/30',
  '1.561'],
 ['2000-Nov',
  '11/06',
  '1.540',
  '11/13',
  '1.539',
  '11/20',
  '1.525',
  '11/27',
  '1.527',
  '',
  ''],
 ['2000-Dec',
  '12/04',
  '1.503',
  '12/11',
  '1.465',
  '12/18',
  '1.436',
  '12/25',
  '1.426',
  '',
  ''],
 [''],
 ['2001-Jan',
  '01/01',
  '1.416',
  '01/08',
  '1.439',
  '01/15',
  '1.497',
  '01/22',
  '1.496',
  '01/29',
  '1.486'],
 ['2001-Feb',
  '02/05',
  '1.466',
  '02/12',
  '1.499',
  '02/19',
  '1.468',
  '02/26',
  '1.450',
  '',
  ''],
 ['2001-Mar',
  '03/05',
  '1.433',
  '03/12',
  '1.426',
  '03/19',
  '1.416',
  '03/26',
  '1.418',
  '',
  ''],
 ['2001-Apr',
  '04/02',
  '1.451',
  '04/09',
  '1.509',
  '04/16',
  '1.575',
  '04/23',
  '1.625',
  '04/30',
  '1.624'],
 ['2001-May',
  '05/07',
  '1.695',
  '05/14',
  '1.697',
  '05/21',
  '1.673',
  '05/28',
  '1.691',
  '',
  ''],
 ['2001-Jun',
  '06/04',
  '1.665',
  '06/11',
  '1.617',
  '06/18',
  '1.566',
  '06/25',
  '1.495',
  '',
  ''],
 ['2001-Jul',
  '07/02',
  '1.427',
  '07/09',
  '1.392',
  '07/16',
  '1.372',
  '07/23',
  '1.358',
  '07/30',
  '1.358'],
 ['2001-Aug',
  '08/06',
  '1.358',
  '08/13',
  '1.385',
  '08/20',
  '1.435',
  '08/27',
  '1.510',
  '',
  ''],
 ['2001-Sep',
  '09/03',
  '1.568',
  '09/10',
  '1.543',
  '09/17',
  '1.548',
  '09/24',
  '1.495',
  '',
  ''],
 ['2001-Oct',
  '10/01',
  '1.417',
  '10/08',
  '1.347',
  '10/15',
  '1.303',
  '10/22',
  '1.260',
  '10/29',
  '1.233'],
 ['2001-Nov',
  '11/05',
  '1.209',
  '11/12',
  '1.186',
  '11/19',
  '1.178',
  '11/26',
  '1.136',
  '',
  ''],
 ['2001-Dec',
  '12/03',
  '1.122',
  '12/10',
  '1.114',
  '12/17',
  '1.082',
  '12/24',
  '1.103',
  '12/31',
  '1.135'],
 [''],
 ['2002-Jan',
  '01/07',
  '1.148',
  '01/14',
  '1.139',
  '01/21',
  '1.127',
  '01/28',
  '1.120',
  '',
  ''],
 ['2002-Feb',
  '02/04',
  '1.137',
  '02/11',
  '1.125',
  '02/18',
  '1.129',
  '02/25',
  '1.126',
  '',
  ''],
 ['2002-Mar',
  '03/04',
  '1.157',
  '03/11',
  '1.232',
  '03/18',
  '1.300',
  '03/25',
  '1.346',
  '',
  ''],
 ['2002-Apr',
  '04/01',
  '1.379',
  '04/08',
  '1.422',
  '04/15',
  '1.408',
  '04/22',
  '1.407',
  '04/29',
  '1.393'],
 ['2002-May',
  '05/06',
  '1.396',
  '05/13',
  '1.389',
  '05/20',
  '1.400',
  '05/27',
  '1.389',
  '',
  ''],
 ['2002-Jun',
  '06/03',
  '1.393',
  '06/10',
  '1.372',
  '06/17',
  '1.375',
  '06/24',
  '1.381',
  '',
  ''],
 ['2002-Jul',
  '07/01',
  '1.396',
  '07/08',
  '1.384',
  '07/15',
  '1.399',
  '07/22',
  '1.419',
  '07/29',
  '1.414'],
 ['2002-Aug',
  '08/05',
  '1.395',
  '08/12',
  '1.395',
  '08/19',
  '1.397',
  '08/26',
  '1.404',
  '',
  ''],
 ['2002-Sep',
  '09/02',
  '1.393',
  '09/09',
  '1.395',
  '09/16',
  '1.406',
  '09/23',
  '1.396',
  '09/30',
  '1.424'],
 ['2002-Oct',
  '10/07',
  '1.456',
  '10/14',
  '1.461',
  '10/21',
  '1.482',
  '10/28',
  '1.466',
  '',
  ''],
 ['2002-Nov',
  '11/04',
  '1.466',
  '11/11',
  '1.445',
  '11/18',
  '1.410',
  '11/25',
  '1.376',
  '',
  ''],
 ['2002-Dec',
  '12/02',
  '1.358',
  '12/09',
  '1.357',
  '12/16',
  '1.363',
  '12/23',
  '1.411',
  '12/30',
  '1.457'],
 [''],
 ['2003-Jan',
  '01/06',
  '1.453',
  '01/13',
  '1.463',
  '01/20',
  '1.463',
  '01/27',
  '1.478',
  '',
  ''],
 ['2003-Feb',
  '02/03',
  '1.539',
  '02/10',
  '1.623',
  '02/17',
  '1.668',
  '02/24',
  '1.656',
  '',
  ''],
 ['2003-Mar',
  '03/03',
  '1.679',
  '03/10',
  '1.701',
  '03/17',
  '1.712',
  '03/24',
  '1.665',
  '03/31',
  '1.618'],
 ['2003-Apr',
  '04/07',
  '1.597',
  '04/14',
  '1.561',
  '04/21',
  '1.544',
  '04/28',
  '1.526',
  '',
  ''],
 ['2003-May',
  '05/05',
  '1.482',
  '05/12',
  '1.467',
  '05/19',
  '1.482',
  '05/26',
  '1.477',
  '',
  ''],
 ['2003-Jun',
  '06/02',
  '1.466',
  '06/09',
  '1.492',
  '06/16',
  '1.517',
  '06/23',
  '1.489',
  '06/30',
  '1.481'],
 ['2003-Jul',
  '07/07',
  '1.485',
  '07/14',
  '1.528',
  '07/21',
  '1.534',
  '07/28',
  '1.527',
  '',
  ''],
 ['2003-Aug',
  '08/04',
  '1.553',
  '08/11',
  '1.587',
  '08/18',
  '1.631',
  '08/25',
  '1.730',
  '',
  ''],
 ['2003-Sep',
  '09/01',
  '1.724',
  '09/08',
  '1.690',
  '09/15',
  '1.674',
  '09/22',
  '1.618',
  '09/29',
  '1.564'],
 ['2003-Oct',
  '10/06',
  '1.551',
  '10/13',
  '1.553',
  '10/20',
  '1.564',
  '10/27',
  '1.536',
  '',
  ''],
 ['2003-Nov',
  '11/03',
  '1.532',
  '11/10',
  '1.502',
  '11/17',
  '1.498',
  '11/24',
  '1.517',
  '',
  ''],
 ['2003-Dec',
  '12/01',
  '1.493',
  '12/08',
  '1.481',
  '12/15',
  '1.473',
  '12/22',
  '1.499',
  '12/29',
  '1.495'],
 [''],
 ['2004-Jan',
  '01/05',
  '1.532',
  '01/12',
  '1.585',
  '01/19',
  '1.619',
  '01/26',
  '1.644',
  '',
  ''],
 ['2004-Feb',
  '02/02',
  '1.632',
  '02/09',
  '1.649',
  '02/16',
  '1.656',
  '02/23',
  '1.680',
  '',
  ''],
 ['2004-Mar',
  '03/01',
  '1.703',
  '03/08',
  '1.729',
  '03/15',
  '1.714',
  '03/22',
  '1.737',
  '03/29',
  '1.755'],
 ['2004-Apr',
  '04/05',
  '1.776',
  '04/12',
  '1.778',
  '04/19',
  '1.810',
  '04/26',
  '1.812',
  '',
  ''],
 ['2004-May',
  '05/03',
  '1.848',
  '05/10',
  '1.939',
  '05/17',
  '2.015',
  '05/24',
  '2.063',
  '05/31',
  '2.041'],
 ['2004-Jun',
  '06/07',
  '2.021',
  '06/14',
  '1.966',
  '06/21',
  '1.914',
  '06/28',
  '1.900',
  '',
  ''],
 ['2004-Jul',
  '07/05',
  '1.875',
  '07/12',
  '1.907',
  '07/19',
  '1.926',
  '07/26',
  '1.901',
  '',
  ''],
 ['2004-Aug',
  '08/02',
  '1.885',
  '08/09',
  '1.878',
  '08/16',
  '1.881',
  '08/23',
  '1.892',
  '08/30',
  '1.866'],
 ['2004-Sep',
  '09/06',
  '1.854',
  '09/13',
  '1.852',
  '09/20',
  '1.878',
  '09/27',
  '1.934',
  '',
  ''],
 ['2004-Oct',
  '10/04',
  '1.941',
  '10/11',
  '1.988',
  '10/18',
  '2.024',
  '10/25',
  '2.020',
  '',
  ''],
 ['2004-Nov',
  '11/01',
  '2.026',
  '11/08',
  '1.992',
  '11/15',
  '1.960',
  '11/22',
  '1.943',
  '11/29',
  '1.945'],
 ['2004-Dec',
  '12/06',
  '1.910',
  '12/13',
  '1.842',
  '12/20',
  '1.820',
  '12/27',
  '1.798',
  '',
  ''],
 [''],
 ['2005-Jan',
  '01/03',
  '1.788',
  '01/10',
  '1.813',
  '01/17',
  '1.843',
  '01/24',
  '1.880',
  '01/31',
  '1.936'],
 ['2005-Feb',
  '02/07',
  '1.930',
  '02/14',
  '1.914',
  '02/21',
  '1.919',
  '02/28',
  '1.943',
  '',
  ''],
 ['2005-Mar',
  '03/07',
  '2.018',
  '03/14',
  '2.078',
  '03/21',
  '2.134',
  '03/28',
  '2.177',
  '',
  ''],
 ['2005-Apr',
  '04/04',
  '2.236',
  '04/11',
  '2.290',
  '04/18',
  '2.239',
  '04/25',
  '2.237',
  '',
  ''],
 ['2005-May',
  '05/02',
  '2.231',
  '05/09',
  '2.179',
  '05/16',
  '2.156',
  '05/23',
  '2.118',
  '05/30',
  '2.092'],
 ['2005-Jun',
  '06/06',
  '2.118',
  '06/13',
  '2.139',
  '06/20',
  '2.167',
  '06/27',
  '2.224',
  '',
  ''],
 ['2005-Jul',
  '07/04',
  '2.228',
  '07/11',
  '2.331',
  '07/18',
  '2.312',
  '07/25',
  '2.276',
  '',
  ''],
 ['2005-Aug',
  '08/01',
  '2.279',
  '08/08',
  '2.363',
  '08/15',
  '2.560',
  '08/22',
  '2.622',
  '08/29',
  '2.621'],
 ['2005-Sep',
  '09/05',
  '3.083',
  '09/12',
  '2.956',
  '09/19',
  '2.776',
  '09/26',
  '2.812',
  '',
  ''],
 ['2005-Oct',
  '10/03',
  '2.968',
  '10/10',
  '2.875',
  '10/17',
  '2.741',
  '10/24',
  '2.612',
  '10/31',
  '2.485'],
 ['2005-Nov',
  '11/07',
  '2.382',
  '11/14',
  '2.302',
  '11/21',
  '2.211',
  '11/28',
  '2.166',
  '',
  ''],
 ['2005-Dec',
  '12/05',
  '2.168',
  '12/12',
  '2.217',
  '12/19',
  '2.247',
  '12/26',
  '2.230',
  '',
  ''],
 [''],
 ['2006-Jan',
  '01/02',
  '2.277',
  '01/09',
  '2.363',
  '01/16',
  '2.342',
  '01/23',
  '2.359',
  '01/30',
  '2.375'],
 ['2006-Feb',
  '02/06',
  '2.354',
  '02/13',
  '2.290',
  '02/20',
  '2.249',
  '02/27',
  '2.277',
  '',
  ''],
 ['2006-Mar',
  '03/06',
  '2.360',
  '03/13',
  '2.395',
  '03/20',
  '2.537',
  '03/27',
  '2.522',
  '',
  ''],
 ['2006-Apr',
  '04/03',
  '2.609',
  '04/10',
  '2.706',
  '04/17',
  '2.807',
  '04/24',
  '2.924',
  '',
  ''],
 ['2006-May',
  '05/01',
  '2.910',
  '05/08',
  '2.876',
  '05/15',
  '2.911',
  '05/22',
  '2.842',
  '05/29',
  '2.824'],
 ['2006-Jun',
  '06/05',
  '2.852',
  '06/12',
  '2.874',
  '06/19',
  '2.834',
  '06/26',
  '2.837',
  '',
  ''],
 ['2006-Jul',
  '07/03',
  '2.914',
  '07/10',
  '2.949',
  '07/17',
  '2.968',
  '07/24',
  '2.992',
  '07/31',
  '2.997'],
 ['2006-Aug',
  '08/07',
  '3.045',
  '08/14',
  '3.000',
  '08/21',
  '2.919',
  '08/28',
  '2.843',
  '',
  ''],
 ['2006-Sep',
  '09/04',
  '2.725',
  '09/11',
  '2.611',
  '09/18',
  '2.489',
  '09/25',
  '2.368',
  '',
  ''],
 ['2006-Oct',
  '10/02',
  '2.309',
  '10/09',
  '2.266',
  '10/16',
  '2.239',
  '10/23',
  '2.229',
  '10/30',
  '2.247'],
 ['2006-Nov',
  '11/06',
  '2.232',
  '11/13',
  '2.259',
  '11/20',
  '2.261',
  '11/27',
  '2.264',
  '',
  ''],
 ['2006-Dec',
  '12/04',
  '2.320',
  '12/11',
  '2.311',
  '12/18',
  '2.333',
  '12/25',
  '2.346',
  '',
  ''],
 [''],
 ['2007-Jan',
  '01/01',
  '2.340',
  '01/08',
  '2.304',
  '01/15',
  '2.220',
  '01/22',
  '2.155',
  '01/29',
  '2.164'],
 ['2007-Feb',
  '02/05',
  '2.194',
  '02/12',
  '2.240',
  '02/19',
  '2.292',
  '02/26',
  '2.379',
  '',
  ''],
 ['2007-Mar',
  '03/05',
  '2.504',
  '03/12',
  '2.542',
  '03/19',
  '2.554',
  '03/26',
  '2.582',
  '',
  ''],
 ['2007-Apr',
  '04/02',
  '2.678',
  '04/09',
  '2.790',
  '04/16',
  '2.866',
  '04/23',
  '2.857',
  '04/30',
  '2.966'],
 ['2007-May',
  '05/07',
  '3.043',
  '05/14',
  '3.106',
  '05/21',
  '3.247',
  '05/28',
  '3.233',
  '',
  ''],
 ['2007-Jun',
  '06/04',
  '3.172',
  '06/11',
  '3.083',
  '06/18',
  '3.018',
  '06/25',
  '2.995',
  '',
  ''],
 ['2007-Jul',
  '07/02',
  '2.976',
  '07/09',
  '3.010',
  '07/16',
  '3.084',
  '07/23',
  '2.980',
  '07/30',
  '2.894'],
 ['2007-Aug',
  '08/06',
  '2.861',
  '08/13',
  '2.797',
  '08/20',
  '2.825',
  '08/27',
  '2.799',
  '',
  ''],
 ['2007-Sep',
  '09/03',
  '2.857',
  '09/10',
  '2.879',
  '09/17',
  '2.836',
  '09/24',
  '2.861',
  '',
  ''],
 ['2007-Oct',
  '10/01',
  '2.832',
  '10/08',
  '2.809',
  '10/15',
  '2.793',
  '10/22',
  '2.853',
  '10/29',
  '2.905'],
 ['2007-Nov',
  '11/05',
  '3.051',
  '11/12',
  '3.146',
  '11/19',
  '3.123',
  '11/26',
  '3.118',
  '',
  ''],
 ['2007-Dec',
  '12/03',
  '3.077',
  '12/10',
  '3.007',
  '12/17',
  '3.011',
  '12/24',
  '2.991',
  '12/31',
  '3.076'],
 [''],
 ['2008-Jan',
  '01/07',
  '3.135',
  '01/14',
  '3.090',
  '01/21',
  '3.041',
  '01/28',
  '3.004',
  '',
  ''],
 ['2008-Feb',
  '02/04',
  '3.014',
  '02/11',
  '2.995',
  '02/18',
  '3.082',
  '02/25',
  '3.163',
  '',
  ''],
 ['2008-Mar',
  '03/03',
  '3.185',
  '03/10',
  '3.246',
  '03/17',
  '3.303',
  '03/24',
  '3.273',
  '03/31',
  '3.306'],
 ['2008-Apr',
  '04/07',
  '3.346',
  '04/14',
  '3.397',
  '04/21',
  '3.515',
  '04/28',
  '3.615',
  '',
  ''],
 ['2008-May',
  '05/05',
  '3.620',
  '05/12',
  '3.741',
  '05/19',
  '3.810',
  '05/26',
  '3.960',
  '',
  ''],
 ['2008-Jun',
  '06/02',
  '3.980',
  '06/09',
  '4.027',
  '06/16',
  '4.056',
  '06/23',
  '4.051',
  '06/30',
  '4.075'],
 ['2008-Jul',
  '07/07',
  '4.099',
  '07/14',
  '4.102',
  '07/21',
  '4.054',
  '07/28',
  '3.948',
  '',
  ''],
 ['2008-Aug',
  '08/04',
  '3.880',
  '08/11',
  '3.815',
  '08/18',
  '3.754',
  '08/25',
  '3.707',
  '',
  ''],
 ['2008-Sep',
  '09/01',
  '3.715',
  '09/08',
  '3.686',
  '09/15',
  '3.919',
  '09/22',
  '3.785',
  '09/29',
  '3.697'],
 ['2008-Oct',
  '10/06',
  '3.541',
  '10/13',
  '3.166',
  '10/20',
  '2.909',
  '10/27',
  '2.644',
  '',
  ''],
 ['2008-Nov',
  '11/03',
  '2.395',
  '11/10',
  '2.224',
  '11/17',
  '2.081',
  '11/24',
  '1.912',
  '',
  ''],

In [20]:
len(row_data)

357

In [21]:
for i in row_data:
    if len(i) < 10:
        row_data.remove(i)
len(row_data)

329

In [22]:
for i in row_data:
    i[1] = i[0][:4]+ '/' + i[1]
    i[3] = i[0][:4]+ '/' + i[3]
    i[5] = i[0][:4]+ '/' + i[5]
    i[7] = i[0][:4]+ '/' + i[7]
    i[9] = i[0][:4]+ '/' + i[9] 
df = pd.DataFrame(row_data)

In [23]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,1994-Dec,1994/12/05,1.143,1994/12/12,1.118,1994/12/19,1.099,1994/12/26,1.088,1994/,
1,1995-Jan,1995/01/02,1.104,1995/01/09,1.111,1995/01/16,1.102,1995/01/23,1.110,1995/01/30,1.109
2,1995-Feb,1995/02/06,1.103,1995/02/13,1.099,1995/02/20,1.093,1995/02/27,1.101,1995/,
3,1995-Mar,1995/03/06,1.103,1995/03/13,1.096,1995/03/20,1.095,1995/03/27,1.102,1995/,
4,1995-Apr,1995/04/03,1.116,1995/04/10,1.134,1995/04/17,1.149,1995/04/24,1.173,1995/,
...,...,...,...,...,...,...,...,...,...,...,...
324,2021-Dec,2021/12/06,3.279,2021/12/13,3.252,2021/12/20,3.229,2021/12/27,3.211,2021/,
325,2022-Jan,2022/01/03,3.216,2022/01/10,3.238,2022/01/17,3.255,2022/01/24,3.271,2022/01/31,3.321
326,2022-Feb,2022/02/07,3.401,2022/02/14,3.441,2022/02/21,3.480,2022/02/28,3.554,2022/,
327,2022-Mar,2022/03/07,4.031,2022/03/14,4.252,2022/03/21,4.165,2022/03/28,4.152,2022/,
328,2022-Apr,2022/04/04,4.096,2022/04/11,4.019,2022/04/18,3.992,2022/,,2022/,

In [24]:
dictionary = dict(zip(df[1], df[2]))
i=3

while i <=9:
    diction = dict(zip(df[i], df[i+1]))
    dictionary.update(diction)
    i+=2

In [25]:
us_fuelprice = pd.DataFrame(list(dictionary.items()),columns = ['Date','Price'] )

In [26]:
us_fuelprice
us_fuelprice.drop( (us_fuelprice[us_fuelprice['Price'].map(len) < 1]).index, inplace=True)

# Sort the dataframe by time
us_fuelprice.sort_values(by='Date', inplace= True)

            Date  Price
0     1994/12/05  1.143
1     1995/01/02  1.104
2     1995/02/06  1.103
3     1995/03/06  1.103
4     1995/04/03  1.116
...          ...    ...
1453  2021/03/29  2.839
1454  2021/05/31  2.997
1455  2021/08/30  3.118
1456  2021/11/29  3.326
1457  2022/01/31  3.321

[1458 rows x 2 columns]

In [27]:
us_fuelprice

            Date  Price
0     1994/12/05  1.143
329   1994/12/12  1.118
658   1994/12/19  1.099
987   1994/12/26  1.088
1     1995/01/02  1.104
...          ...    ...
985   2022/03/21  4.165
1314  2022/03/28  4.152
328   2022/04/04  4.096
657   2022/04/11  4.019
986   2022/04/18  3.992

[1429 rows x 2 columns]

In [28]:
# Deal with missing values
for i in us_fuelprice['Price']:
    if len(i) <1:
        us_fuelprice = us_fuelprice.dropna(axis=0)

In [29]:
us_fuelprice.reset_index(drop = True, inplace = True)

In [30]:
us_fuelprice_df = spark.createDataFrame(us_fuelprice)
us_fuelprice_df.write.parquet("/project/DataEngineering/parquet_files/us_fuelprice.parquet", mode = 'overwrite')
us_fuelprice_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Price: string (nullable = true)

In [31]:
us_fuelprice

            Date  Price
0     1994/12/05  1.143
1     1994/12/12  1.118
2     1994/12/19  1.099
3     1994/12/26  1.088
4     1995/01/02  1.104
...          ...    ...
1424  2022/03/21  4.165
1425  2022/03/28  4.152
1426  2022/04/04  4.096
1427  2022/04/11  4.019
1428  2022/04/18  3.992

[1429 rows x 2 columns]

Since avaiable dataset can be downloaded through gov.uk, the excel file has be uploaded.

In [32]:
#import excel file about the fuel price in UK
file = pd.read_excel(r'/project/UK_Weekly_Fuel_Prices.xlsx', sheet_name = 'All years')

In [33]:
file.head(10)

,Weekly Prices time series (from 2003),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,ULSP = Ultra low sulphur unleaded petrol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ULSD = Ultra low sulphur diesel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Duty rates over time can be found in the duty ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Empty cells represent weeks where differences ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Freeze panes are turned on. To turn off freeze...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,ULSP: Pump price (p/litre),ULSP: Diff on previous WEEK (p/litre),ULSP: Diff on previous YEAR (p/litre),Duty rate ULSP (p/litre),VAT (% rate) ULSP,ULSD: Pump price (p/litre),ULSD: Diff on previous WEEK (p/litre),ULSD: Diff on previous YEAR (p/litre),Duty rate ULSD (p/litre),VAT (% rate) ULSD,NaN,NaN,NaN,NaN,NaN,NaN
6,2003-06-09 00:00:00,74.590284,NaN,NaN,45.82,17.5,76.773394,NaN,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
7,2003-06-16 00:00:00,74.469143,-0.121141,NaN,45.82,17.5,76.689054,-0.08434,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
8,2003-06-23 00:00:00,74.423566,-0.045577,NaN,45.82,17.5,76.620546,-0.068508,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
9,2003-06-30 00:00:00,74.352421,-0.071145,NaN,45.82,17.5,76.50526,-0.115286,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
file.columns =file.iloc[5]
file = file.iloc[6: , :]

In [35]:
file

5,Date,ULSP: Pump price (p/litre),ULSP: Diff on previous WEEK (p/litre),ULSP: Diff on previous YEAR (p/litre),Duty rate ULSP (p/litre),VAT (% rate) ULSP,ULSD: Pump price (p/litre),ULSD: Diff on previous WEEK (p/litre),ULSD: Diff on previous YEAR (p/litre),Duty rate ULSD (p/litre),VAT (% rate) ULSD,NaN,NaN,NaN,NaN,NaN,NaN
6,2003-06-09 00:00:00,74.590284,NaN,NaN,45.82,17.5,76.773394,NaN,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
7,2003-06-16 00:00:00,74.469143,-0.121141,NaN,45.82,17.5,76.689054,-0.08434,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
8,2003-06-23 00:00:00,74.423566,-0.045577,NaN,45.82,17.5,76.620546,-0.068508,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
9,2003-06-30 00:00:00,74.352421,-0.071145,NaN,45.82,17.5,76.50526,-0.115286,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
10,2003-07-07 00:00:00,74.283737,-0.068684,NaN,45.82,17.5,76.457376,-0.047884,NaN,45.82,17.5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,2022-03-14 00:00:00,159.96,7.01,36.059117,57.95,20,169.48,10.92,41.236275,57.95,20,NaN,NaN,NaN,NaN,NaN,NaN
986,2022-03-21 00:00:00,165.37,5.41,40.801753,57.95,20,177.47,7.99,48.450879,57.95,20,NaN,NaN,NaN,NaN,NaN,NaN
987,2022-03-28 00:00:00,162.651769,-2.718231,37.524793,52.95,20,176.442403,-1.027597,47.127295,52.95,20,NaN,NaN,NaN,NaN,NaN,NaN
988,2022-04-04 00:00:00,161.91,-0.741769,36.669577,52.95,20,176,-0.442403,46.649255,52.95,20,NaN,NaN,NaN,NaN,NaN,NaN
989,2022-04-11 00:00:00,161.78,-0.13,36.381801,52.95,20,176.22,0.22,46.832594,52.95,20,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
from datetime import datetime

file['Date'] = [i.date() for i in file['Date']]

In [37]:
uk_fuelprice = file.iloc[: ,  :3]
uk_fuelprice.columns = ["Date", 'uk_price', 'uk_diff']

In [38]:
uk_fuelprice['uk_diff'] =[float(i) for i in uk_fuelprice['uk_diff'] ]
uk_fuelprice['uk_diff'].round(decimals = 3)

6        NaN
7     -0.121
8     -0.046
9     -0.071
10    -0.069
       ...
985    7.010
986    5.410
987   -2.718
988   -0.742
989   -0.130
Name: uk_diff, Length: 984, dtype: float64

In [39]:
uk_fuelprice_df = spark.createDataFrame(uk_fuelprice)
uk_fuelprice_df.printSchema()
uk_fuelprice_df.write.parquet("/project/DataEngineering/parquet_files/uk_fuelprice.parquet", mode= 'overwrite')

root
 |-- Date: date (nullable = true)
 |-- uk_price: double (nullable = true)
 |-- uk_diff: double (nullable = true)

In [40]:
uga = spark.read.parquet("/project/DataEngineering/parquet_files/uga_info.parquet").toPandas()

In [41]:
uga.dtypes

Date         object
Open         object
High         object
Low          object
Close        object
Adj_Close    object
Volume       object
dtype: object

In [42]:
uga['High']= uga['High'].astype(float)
uga['Low']= uga['Low'].astype(float)
uga['Close']= uga['Close'].astype(float)
uga['Volume']= uga['Volume'].astype(float)

In [43]:
uga['uga_Difference'] = (uga['High'] - uga['Low'])/uga['Close']*100
uga.drop(labels= ['High', 'Low', 'Open', 'Adj_Close'], axis=1, inplace=True)

In [44]:
uga = uga.rename(columns={"Close":"uga_Close", "Volume":"uga_Volume"})
uga

           Date  uga_Close  uga_Volume  uga_Difference
0    2019-10-07  30.459999     37400.0        5.712410
1    2019-10-14  30.000000     31500.0        2.100003
2    2019-10-21  31.139999     37400.0        5.780350
3    2019-10-28  31.540001     50700.0        5.009512
4    2019-11-04  31.170000     49200.0        5.646458
..          ...        ...         ...             ...
517  2019-09-02  28.820000     76200.0        8.501037
518  2019-09-09  28.510000     41200.0        6.453879
519  2019-09-16  30.670000    151100.0        8.444734
520  2019-09-23  29.790001     53200.0        4.867402
521  2019-09-30  29.180000     31000.0        5.277584

[522 rows x 4 columns]

In [45]:
shell = spark.read.parquet("/project/DataEngineering/parquet_files/shell_info.parquet").toPandas()
shell

,Date,Open,High,Low,Close,Adj_Close,Volume
0,2019-10-07,2317.500000,2347.000000,2278.500000,2290.500000,2046.361694,43462714
1,2019-10-14,2299.000000,2333.489990,2235.500000,2240.000000,2001.244263,40636681
2,2019-10-21,2235.000000,2332.500000,26.087999,2325.500000,2077.631104,28698016
3,2019-10-28,2330.500000,2345.000000,2233.000000,2260.500000,2019.559204,40717990
4,2019-11-04,2269.500000,2356.000000,3.045000,2341.000000,2091.479248,59819909
...,...,...,...,...,...,...,...
517,2019-09-02,2281.500000,2308.500000,2246.000000,2259.500000,2018.665283,32084357
518,2019-09-09,2279.000000,2331.500000,2261.000000,2282.500000,2039.214233,32091732
519,2019-09-16,2356.000000,2373.000000,2310.500000,2343.500000,2093.712158,53935799
520,2019-09-23,2353.500000,2414.500000,2311.500000,2408.500000,2151.783936,45485098
521,2019-09-30,2409.000000,2417.000000,2263.500000,2319.000000,2071.823730,35640122

In [46]:
shell.dtypes

Date         object
Open         object
High         object
Low          object
Close        object
Adj_Close    object
Volume       object
dtype: object

In [47]:
shell['High']= shell['High'].astype(float)
shell['Low']= shell['Low'].astype(float)
shell['Close']= shell['Close'].astype(float)
shell['Volume']= shell['Volume'].astype(float)

In [48]:
shell['shell_Difference'] = (shell['High'] - shell['Low'])/shell['Close']*100
shell.drop(labels= ['High', 'Low', 'Open', 'Adj_Close'], axis=1, inplace=True)
shell = shell.rename(columns={"Close":"shell_Close", "Volume":"shell_Volume"})

In [49]:
shell.head()

         Date  shell_Close  shell_Volume  shell_Difference
0  2019-10-07       2290.5    43462714.0          2.990613
1  2019-10-14       2240.0    40636681.0          4.374553
2  2019-10-21       2325.5    28698016.0         99.179187
3  2019-10-28       2260.5    40717990.0          4.954656
4  2019-11-04       2341.0    59819909.0        100.510679

In [50]:
stock_price = pd.merge(uga, shell, on='Date')

In [51]:
stock_price

,Date,uga_Close,uga_Volume,uga_Difference,shell_Close,shell_Volume,shell_Difference
0,2019-10-07,30.459999,37400.0,5.712410,2290.5,43462714.0,2.990613
1,2019-10-14,30.000000,31500.0,2.100003,2240.0,40636681.0,4.374553
2,2019-10-21,31.139999,37400.0,5.780350,2325.5,28698016.0,99.179187
3,2019-10-28,31.540001,50700.0,5.009512,2260.5,40717990.0,4.954656
4,2019-11-04,31.170000,49200.0,5.646458,2341.0,59819909.0,100.510679
...,...,...,...,...,...,...,...
517,2019-09-02,28.820000,76200.0,8.501037,2259.5,32084357.0,2.766099
518,2019-09-09,28.510000,41200.0,6.453879,2282.5,32091732.0,3.088719
519,2019-09-16,30.670000,151100.0,8.444734,2343.5,53935799.0,2.666951
520,2019-09-23,29.790001,53200.0,4.867402,2408.5,45485098.0,4.276521
521,2019-09-30,29.180000,31000.0,5.277584,2319.0,35640122.0,6.619232

In [52]:
stock_price = spark.createDataFrame(stock_price)
stock_price.printSchema()
stock_price.write.parquet("/project/DataEngineering/parquet_files/stock_price.parquet", mode ='overwrite')

root
 |-- Date: string (nullable = true)
 |-- uga_Close: double (nullable = true)
 |-- uga_Volume: double (nullable = true)
 |-- uga_Difference: double (nullable = true)
 |-- shell_Close: double (nullable = true)
 |-- shell_Volume: double (nullable = true)
 |-- shell_Difference: double (nullable = true)

We already have the stock price related data of UGA and Shell, the prices of fuel in the UK and America are supposed to be taken account it. Consequently, the price will be web scraped from govenment websites.

Since we want to compare the fuel price and stock price later, the date range should be uniformed. In this case, a part of data will be selected as a new data table.

In [53]:
us_fuelprice.sort_values(by='Date', inplace= True)
us_fuelprice.reset_index(drop = True, inplace=True)

# Get the position of where we should start
us_fuelprice.loc[us_fuelprice['Date'] == "2012/04/16"]

           Date  Price
906  2012/04/16  3.923

In [54]:
us_price= us_fuelprice[906:-1]
us_price.reset_index( drop = True, inplace=True)
us_price['Price'] = pd.to_numeric(us_price['Price'])
us_price

<ipython-input-54-3355b2f5798a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_price['Price'] = pd.to_numeric(us_price['Price'])

           Date  Price
0    2012/04/16  3.923
1    2012/04/23  3.861
2    2012/04/30  3.821
3    2012/05/07  3.773
4    2012/05/14  3.713
..          ...    ...
517  2022/03/14  4.252
518  2022/03/21  4.165
519  2022/03/28  4.152
520  2022/04/04  4.096
521  2022/04/11  4.019

[522 rows x 2 columns]

In [55]:
difference = []

i=520
while i >= 0:
    diff = us_price['Price'].iloc[i+1] -us_price['Price'].iloc[i]
    difference.append(diff)
    i -= 1

difference = difference[ : : -1]    
difference.append(-0.027)

In [56]:
us_price['us_diff'] = difference
us_price['us_diff'].round(decimals = 3)
us_price.columns = ['Date', 'us_price', 'us_diff']

<ipython-input-56-5d9ef46b5688>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_price['us_diff'] = difference

0     -0.062
1     -0.040
2     -0.048
3     -0.060
4     -0.037
       ...
517   -0.087
518   -0.013
519   -0.056
520   -0.077
521   -0.027
Name: us_diff, Length: 522, dtype: float64

In [57]:
us_price

           Date  us_price  us_diff
0    2012/04/16     3.923   -0.062
1    2012/04/23     3.861   -0.040
2    2012/04/30     3.821   -0.048
3    2012/05/07     3.773   -0.060
4    2012/05/14     3.713   -0.037
..          ...       ...      ...
517  2022/03/14     4.252   -0.087
518  2022/03/21     4.165   -0.013
519  2022/03/28     4.152   -0.056
520  2022/04/04     4.096   -0.077
521  2022/04/11     4.019   -0.027

[522 rows x 3 columns]

In [58]:
us_price['Date'] = [i.replace("/", '-') for i in us_price['Date']]
us_price

<ipython-input-58-b5ff215a1cd3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_price['Date'] = [i.replace("/", '-') for i in us_price['Date']]

           Date  us_price  us_diff
0    2012-04-16     3.923   -0.062
1    2012-04-23     3.861   -0.040
2    2012-04-30     3.821   -0.048
3    2012-05-07     3.773   -0.060
4    2012-05-14     3.713   -0.037
..          ...       ...      ...
517  2022-03-14     4.252   -0.087
518  2022-03-21     4.165   -0.013
519  2022-03-28     4.152   -0.056
520  2022-04-04     4.096   -0.077
521  2022-04-11     4.019   -0.027

[522 rows x 3 columns]

In [59]:
uk_fuelprice=spark.read.parquet("/project/DataEngineering/parquet_files/uk_fuelprice.parquet").toPandas()
uk_fuelprice

           Date    uk_price   uk_diff
0    2012-11-12  135.086015 -1.347000
1    2012-11-19  134.561207 -0.524808
2    2012-11-26  134.375909 -0.185298
3    2012-12-03  133.049633 -1.326276
4    2012-12-10  132.548633 -0.501000
..          ...         ...       ...
979  2022-03-14  159.960000  7.010000
980  2022-03-21  165.370000  5.410000
981  2022-03-28  162.651769 -2.718231
982  2022-04-04  161.910000 -0.741769
983  2022-04-11  161.780000 -0.130000

[984 rows x 3 columns]

In [60]:
# Sort the dataframe by time
uk_fuelprice.sort_values(by='Date', inplace= True)
uk_fuelprice.reset_index(drop = True, inplace= True)

In [61]:
timestampStr = [i.strftime("%Y/%m/%d") for i in uk_fuelprice['Date']]

In [62]:
uk_fuelprice['Date'] = timestampStr

uk_fuelprice[uk_fuelprice['Date'] == '2012/04/16']

uk_price = uk_fuelprice[462:].reset_index( drop=True)
uk_price['uk_diff'] = uk_price['uk_diff'].round(decimals = 3)
uk_price['Date'] = [i.replace("/", '-') for i in uk_price['Date']]
uk_price

           Date    uk_price  uk_diff
462  2012/04/16  142.172754  0.20121

           Date    uk_price  uk_diff
0    2012-04-16  142.172754    0.201
1    2012-04-23  141.759020   -0.414
2    2012-04-30  141.004212   -0.755
3    2012-05-07  140.136502   -0.868
4    2012-05-14  138.286574   -1.850
..          ...         ...      ...
517  2022-03-14  159.960000    7.010
518  2022-03-21  165.370000    5.410
519  2022-03-28  162.651769   -2.718
520  2022-04-04  161.910000   -0.742
521  2022-04-11  161.780000   -0.130

[522 rows x 3 columns]

In [63]:
fuel_price = pd.merge(us_price, uk_price, on='Date')

In [64]:
fuel_price = spark.createDataFrame(fuel_price)
fuel_price.printSchema()
fuel_price.write.parquet("/project/DataEngineering/parquet_files/fuel_price.parquet", mode = "overwrite")

root
 |-- Date: string (nullable = true)
 |-- us_price: double (nullable = true)
 |-- us_diff: double (nullable = true)
 |-- uk_price: double (nullable = true)
 |-- uk_diff: double (nullable = true)

In [65]:
new= pd.merge(us_price, uga, on='Date')
us_diff = new[['Date', 'us_diff', 'uga_Difference']]
us_diff = spark.createDataFrame(us_diff)
us_diff.printSchema()
us_diff.write.parquet("/project/DataEngineering/parquet_files/us_diff.parquet", mode='overwrite')

root
 |-- Date: string (nullable = true)
 |-- us_diff: double (nullable = true)
 |-- uga_Difference: double (nullable = true)

In [66]:
us_info = new[['Date', 'uga_Close', 'uga_Volume', 'uga_Difference', 'us_price']]
us_info =  spark.createDataFrame(us_info)
us_info.printSchema()
us_info.write.parquet("/project/DataEngineering/parquet_files/us_info.parquet", mode='overwrite')

root
 |-- Date: string (nullable = true)
 |-- uga_Close: double (nullable = true)
 |-- uga_Volume: double (nullable = true)
 |-- uga_Difference: double (nullable = true)
 |-- us_price: double (nullable = true)

In [67]:
new2= pd.merge(uk_price, shell, on='Date')
uk_diff = new2[['Date', 'uk_diff', 'shell_Difference']]
uk_diff = spark.createDataFrame(uk_diff)
uk_diff.printSchema()
uk_diff.write.parquet("/project/DataEngineering/parquet_files/uk_diff.parquet", mode='overwrite')

root
 |-- Date: string (nullable = true)
 |-- uk_diff: double (nullable = true)
 |-- shell_Difference: double (nullable = true)

In [68]:
uk_info = new2[['Date', 'shell_Close', 'shell_Volume', 'shell_Difference', 'uk_price']]
uk_info = spark.createDataFrame(uk_info)
uk_info.printSchema()
uk_info.write.parquet("/project/DataEngineering/parquet_files/uk_info.parquet", mode='overwrite')

root
 |-- Date: string (nullable = true)
 |-- shell_Close: double (nullable = true)
 |-- shell_Volume: double (nullable = true)
 |-- shell_Difference: double (nullable = true)
 |-- uk_price: double (nullable = true)

In [69]:
!PGPASSWORD=qwerty123 psql -h depgdb.crhso94tou3n.eu-west-2.rds.amazonaws.com -d huizihu21 -U huizihu21 -c '\i Schema.sql'

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

psql:Schema.sql:1: NOTICE:  schema "fuel_and_stock_price" does not exist, skipping
DROP SCHEMA
CREATE SCHEMA
psql:Schema.sql:6: NOTICE:  table "stock_price" does not exist, skipping
DROP TABLE
psql:Schema.sql:7: NOTICE:  table "fuel_price" does not exist, skipping
DROP TABLE
psql:Schema.sql:8: NOTICE:  table "us_info" does not exist, skipping
DROP TABLE
psql:Schema.sql:9: NOTICE:  table "uk_info" does not exist, skipping
DROP TABLE
psql:Schema.sql:10: NOTICE:  table "us_diff" does not exist, skipping
DROP TABLE
psql:Schema.sql:11: NOTICE:  table "uk_diff" does not exist, skipping
DROP TABLE
psql:Schema.sql:21: ERROR:  type "varcahr" does not exist
LINE 2:   "Date" varcahr PRIMARY KEY,
                 ^
CREATE TABLE
CREATE TABLE
CREATE TABLE
psql:Schema.sql:51: ERROR:  type "varcahr" does not exist
LINE 2:   "Date" varcahr PRIMARY KEY,
                 ^
psql:Schema.sql:57: ERROR:  type "varcahr" does not exist
LINE 2:   "Date" varcahr PRIMARY KEY,
                 ^
psql:Schema.sql:59: ERROR:  relation "stock_price" does not exist
psql:Schema.sql:61: ERROR:  relation "stock_price" does not exist
psql:Schema.sql:63: ERROR:  relation "stock_price" does not exist
psql:Schema.sql:65: ERROR:  relation "stock_price" does not exist
psql:Schema.sql:67: ERROR:  relation "stock_price" does not exist